<label id="poster_img_name"></label>
<input type="hidden" id="poster_img_url" name="poster_img_url"/>
<button id="{{ field.oid }}"
        class="btn btn-default {{ field.widget.css_class }}"
        name="{{ field.name }}">{{ field.widget.title }}</button>


<script type="text/javascript">
  deform.addCallback(
     '{{field.oid}}',
     function (oid) {
         $("#" + oid).click(function(){
            var openurl = "http://localhost:6543/add_image"
            var openstr = "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=400, height=400"
            window.open(openurl, "_blank", openstr);
         });

     });
</script>

