<label id="poster_img_name"></label>
<input type="hidden" id="{{ field.oid }}" name="{{ field.name }}"
        value="{{ cstruct }}"/>
<button id="{{ field.oid }}-btn"
        class="btn btn-default {{ field.widget.css_class }}">
    {{ field.widget.title }}</button>


<script type="text/javascript">
  deform.addCallback(
     '{{field.oid}}-btn',
     function (oid) {
         $("#" + oid).click(function(){
            var openurl = "/add_image"
            var openstr = "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, width=400, height=400"
            window.open(openurl, "_blank", openstr);
         });

     });
</script>

