{% if not field.widget.hidden %}
    <div
    {% if field.error and field.widget.error_class %}
      class="clearfix {{field.widget.error_class}}"
    {% else %}
      class="clearfix"
    {% endif %}
    {% if field.description %}
      title="{{_(field.description) }}"
    {% endif %}

    id="item-{{field.oid}}">
{% endif %}
<!-- mapping_item -->
{% if not (field.widget.hidden or field.widget.category=='structural') %}
  <label class="desc {% if field.widget.proportion %}col-md-{{ field.widget.proportion[0] }}{% endif %}"

    {% if field.description %}
      title="{{_(field.description)}}"
    {% endif %}
    for="{{field.oid}}">
    {{_(field.title)}}
    {% if field.required %}
        <span class="req" id="req-{{field.oid}}">*</span>
    {% endif %}
    </label>
{% endif %}
<div class="input {% if field.widget.proportion %}col-md-{{ field.widget.proportion[1] }}{% endif %}"  >
  {{field.serialize(cstruct)}}

    {{ field.widget.pair }}

  {% if field.error and not field.widget.hidden %}
    {% for msg in field.error.messages() %}
        {% set errstr = 'error-%s' % field.oid %}
        {% set pid = (loop.index0==0 and errstr) or ('%s-%s' % (errstr, loop.index0)) %}

        <span id="{{pid}}" class="help-inline {{field.widget.error_class}}">{{_(msg)}}</span>
    {% endfor %}
  {% endif %}
</div>
  <!-- /mapping_item -->
{% if not field.widget.hidden %}
    </div>
{% endif %}
