<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}


        <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->



        {% include "header.jinja2" %}



        <div class="mba-margin-top">

            <div class="container ">
                <br/>
                <div class="row">

                    <div class="col-md-3">

                        {%  include "/i/menu.jinja2" %}

                    </div>

                    <div class="col-md-9">

                        邀请我注册的人：
                        {% if user.invitation_code | length > 0 %}
                            {% set inviter = user.invitation_code[0].sender %}
                            <a href="/person/{{ inviter.id }}">{{ inviter.real_name }}</a>
                        {% else %}
                            无
                        {% endif %}




                        <table class="table table-bordered">
                        <tr>
                            <th>我的注册邀请码</th>
                            <th>状态</th>
                            <th>我邀请的人</th>
                            <th>过期日</th>

                        </tr>
                        {% for code in invitationcode %}
                            <tr>
                                <td>{{ code.code }}</td>
                                <td>
                                    {% if code.status == code.AVAILABLE %}
                                        可用
                                    {% elif code.status == code.USED  %}
                                        已使用
                                    {% else %}
                                        已过期
                                    {% endif %}

                                <td>
                                    {%  set reciever = code.reciever %}

                                    {% if reciever %}
                                        <a href="/person/{{ reciever.id }}">{{reciever.name or reciever.real_name }}</a>
                                    {% else %}
                                        无
                                    {% endif %}

                                </td>
                                <td>{{ code.expiration }}</td>
                            </tr>

                        {% else %}
                            <tr ><td colspan="3">暂未参加任何活动, 去<a href="/meetups">活动首页</a>看看?</td></tr>
                        {% endfor %}
                        </table>



                    </div>


                </div>
            </div>





        </div>


        {% include "footer.jinja2" %}


        {% include "inc/js.jinja2" %}


        <script type="text/javascript">


            $(function(){


            });

        </script>

    </body>
</html>
