            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">


                        <li class="active dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown"  href="/i/messages">
                            <b class="caret"></b>站内信
                          </a>
                          <ul class="dropdown-menu">
                              <li><a href="/i/messages/system">系统消息</a></li>
                              <li><a href="/i/messages/friend">好友私信</a></li>

                          </ul>
                      </li>

                      <li class="active dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown"  href="/i/invitations/meetup">
                            <b class="caret"></b>我的邀请
                          </a>
                          <ul class="dropdown-menu">
                              <li><a href="/i/invitations/meetup">活动邀请</a></li>
                              <li><a href="/i/invitations/person">人脉邀请</a></li>
                          </ul>
                      </li>
                        <li class="active dropdown">
                            <a class="dropdown-toggle" data-toggle=""  href="/i/invitationcode">
                                <b class="caret"></b>我的邀请码
                            </a>

                          </a>
                        </li>


                      <li class="active dropdown">
                          <a class="dropdown-toggle" data-toggle=""  href="/i/meetups">
                            <b class="caret"></b>我的活动
                          </a>

                      </li>


                      <li class="active dropdown">
                          <a class="dropdown-toggle" data-toggle=""  href="/i/authentications">
                            <b class="caret"></b>我的认证
                          </a>

                      </li>

                    </ul>
                </div>
            </div>

