<div id='cssmenu'>
<ul>

    <li class='has-sub'><a href='#'><span>站内信</span></a>
        <ul>
           <li><a href='/i/messages/system'><span>系统消息</span></a></li>
           <li class='last'><a href='/i/messages/friend'><span>好友私信</span></a></li>
        </ul>
     </li>
    <li class='has-sub'><a href='#'><span>我的邀请</span></a>
        <ul>
           <li><a href='/i/invitations/meetup'><span>活动邀请</span></a></li>
           <li class='last'><a href='/i/invitations/person'><span>人脉邀请</span></a></li>
        </ul>
     </li>
    <li><a href='/i/invitationcode'><span>我的邀请码</span></a></li>
    <li><a href='/i/meetups'><span>我的活动</span></a></li>
    <li class="last"><a href='/i/authentications'><span>我的认证</span></a></li>


</ul>
</div>


