<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}

        <style type="text/css">

        </style>


        <script src="fanstatic/mba/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->



        {% include "header.jinja2" %}





         <div class="mba-margin-top">

            <div class="container ">
                <br/>
                <div class="row">

                    <div class="col-md-3">

                        {%  include "/admin/menu.jinja2" %}

                    </div>

                    <div class="col-md-9">
                        {% include "messages.jinja2" %}
                        <h2>活动报名情况</h2>
                        <h5>{{ meetup.title }}</h5>

{#                        {% include "/admin/pagination.jinja2" %}#}
                        <form name="meetups_parts"  method="POST" >

                        <table class="table table-bordered">
                            <tr>
                                <th>选择</th>
                                <th>姓名</th>
                                <th>公司</th>
                                <th>职务</th>
                                <th>电话</th>
                            </tr>
                            {% for p in meetup.parts %}
                                <tr>
                                    <td><input type="checkbox" name="participate_check" value="{{ p.id }}"/></td>
                                    <td>
                                        <a href="/person/{{ p.id }}">{{ p.real_name }}</a>
                                    </td>
                                    <td>
                                        {{ p.company }}
                                    </td>
                                    <td>
                                        {{ p.title }}
                                    </td>
                                    <td>
                                        {{ p.phone }}
                                    </td>

                                </tr>


                        {% endfor %}

                        </table>
                       <button class="btn btn-sm btn-default" id="select-all">全选</button>
                            <button class="btn btn-sm btn-default" id="deselect-all">全不选</button>

                            <input type="submit" class="btn btn-sm btn-default" name="delete" value="取消选中人参加活动" />

                        </form>




                    </div>


                </div>
            </div>
        </div>


        {% include "footer.jinja2" %}



        {% include "inc/js.jinja2" %}


        <script type="text/javascript">
            $(function(){

               $("li#li_admin").parent().find("li").removeClass("active");
               $("li#li_admin").addClass("active");

                var checks = $("form[name='meetups_parts'] input[type='checkbox']");
                $("#select-all").click(function(e){
                    $.each(checks,function(index, item){
                       item.checked = true;
                    });
                    return false;
                });
                $("#deselect-all").click(function(e){
                    $.each(checks,function(index, item){
                       item.checked = false;
                    });
                    return false;
                });


            });
        </script>





    </body>
</html>
