
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}

        <style type="text/css">
            #pjax-content {
                /*border: solid 1px #dcdcdc;*/
            }
        </style>


        <script src="fanstatic/mba/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->



        {% include "header.jinja2" %}





         <div class="mba-margin-top">

            <div class="container ">
                <br/>
                <div class="row">

                    <div class="col-md-3">

                        {%  include "/admin/menu.jinja2" %}

                    </div>

                    <div class="col-md-9">


                        {% include "messages.jinja2" %}

                        <h2>活动类别管理</h2>


                        <table class="table table-striped table-bordered">
                            <tr>
                                <th>ID</th>
                                <th>活动类别名</th>
                                <th>操作</th>
                            </tr>
                            {% for type in meetup_types %}
                            <tr>
                                <td>{{ type.id }}</td>
                                <td>{{ type.title }}</td>
                                <td>
                                    <button class="meetuptype_modify" id="mdf-{{ type.id }}" value="do-modify">修改</button>
                                    <button class="meetuptype_delete" id="del-{{ type.id }}" value="do-delete">删除</button>
                                </td>
                            </tr>
                            {% endfor %}

                        </table>

                        <button class="meetuptype_add" id="add-meetup-type" value="do-add">添加</button>

                    </div>


                </div>
            </div>
        </div>


        {% include "footer.jinja2" %}



        {% include "inc/js.jinja2" %}


        <script type="text/javascript">
            $(function(){

               $("li#li_admin").parent().find("li").removeClass("active");
               $("li#li_admin").addClass("active");


                function do_job(method, options, callback){

                    $.extend(options, {'method':method});
                    $.post('/admin/meetups/types',options, callback);
                }



                $('.meetuptype_modify').click(function(){
                    var self = this;
                    var btn = $(this).html().trim();

                    var titlewrap = $(this).parent().prev();
                    if( btn === '修改'){
                        var title = titlewrap.html().trim();
                        titlewrap.html($('<input/>').attr('type', 'text').val(title));
                        $(this).html('确定');

                    }else {
                        var title = titlewrap.children(0).val().trim();
                        titlewrap.html(title);
                        do_job('mdf-mt',{'mt-title':title,'mt-id': titlewrap.prev().html().trim() },function(ret){
                            $(self).html('修改');
                            window.location.reload();
                        });
                    }
                 });


                $('.meetuptype_delete').click(function(){
                    var self = this;
                    var titlewrap = $(this).parent().prev();
                    if( confirm('确认删除此条目？') ) {
                        var mt_id = $(self).attr('id').substr(4);
                        var title = titlewrap.html().trim();
                        do_job('del-mt', {'mt-id': mt_id, 'mt-title': title}, function () {
                            window.location.reload();
                        });
                    }
                });


                $('#add-meetup-type').click(function(){

                });



                /*
                $(document).pjax('.home-menu a', '#pjax-content');
                 */
            });
        </script>





    </body>
</html>
