                        <div class="panel panel-default">
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                  <li class="active dropdown">
                                      <a class="dropdown-toggle" data-toggle="dropdown"  href="/admin/meetups">
                                        <b class="caret"></b>活动管理                                        
                                      </a>
                                      <ul class="dropdown-menu">
                                          <li><a href="/admin/meetup/add">发布活动</a></li>
                                          <li><a href="/admin/meetups">所有活动</a></li>
                                          <li class="divider"></li>                                          
                                          <li><a href="/admin/meetups">正报名的活动</a></li>                                          
                                          <li><a href="/admin/meetups">正进行的活动</a></li>
                                          <li><a href="/admin/meetups">已举办的活动</a></li>
                                          <li class="divider"></li>
                                          <li><a href="/admin/meetups/types">活动类别管理</a></li>
                                      </ul>
                                  </li>
                                  
                                  <li class="active dropdown">
                                      <a class="dropdown-toggle" data-toggle="dropdown"  href="/admin/reviews">
                                        <b class="caret"></b>活动回顾                                        
                                      </a>
                                      <ul class="dropdown-menu">
                                          <li><a href="/admin/review/add">发布回顾</a></li>
                                          <li><a href="/admin/reviews">所有回顾</a></li>
                                      </ul>
                                  </li>  
                                  


                                  <li class="active dropdown">
                                      <a class="dropdown-toggle" data-toggle="dropdown"  href="/admin/infomations">
                                        <b class="caret"></b>推荐信息
                                      </a>
                                      <ul class="dropdown-menu">
                                          <li><a href="/admin/infomation/add">发布推荐信息</a></li>
                                          <li><a href="/admin/infomations">所有推荐信息</a></li>
                                      </ul>
                                  </li>


                                  <li class="active dropdown">
                                      <a class="dropdown-toggle" data-toggle="dropdown"  href="/admin/banners">
                                        <b class="caret"></b>BANNER管理
                                      </a>
                                      <ul class="dropdown-menu">
                                          <li><a href="/admin/banner/add">添加首页BANNER</a></li>
                                          <li><a href="/admin/banners">首页BANNER</a></li>
                                      </ul>
                                  </li>

                                  
                                    <li class="active dropdown">
                                      <a class="dropdown-toggle" data-toggle="dropdown"  href="/admin/persons">
                                        <b class="caret"></b>用户管理
                                      </a>
                                      <ul class="dropdown-menu">
                                          <li><a href="/admin/persons">所有用户</a></li>

                                          <li class="divider"></li>
                                          <li><a href="/admin/persons/unauth">待资料认证用户</a></li>
                                          <li><a href="/admin/persons/authfail">资料认证不通过用户</a></li>
                                          <li><a href="/admin/persons/authed">资料认证通过用户</a></li>
                                          <li class="divider"></li>
                                          <li><a href="/admin/persons/banned">已封禁用户</a></li>


                                      </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
    