                        <ul class="pagination">


                            
                            <li {% if page_index == 1 %} class="disabled" {% endif %}><a href="#">&laquo;</a></li>
                            
                            {% if page_index >= 3 %}
                                <li><a href="{{ url_prefix }}/{{ page_index-2 }}">{{page_index-2}}</a></li>
                            {% endif %}
                            {% if page_index >= 2 %}
                                <li><a href="{{ url_prefix }}/{{ page_index-1 }}">{{page_index-1}}</a></li>
                            {% endif %}       
                            
                            <li class="active"><a href="#">{{page_index}}</a></li>
                            
                            
                            {% if page_index <= total_page-1 %}
                            <li><a href="{{ url_prefix }}/{{ page_index + 1 }}">{{page_index + 1}}</a></li>
                            {% endif %}
                            
                            {% if page_index <= total_page-2 %}
                            <li><a href="{{ url_prefix }}/{{ page_index + 2 }}">{{page_index + 2}}</a></li>
                            {% endif %}
                            
                            <li {% if page_index == total_page %} class="disabled" {% endif %}><a href="#">&raquo;</a></li>
                            
                        </ul>