

        <!-- this file confict with the jquery(version1.7 that deform used:
         <script src="fanstatic/mba/js/vendor/jquery-1.10.2.min.js"></script>-->

        <!--
        <script type="text/javascript" src="fanstatic/mba/js/vendor/jquery.pjax.js"></script>
        -->
        <!-- Bootstrap -->
        <script src="fanstatic/mba/bootstrap/js/bootstrap.min.js"></script>
        <script src="fanstatic/mba/js/plugins.js"></script>
        <script src="fanstatic/mba/js/main.js"></script>



        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>