                                <div class="myinfo-header row">

                                    <div class="col-md-6">
                                       <a href="/i/messages">
                                           <img alt="{{ user.name }}"class="navbar-avatar" src="{{ user.avatar_prefix }}{{ user.avatar }}"
                                                    width="80px" height="80px"/>
                                       </a>
                                       <div class="zyno">志友会员号: {{ '%08d' % user.id}}</div>
                                    </div>

                                    <div class="col-md-6 header-right">
                                        <h2>{{ user.real_name or user.name }}</h2>
                                        <div>常住地：{{ user.city_name or '未填写'  }}</div>

                                        {% set auth_i = (user.auth_info == user.AUTH_STATUS_AUTHED) %}
                                        {% set auth_m = (user.auth_meetup == user.AUTH_STATUS_AUTHED) %}
                                        {% set auth_f = (user.auth_friend == user.AUTH_STATUS_AUTHED) %}
                                        {% set auth_e = (user.auth_expert == user.AUTH_STATUS_AUTHED) %}
                                        {% set auth_h = (user.auth_honesty) %}


                                        <div class="basic_info">

                                            <i class="auth_icon info_auth {% if not auth_i %}info_auth_disable{% endif %}"
                                                  title="资料认证: {% if auth_i %}已认证。{% else %}未认证。{% endif %}管理员确认后即可获得该认证"></i>
                                            <i class="auth_icon activity_auth {% if not auth_m %}activity_auth_disable{% endif %}"
                                                  title="活动认证: {% if auth_m %}已认证。{% else %}未认证。{% endif %}成功参加一次志友汇活动即可获得该认证"></i>
                                            <i class="auth_icon friend_auth {% if not auth_f%}friend_auth_disable{% endif %}"
                                                  title="校友认证: {% if auth_f %}已认证。{% else %}未认证。{% endif %}与10名校友成功交换名片即可获得该认证"></i>

                                            <i class="auth_icon honesty_auth {% if not auth_h %}honesty_auth_disable{% endif %}"
                                                    title="诚信认证: {% if auth_h %}已认证。{% else %}未认证。{% endif %}完成任意两项基本认证可获得"></i>

                                            <i class="auth_icon expert_auth {% if not auth_e %}expert_auth_disable{% endif %}"
                                              title="专家认证: {% if auth_e %}已认证。{% else %}未认证。{% endif %}经过友汇网审核的专家将点亮"></i>


                                        </div>

                                    </div>
                                </div>