ul,dl,dt,dd,h1,h2,h3,h4,h5,h6,p{padding:0; margin:0;}

ul {
  list-style-type: none; }
}
body {
  font-family: "微软雅黑", "宋体", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
body h1,
body h2,
body h3 {
  font-family: "微软雅黑", "黑体", "宋体", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
.mba-nav {
  
  border: 0;
}
.mba-nav .navbar-header .navbar-brand {
  margin: 0 ;
  padding: 0 ;
}
.mba-nav .navbar-collapse {
  margin-top: 12px;
}
.mba-nav .navbar-collapse .navbar-nav {
	
  padding-left: 5px;
}
.mba-nav .navbar-collapse .navbar-nav > li > a {
	
  color: white;
}
.mba-nav .navbar-collapse .navbar-nav > li > a:hover,
.mba-nav .navbar-collapse .navbar-nav > a:focus {
  background-color: #6c94be;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.mba-margin-top {
  margin-top: 78px;
}
.mba-carousel .carousel-inner .item {
  background-color: #2e70ba;
}
.mba-carousel .carousel-inner .item img {
  margin: auto;
}
.mba-carousel .carousel-control {
  display: none ;
}
.mba-login {
  
  position:absolute;
  left:170px;
  bottom:25px;
}
.mba-index-main {
  /*border-bottom: solid 1px #cccccc;*/
}
.mba-index-main ul li {
  line-height: 30px;
}
.mba-banner{
  background-color: RGB(41,103,178);
}
.mba-footer {
  background-color: #cccccc;
  border-top: solid 1px #ffffff;
  padding-bottom: 40px;
  padding-top:31px;
}
.mba-footer .mba-weixin {
  margin-top: 20px;
}

.mba-resume-total-grid{
  border-top: 0px;
  border-left: 1px solid RGB(232,232,232);
  border-right: 1px solid RGB(232,232,232);
  border-bottom: 1px solid RGB(232,232,232);
  
  background:url("../images/my_resume_head_bg.jpg") repeat-x;
  border-top: 1px;
}

.mba-my-resume-cnt{
  border-top: 0px;
  border-left: 1px solid RGB(243,243,243);
  border-right: 1px solid RGB(243,243,243);
  border-bottom: 1px solid RGB(243,243,243);
}

.mba-footer .mba-weixin {
  margin-top: 20px;
}

.mba-right-nav{
	background-color:RGB(234,243,238);
	min-height: 120px;
}

.mba-right-nav-cnt{
	margin:20px;
	padding:20px;
	background-color:white;
}

.mba-resume-edit
{
  /*background:url("img/resume_edit.jpg") center;*/
}

.mba-resume-refresh
{
  background:url("img/resume_refresh.jpg") center;
}

.mba-resume-preview
{
  /*background:url("img/resume_preview.jpg") center;*/
}

/*头部的搜索框*/
.search_box{border:1px solid #e2e9e1; width:278px; height:28px; background-color:#fff; float:left;}
.search_box .search_input{padding-left:12px; width:250px; color:#bbb; border:none;}
.search_box .search_btn{background:url(../images/ico-search.jpg) right 0 no-repeat; width:16px; height:16px; border:none;}