
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="/fanstatic/mba/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/fanstatic/mba/css/main.css">
        <link rel="stylesheet" type="text/css" href="/fanstatic/mba/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/fanstatic/mba/css/all.css">

        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
        <style>

            body{
                background-color: #E3EBDF;
            }

            .activity-left{
                text-align: center;
                margin-top: 20px;
            }

            .left-section{
                border: 2px solid #DFDFDF;
                background-color: #F5F5F5;
                margin: 20px 0;
                border-right: 1px solid #DFDFDF;
            }

            .activity-left .activity-menu{
                margin-top: 0;
            }

            .activity-left .activity-menu li{
                text-decoration: none;
                list-style: none;
                list-style-type: none;
                line-height: 30px;
            }



            .speaker{
                padding: 10px;
            }

            .speaker-splitter{
                margin:   10px -10px 10px -10px;
            }

            .speaker-introduction {
                text-align: left;
                line-height: 20px;
            }

            .activity-right{
                margin: 10px 0;
            }
            .activity-section{
                background-color: #F5F5F5;
                margin: 15px;
                padding: 20px;
            }

            .activity-comments .comments-splitter{
                margin:   10px -10px 10px -10px;
            }

            .activity-comments{
                text-align: left;
                vertical-align: middle;
                padding: 10px;
            }

            .activity-comments ul{
                padding: 0;
            }

            .activity-comments hr{
                margin: 2px;
            }

            .activity-section .section-title{
                border-left: 2px solid #2e70ba;
                margin-bottom: 8px;
                margin-left: -20px;
                padding-left: 20px;
            }

            .activity-status{
                float: right;
            }

            .activity-status-ongoing{
                color:blue;
            }
            .activity-status-finished{
                color:red;
            }

            h1.activity-title{
                display: inline;
                font-size: 24px;
                padding-left: 30px;
            }

            .applicant {
                display: inline-block;
                width: 32px;
                text-align: center;
            }

            .apply-section{
                margin: 40px 80px 150px 0;
            }

            .btn-apply{
                float: right;
            }

        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->



        {% include "header.jinja2" %}



       <!--  <div class="mba-margin-top">
            <div style="background-color: #285e8e;height: 120px;font-size: 50px">
                TEMP BANNER
            </div>
        </div> -->
        <div class="container-fluid mba-margin-top mba-banner" >
            <center><img src="static/img/banner.jpg"></center>
        </div>

        <div class="activity-main">

            <div class="container">

                <div class="row">

                    <div class="col-md-10 col-md-offset-1">

                        <div class="container">
                        <div class="row">

                            <div class="activity-left col-md-2">
                                <div class="left-section activity-menu">
                                    {%  include "activity-menu.jinja2" %}
                                </div>

                                <div class="left-section speaker">
                                    <div class="speaker-avatar">
                                        <a href="#">
                                            <!--TODO:URL link to speaker's homepage-->
                                            <img src="static/img/avatars/speaker-yqc.jpg" title="{{ speaker }}"/>
                                        </a>
                                    </div>

                                    <hr class="speaker-splitter"/>

                                    <div class="speaker-introduction">
                                       嘉宾简介：
                                        <p>
                                           {{ speaker_introduction }}
                                        </p>
                                    </div>
                                </div>

                                <div class="left-section activity-comments">
                                    <div>评价：</div>
                                    <hr class="comments-splitter"/>
                                    <ul>
                                        <li> <img src="static/img/avatars/speaker-yqc.jpg" width="20px" height="20px"/> 还不错</li>
                                        <hr/>
                                        <li><img src="static/img/avatars/avatar-unknown-micro.jpg" width="20px" height="20px"/> 李老师的讲座，值得参与</li>
                                        <hr/>
                                        <li><img src="static/img/avatars/avatar-unknown-micro.jpg" width="20px" height="20px"/> 5星..</li>
                                    </ul>
                                </div>

                            </div>


                            <div class="activity-right col-md-8">

                                <div class="activity-title-wrapper activity-section">
                                    <h1 class="activity-title">
                                        {{ title }}
                                    </h1>
                                    <span class="activity-status {% if status %} activity-status-ongoing {% else %} activity-status-finished {% endif %} ">
                                        {{ status_desc }}
                                    </span>
                                </div>


                                <div class="activity-subject-wrapper activity-section">
                                    <div class="section-title"> 分享主题：</div>
                                    <div class="activity-subject">
                                        <p>
                                            《人格结构与人格分析》即通过成功人士的人格分析隐射出来成功原因，同时更加清楚的认知自己！
                                        <br/>
                                            骆雄华先生，80年代美国MBA；赛博集团和百脑汇创办人兼总；AIC工程创办人兼董事长。分享主题：《信任的力量》
                                            ...
                                        </p>
                                    </div>
                                </div>

                                <div class="activity-subject-wrapper activity-section">
                                    <div class="section-title"> 活动简介：</div>
                                    <div class="activity-abstract">
                                        <p>
                                            成功的人总是会受到社会大众的尊敬！无论他是创业者还是决策者，无论他是风险的承担者还是财富的缔造者....他们的管理风格不尽相同，他们的人格魅力同样各领风骚....
                                            <br/>
                                            第六期志友汇大沙龙为你揭开人格分析的神密面纱,我们特邀....
                                        </p>


                                    </div>
                                </div>



                                <div class="activity-subject-wrapper activity-section">
                                    <div class="section-title"> 温馨提示：</div>
                                    <div class="activity-tips">
                                        <p>
                                            1.活动名额有限，确认报名的前60人获得本期沙龙的参与权<br/>
                                            2.活动半小时为签到时间，请于xx准时入场 <br/>
                                            3.参与活动人员请当天带名片，便于相互认识和交流<br/>
                                            4.....<br/>
                                            活动日期:2014年1月5日<br/>
                                            活动时间:14：00-17：00<br/>
                                            活动地点：深圳市罗湖区xxxx俱乐部<br/>
                                        </p>
                                    </div>
                                </div>

                                <div class="activity-applicants activity-section">
                                    <div class="section-title"> 89人参加：</div>
                                    <div class="applicants">
                                        {% for applicant in applicants %}
                                            <div class="applicant">
                                                <!--TODO: may be a A href is needed -->

                                                <img src="static/img/avatars/avatar-unknown-micro.jpg"/>

                                                <span>{{ applicant }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>


                                <div class="apply-section">
                                    <input type="button" class="btn-apply btn btn-primary btn-lg" value="我要报名"/>
                                </div>

                            </div>

                            <div>

                            </div>

                        </div>
                        </div>

                    </div>


                </div>

            </div>

        </div>

        {% include "footer.jinja2" %}





        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>


        <!-- Bootstrap -->
        <script src="static/bootstrap/js/bootstrap.min.js"></script>

        <script src="static/js/plugins.js"></script>

        <script src="static/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
