<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>找找看</title>
<link href="/fanstatic/mba/css/new_style.css" type="text/css" rel="stylesheet">
</head>

<body>
<div id="header">
    <div id="headbox"> 
      <ul>
        <li class="active"><a href="/">首页</a></li>
        <li><a href="/activity">我的活动</a></li>
        <li><a href="/find">找找看</a></li>
        <li class="no_margin"><a href="/job">求职</a></li>
     </ul>
       <div class="search_box clearfix">
          <input type="text" class="search_input" placeholder="搜索你感兴趣的活动"/>
          <button class="search_btn" ></button>
       </div>
  </div>

</div>
<div id="bar"></div>
<div id="main" class="clearfix">
  <div id="content">
     <div class="con_title clearfix"><h2 class="fl">近期将要开始的活动</h2><a href="#"><strong>查看往期活动&gt;&gt;</strong></a></div>
     <dl class="clearfix">
      <dt class="fl"><img src="/fanstatic/mba/images/content1.gif"/></dt>
     <dd class="fl">
       <p>不带钱包的一天：3W咖啡智能生活体验馆开放日<br>
           分享嘉宾：<br>
           地点：北京& 深圳3W咖啡<br>
           时间：04月26日10：00 - 04月27日21：00<br>
           费用：0元/人<br>
           限额：1000人  (134人已报名)
       </p>
       <a href="#"><img src="/fanstatic/mba/images/search_btn.gif"/></a>
     </dd>
     </dl>
     <dl class="clearfix">
      <dt class="fl"><img src="/fanstatic/mba/images/content1.gif"/></dt>
     <dd class="fl">
       <p>不带钱包的一天：3W咖啡智能生活体验馆开放日<br>
           分享嘉宾：<br>
           地点：北京& 深圳3W咖啡<br>
           时间：04月26日10：00 - 04月27日21：00<br>
           费用：0元/人<br>
           限额：1000人  (134人已报名)
       </p>
      <a href="#"><img src="/fanstatic/mba/images/search_btn.gif"/></a>
     </dd>
     </dl>
     <dl class="clearfix">
      <dt class="fl"><img src="/fanstatic/mba/images/content1.gif"/></dt>
     <dd class="fl">
       <p>不带钱包的一天：3W咖啡智能生活体验馆开放日<br>
           分享嘉宾：<br>
           地点：北京& 深圳3W咖啡<br>
           时间：04月26日10：00 - 04月27日21：00<br>
           费用：0元/人<br>
           限额：1000人  (134人已报名)
       </p>
     <a href="#"><img src="/fanstatic/mba/images/search_btn.gif"/></a>

     </dd>
     </dl>
     <dl class="clearfix">
      <dt class="fl"><img src="/fanstatic/mba/images/content1.gif"/></dt>
     <dd class="fl">
       <p>不带钱包的一天：3W咖啡智能生活体验馆开放日<br>
           分享嘉宾：<br>
           地点：北京& 深圳3W咖啡<br>
           时间：04月26日10：00 - 04月27日21：00<br>
           费用：0元/人<br>
           限额：1000人  (134人已报名)
       </p>
     <a href="#"><img src="/fanstatic/mba/images/search_btn.gif"/></a>

     </dd>
     </dl>
     <dl class="clearfix">
      <dt class="fl"><img src="/fanstatic/mba/images/content1.gif"/></dt>
     <dd class="fl">
       <p>不带钱包的一天：3W咖啡智能生活体验馆开放日<br>
           分享嘉宾：<br>
           地点：北京& 深圳3W咖啡<br>
           时间：04月26日10：00 - 04月27日21：00<br>
           费用：0元/人<br>
           限额：1000人  (134人已报名)
       </p>
    <a href="#" style=" display:block;"><img src="/fanstatic/mba/images/search_btn.gif"/></a>

     </dd>
     </dl>
    
  
  </div>
  <div id="side">
     <div class="side_box">
       <dl class="address">
          <dt>地址</dt>
           <dd>北京</dd>
           <dd>深圳</dd>
           <dd>成都</dd>
       </dl>
     </div>
   <dl class="active_tag">
     <dt>活动标签</dt>
     <dd class="active">全部(7个活动)</dd>   
     <dd>语音时代（7个活动）</dd>   
     <dd class="over">深圳（1个活动）</dd>   
     <dd>投资（1个活动）</dd>   
     <dd class="over">开发者（1个活动）</dd>   
   
   </dl>
  </div>
</div>
<div id="footer"></div>
</body>
</html>
