{%  block footer %}
<footer class="mba-footer" style="">
            <div class="container">
                <div class="row">

                    <div class="col-md-10 col-md-offset-1">

                        <div class="row">

                            <div class="col-md-4 mba-guide">
                                <h3 class="footer" style="font-weight: bold;text-align: center;margin-top:16px;margin-bottom:16px;">用户指南</h3>
                                <ul style="padding-left:115px">
                                    <li>关于MBAers</li>
                                    <li>联系我们</li>
                                    <li>服务条款</li>
                                    <li>隐私政策</li>
                                </ul>
                            </div>


                            <div class="col-md-4 mba-weixin" style="margin-top:0px">
                                        <h3  class="footer" style="font-weight: bold;text-align: center;margin-top:16px;margin-bottom:16px;">官方微信</h3>
                                        <div style="padding-left:115px">
                                        <img src="fanstatic/mba/img/weixin.jpg" width="64px" height="64px">
                                    <!--    <div>微信扫描二维码</div>
                                        <div>获得最新招聘资讯</div>   -->
                                        </div>
                            </div>

                            <div class="col-md-4 mba-links">
                                <h3  class="footer" style="font-weight: bold;text-align: center;margin-top:16px;margin-bottom:16px;">友情链接</h3>
                                <ul style="padding-left:115px">
                                    <li>MBA中国</li>
                                    <li>人人网</li>
                                    <li>创业家</li>
                                    <li>腾讯网</li>
                                </ul>

                            </div>

                        </div>

                    </div>

                </div>

            </div>


        </footer>

{% endblock %}