{%  block footer %}
<div class="index-footer" style="background-color:#052754;color:#A7B2BA;height:auto">
                <hr/>
                <div class="row index-partner">

                    <div class="" style="margin:0px auto;text-align:center">
                        <span style=""font-size="14px"><b>合作伙伴：</b></span>
                        <span class="partner-list" style="color:#A7B2BA;">腾讯科技&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;雷锋网&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;站长之家&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;天使汇&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人人都是产品经理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;极客公园&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;雷科技&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;腾讯科技&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;雷锋网 </span>
						<p><span class="bottom_page_link">关于志友网</span><span class="bottom_page_link">志友网动态</span><span class="bottom_page_link">联系方式</span><span class="bottom_page_link">对外合作</span><span class="bottom_page_link">招贤纳士</span></p>
						<p><span class="bottom_page_link">copyright@2013-2014  深圳智友汇科技有限公司</span>
					</div>
                </div>
            </div>
{% endblock %}