{% block header %}
        <header class="navbar navbar-fixed-top navbar-default mba-nav" role="navigation">
            <div class="container">
                        <div class="navbar-header">
                             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                          <a class="navbar-brand" href="/"><img src="fanstatic/mba/img/logo.png" alt="MBA志友会"/></a>
                        </div>



                        <div class="collapse navbar-collapse">
                            {% if user %}
                              <ul class="nav navbar-nav">
                                <li id="li_index" class="active"><a href="/">首页</a></li>
                                <li  id="li_card"><a href="/person/{{ user.id }}">我的名片</a></li>
                                <li  id="li_meetups"><a href="/meetups">活动</a></li>
                                <li  id="li_job"><a href="/job">求职</a></li>
                                <li  id="li_admin"><a href="/admin">管理</a></li>

                              </ul>

                            {% endif %}



                          {% if user %}
                             <ul class="nav navbar-nav navbar-right" id="user-links">
                                <li><input type="text" class="form-control" placeholder="找找看"/></li>
                                  <li>
                                    <a href="{{ user.name }}" class="navbar-name">
                                        <img alt="{{ user.real_name or user.name }}"class="navbar-avatar" src="{{ user.avatar }}"
                                                width="20px" height="20px"/>
                                        {{ user.real_name or user.name }}
                                    </a>
                                  </li>
                                  <li>
                                      <a href="/infobox/messages" class="tooltipped tooltipped-s" aria-label="消息" alt="消息">
                                          <span class="glyphicon glyphicon-bell" {% if user.newmessages %}style="color:blueviolet"{% endif %}></span>

                                      </a>
                                  </li>
                                  <li>
                                      <a href="/logout" class="tooltipped tooltipped-s" aria-label="退出" alt="退出">
                                          <span class="glyphicon glyphicon-log-out"></span>

                                      </a>

{#                                      <form class="logout-form" action="/logout" method="post">#}
{#                                        <button class="sign-out-button tooltipped tooltipped-s" aria-label="退出" alt="退出">#}
{#                                          <span class="glyphicon glyphicon-log-out"></span>#}
{#                                        </button>#}
{#                                      </form>#}
                                  </li>
                              </ul>

                          {% else %}

                            <form class="form-inline nav navbar-nav navbar-right" role="form" method="post" action="/login">

                              <div class="form-group">
                                  <label class="sr-only" for="username">Password</label>
                                  <input class="form-control" type="text" id="username" name="email_or_username" placeholder="用户名或邮箱" >
                              </div>

                              <div class="form-group">
                                <label class="sr-only" for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                              </div>

                              <input type="submit" class="btn btn-primary" name="submit" value="登录">
                                <a href="/iforgot" class="navbar-iforgot">
                                  忘记密码
                                </a>
                            </form>
                          {% endif %}
                    </div><!--/.nav-collapse -->


            </div>
        </header>


{%  endblock %}
