{% block header %}
        <header class="navbar navbar-fixed-top navbar-default mba-nav " style="margin-bottom:0px;" role="navigation">
            <div class="container">
                        <div class="navbar-header" style="height:66px;line-height:66px;vertical-align:middle;">
                             <button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse" data-target="#mba-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                          <a class="navbar-brand" style="margin-right:15px;" href="/"><img src="fanstatic/mba/img/logo.png" alt="MBA志友会"/></a>
{#						  <span style="color:#084F8D;letter-spacing: 5px;">精英互助成长平台</span>#}
                        </div>



                        <div class="collapse navbar-collapse" id="mba-navbar-collapse">
                            {% if user %}
                              <ul class="nav navbar-nav">
                                <li id="li_index" class="active"><a href="/">首页</a></li>
                                <li  id="li_card"><a href="/person/{{ user.id }}">名片</a></li>
                                  <li  id="li_infomations"><a href="/infomations">信息</a></li>
                                <li  id="li_meetups"><a href="/meetups">活动</a></li>
                                <li  id="li_job"><a href="/job">职位</a></li>
                                  {% if 'role:admin' in user.groups %}
                                      <li  id="li_admin"><a href="/admin">管理</a></li>
                                  {% endif %}

                              </ul>

                            {% endif %}



                          {% if user %}
                             <ul class="nav navbar-nav navbar-right" id="user-links">
{#                                <li>#}
{#                                   <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">#}
{#                                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">信息</a></li>#}
{#                                      <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">伙伴</a></li>#}
{#                                     #}
{#                                    </ul>#}
{#                                </li>#}
                                <li>
                                    <form id="find-sth" class="navbar-form " action='/search-info'>

                                        <div class="form-group">

                                        <div class="input-group ">
                                            <input type="text" name="q" class="form-control" placeholder="找找看"/>
                                            <span class="input-group-btn">
                                                <button type="button" id="search-type" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#" data-search-type="/search-info">找信息</a></li>
                                                    <li><a href="#" data-search-type="/search-huoban">找伙伴</a></li>
                                                  </ul>
                                            </span>


{#                                                <button type="button" class="btn btn-default">找信息</button>#}


{#                                        <div class="dropdown">#}
{#                                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-expanded="true">#}
{#                                            找信息#}
{#                                            <span class="caret"></span>#}
{#                                          </button>#}
{#                                          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">#}
{#                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">找信息</a></li>#}
{#                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">找伙伴</a></li>#}
{#                                          </ul>#}
{#                                        </div>#}
                                        </div>

                                        </div>

                                    </form>

                                </li>
                                  <li>
                                    <a href="/person/{{ user.id }}" class="navbar-name">
                                        <img alt="{{ user.real_name or user.name }}"class="navbar-avatar" src="{{ user.avatar }}"
                                                width="20px" height="20px"/>
                                        {{ user.real_name or user.name }}
                                    </a>
                                  </li>
                                  <li>
                                      <a href="/i/messages" class="tooltipped tooltipped-s" aria-label="消息" alt="消息">
                                          <span class="glyphicon glyphicon-bell" {% if user.newmessages %}style="color:blueviolet"{% endif %}></span>

                                      </a>
                                  </li>
                                  <li>
                                      <a href="/logout" class="tooltipped tooltipped-s" aria-label="退出" alt="退出">
                                          <span class="glyphicon glyphicon-log-out"></span>

                                      </a>

{#                                      <form class="logout-form" action="/logout" method="post">#}
{#                                        <button class="sign-out-button tooltipped tooltipped-s" aria-label="退出" alt="退出">#}
{#                                          <span class="glyphicon glyphicon-log-out"></span>#}
{#                                        </button>#}
{#                                      </form>#}
                                  </li>
                              </ul>

                          {% else %}

                            <form class="form-inline nav navbar-nav navbar-right" role="form" method="post" action="/login">

                              <div class="form-group">
                                  <label class="sr-only" for="username">Password</label>
                                  <input class="form-control" type="text" id="username" name="email_or_username" placeholder="用户名或邮箱" >
                              </div>

                              <div class="form-group">
                                <label class="sr-only" for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                              </div>

                              <input type="submit" class="btn btn-primary" name="submit" value="登录">
                                <a href="/iforgot" class="navbar-iforgot">
                                  忘记密码
                                </a>
                            </form>
                          {% endif %}
                    </div><!--/.nav-collapse -->


            </div>
        </header>


{%  endblock %}
