
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}


        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->



        {% include "header.jinja2" %}



        <div class="mba-margin-top">

            <div class="container ">
                <div class="row">
                    <div class="col-md-12">
                    <div class="jumbotron">
                        <h2>重点推荐</h2>
                        可改成图片
                    </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-9">


                        <div class="home-meetups">
                            <div class="panel panel-default">
                              <div class="panel-heading">活动推荐</div>
                              <div class="panel-body">

                                  <div class="row">

                                    <div class="col-md-offset-2">
                                        <ul class="nav nav-tabs home-tabs" id="meetup-tab">
                                          <li class="active"><a href="#all" data-toggle="tab">全部</a></li>
                                          <li><a href="#bj" data-toggle="tab">北京</a></li>
                                          <li><a href="#sh" data-toggle="tab">上海</a></li>
                                          <li><a href="#gz" data-toggle="tab">广州</a></li>
                                          <li><a href="#sz" data-toggle="tab">深圳</a></li>
                                          <li><a href="#others" data-toggle="tab">其他</a></li>
                                        </ul>
                                    </div>

                                  </div>

                                  <div class="row home-sector-sub" >
                                    <div class="col-md-2">
                                        <ul><li>志友会活动:</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-10">
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                          <div class="tab-pane active" id="all">爬南山活动A，志友会活动B，关于MBA如何在人际交往中上升的讲座， 旅行与人性的修炼。。。</div>
                                          <div class="tab-pane" id="bj">北京活动A，北京活动B，北京活动C</div>
                                          <div class="tab-pane" id="sh">上海活动A，上海活动B，上海活动C</div>
                                          <div class="tab-pane" id="gz">广州活动A，广州活动B，广州活动C</div>
                                          <div class="tab-pane" id="sz">深圳活动A，深圳活动B，深圳活动C</div>
                                          <div class="tab-pane" id="others">其他城市活动A，其他城市活动B，其他城市活动C</div>
                                        </div>
                                    </div>


                                  </div>

                                  <div class="row home-sector-sub">
                                    <div class="col-md-2">
                                        <ul><li>活动精选:</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-10">
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                          <div class="tab-pane active" id="all2">活动A，活动B，活动C</div>
                                          <div class="tab-pane" id="bj2">北京活动A，北京活动B，北京活动C</div>
                                          <div class="tab-pane" id="sh2">上海活动A，上海活动B，上海活动C</div>
                                          <div class="tab-pane" id="gz2">广州活动A，广州活动B，广州活动C</div>
                                          <div class="tab-pane" id="sz2">深圳活动A，深圳活动B，深圳活动C</div>
                                          <div class="tab-pane" id="others2">其他城市活动A，其他城市活动B，其他城市活动C</div>
                                        </div>
                                    </div>


                                  </div>

                              </div>
                            </div>
                        </div><!-- end meetups -->




                        <div class="jobs">
                          <div class="panel panel-default">
                              <div class="panel-heading">最新职位</div>
                              <div class="panel-body">

                                  <div class="row">

                                    <div class="col-md-offset-2">
                                        <ul class="nav nav-tabs home-tabs" id="jobTab">
                                          <li class="active"><a href="#job-all" data-toggle="tab">全部</a></li>
                                          <li><a href="#job-bj" data-toggle="tab">北京</a></li>
                                          <li><a href="#job-sh" data-toggle="tab">上海</a></li>
                                          <li><a href="#job-gz" data-toggle="tab">广州</a></li>
                                          <li><a href="#job-sz" data-toggle="tab">深圳</a></li>
                                          <li><a href="#job-others" data-toggle="tab">其他</a></li>
                                        </ul>
                                    </div>

                                  </div>

                                  <div class="row home-sector-sub" >
                                    <div class="col-md-2">
                                        <ul><li>猎头:</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-10">
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                          <div class="tab-pane active" id="job-all">高计会计师、高级搬砖工、软件攻城狮</div>
                                          <div class="tab-pane" id="job-bj">高计会计师2、高级搬砖工、软件攻城狮</div>
                                          <div class="tab-pane" id="job-sh">高计会计师3、高级搬砖工、软件攻城狮</div>
                                          <div class="tab-pane" id="job-gz">高计会计师4、高级搬砖工、软件攻城狮</div>
                                          <div class="tab-pane" id="job-sz">高计会计师5、高级搬砖工、软件攻城狮</div>
                                          <div class="tab-pane" id="job-others">高计会计师6、高级搬砖工、软件攻城狮</div>
                                        </div>
                                    </div>


                                  </div>

                                  <div class="row home-sector-sub">
                                    <div class="col-md-2">
                                        <ul><li>公司:</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-10">
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                          <div class="tab-pane active" id="job-all2">高计会计师7、高级搬砖工、软件攻城狮</div>
                                          <div class="tab-pane" id="job-bj2">高计会计师8、高级搬砖工、软件攻城狮</div>
                                          <div class="tab-pane" id="job-sh2">高计会计师9、高级搬砖工、软件攻城狮</div>
                                          <div class="tab-pane" id="job-gz2">高计会计师10、高级搬砖工、软件攻城狮</div>
                                          <div class="tab-pane" id="job-sz2">高计会计师11、高级搬砖工、软件攻城狮</div>
                                          <div class="tab-pane" id="job-others2">高计会计师12、高级搬砖工、软件攻城狮</div>
                                        </div>
                                    </div>


                                  </div>

                              </div>
                            </div>


                    </div><!-- end jobs -->



                    <div class="infomation">
                         <div class="panel panel-default">
                          <div class="panel-heading">推荐信息</div>
                          <div class="panel-body">

                              <div class="row">

                                <div class="col-md-offset-2">
                                    <ul class="nav nav-tabs home-tabs" id="infoTab">
                                      <li class="active"><a href="#info" data-toggle="tab">资讯</a></li>
                                      <li><a href="#sell" data-toggle="tab">供求</a></li>
                                      <li><a href="#help" data-toggle="tab">帮忙</a></li>
                                    </ul>
                                </div>

                              </div>

                              <div class="row home-sector-sub">
                                <div class="col-md-2">
                                    <ul><li>管理智慧:</li>
                                    </ul>
                                </div>
                                <div class="col-md-10">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                      <div class="tab-pane active" id="info">什么什么智慧1</div>
                                      <div class="tab-pane" id="sell">什么什么智慧2</div>
                                      <div class="tab-pane" id="help">什么什么智慧3</div>
                                    </div>
                                </div>


                              </div>

                          </div>
                    </div>



                </div>



                    </div>


                    <div class="col-md-3" id="home-right-bar">

                        <div class="home-myinfo">
                            <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="myinfo-header">
                                   <img alt="{{ user.name }}"class="navbar-avatar" src="{{ user.avatar_prefix }}{{ user.avatar }}"
                                                width="30px" height="30px"/>
                                        {{ user.name }}
                                    <hr/>
                                </div>

                                <div class="action-buttons">

                                <div>
                                    <button class="btn  btn-default btn-xs">站 内 信</button>
                                    <button class="btn  btn-default btn-xs">个人资料</button>
                                </div>

                                <div>
                                    <button class="btn btn-default btn-xs ">我的活动</button>
                                    <button class="btn btn-default btn-xs">我的职位</button>
                                </div>


                                </div>

                                <br/>
                                <div class="info-auth">
                                    资料认证<i class="icon vip"></i>
                                    活动认证<i class="icon vip"></i>
                                    志友认证<i class="icon vip"></i>
                                </div>



                            </div>
                            </div>

                        </div>

                        <div class="home-trends">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4>联系人动态</h4>

                                    <div class="trends-sector">
                                        <span class="glyphicon glyphicon-star"></span>
                                        收到的邀请 <span class="more"><a href="#">更多</a></span>
                                        <div>
                                            活动邀请<br/>
                                            人脉邀请
                                        </div>
                                    </div>


                                    <div class="trends-sector">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                        可能认识的人 <span  class="more"><a href="#">更多</a></span>
                                        <div>
                                            <img src="/fanstatic/mba/img/avatars/default_avatar_0.png" width="18px" height="18px"/>余争<br/>
                                            <img src="/fanstatic/mba/img/avatars/default_avatar_1.png" width="18px" height="18px"/>小泽<br/>
                                            <img src="/fanstatic/mba/img/avatars/default_avatar_0.png" width="18px" height="18px"/>老羊<br/>
                                            <img src="/fanstatic/mba/img/avatars/default_avatar_1.png" width="18px" height="18px"/>戴昊<br/>
                                        </div>
                                    </div>


                                    <div class="trends-sector">
                                         <span class="glyphicon glyphicon-user"></span>
                                        我的人脉 <span  class="more"><a href="#">更多</a></span>
                                        <div>
                                            人类1<br/>
                                            人类2<br/>
                                        </div>
                                    </div>


                                    <div class="trends-sector">
                                        <button class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-plus"></span>
                                            邀请好友</button>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
            </div>

        </div>


        {% include "footer.jinja2" %}


        {% include "inc/js.jinja2" %}


        <script type="text/javascript">
            /*
            $(function(){
                $(document).pjax('.home-menu a', '#pjax-content');
            });
            */

            $(function(){
                $('.home-tabs a').click(function (e) {
                  e.preventDefault();
                  $(this).tab('show');
                });

                $('.home-tabs a[data-toggle="tab"]').on('shown.bs.tab',function(e){
                    var targetId = $(e.target).attr('href').substr(1);
                    var relatedTargetId = $(e.relatedTarget).attr('href').substr(1);

                    var anotherTarget = $( '#'+ targetId + '2');
                    var anotherRelatedTarget = $( '#'+ relatedTargetId + '2')
                    if( anotherTarget && anotherRelatedTarget){
                        anotherTarget.addClass('active');
                        anotherRelatedTarget.removeClass('active');
                    }


                });

            });

        </script>

    </body>
</html>
