
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}


        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->



        {% include "header.jinja2" %}



        <div class="mba-margin-top">

            <div class="container mba-home">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="mba-headers">
                            <div  id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                                <div class="carousel-inner">
                                    {% for banner in banners %}
                                    <div class="item {% if banner == banners[0] %}active{% endif %}">
                                        <div class="row">
                                           {% if banner.type == 0 %}
                                               <a href="{{ banner.link_url }}">
                                                    <img src="{{ banner.img_url }}" width="100%" />
                                               </a>
                                           {% else %}
                                               no
                                           {% endif %}

                                        </div>

                                    </div>

                                    {% else %}
                                        <center><br/><h1>无头条推荐</h1><br/></center>
                                    {% endfor %}
                                </div>
                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-9">


                        <div class="home-meetups">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                    <span class="title">活动推荐</span>
                                    <ul class="nav nav-tabs home-tabs" id="meetup-tab">
                                          <li {% if user.city_name not in ['北京','上海','广州','深圳'] %}class="active"{% endif %}><a href="#all" data-toggle="tab">全部</a></li>
                                          <li {% if user.city_name == '北京' %}class="active"{% endif %}><a href="#bj" data-toggle="tab">北京</a></li>
                                          <li {% if user.city_name == '上海' %}class="active"{% endif %}><a href="#sh" data-toggle="tab">上海</a></li>
                                          <li {% if user.city_name == '广州' %}class="active"{% endif %}><a href="#gz" data-toggle="tab">广州</a></li>
                                          <li {% if user.city_name == '深圳' %}class="active"{% endif %}><a href="#sz" data-toggle="tab">深圳</a></li>
                                          <li><a href="#others" data-toggle="tab">其他</a></li>
                                        </ul>
                              </div>
                              <div class="panel-body">

                                  <div class="row">

                                    <div class="col-md-offset-2">

                                    </div>

                                  </div>

                                  <div class="row home-sector-sub" >

                                    <div class="col-md-12">
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                        {% for a in ["all","bj","sh","gz","sz","others"] %}
                                             <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ a }}">
                                                  <ul class="meetuplist">
                                                        {% if meetups.get(a) %}
                                                            {% for meetup in meetups.all %}
                                                                <li><a href="/meetup/{{meetup.name}}">
                                                                    <span class="meetup-type">[{{meetup.meetup_type}}]</span>
                                                                    <span>{{ meetup.title }}</span>
                                                                    <span class="post-date">{{ meetup.time.strftime('%Y-%m-%d   %H:%M') }}</span>

                                                                 </a></li>


                                                            {% endfor %}

                                                        {% else %}
                                                            对不起，暂时没有活动
                                                        {% endif %}
                                                  </ul>
                                              </div>
                                        {% endfor %}

                                        </div>
                                    </div>



                                  </div>



                              </div>
                            </div>
                        </div><!-- end meetups -->




                        <div class="jobs">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <span class="title">最新招聘</span>
                                      <ul class="nav nav-tabs home-tabs" id="jobTab">
                                          <li{% if user.city_name not in ['北京','上海','广州','深圳'] %}class="active"{% endif %}><a href="#job-all" data-toggle="tab">全部</a></li>
                                          <li {% if user.city_name == '北京' %}class="active"{% endif %}><a href="#job-bj" data-toggle="tab">北京</a></li>
                                          <li {% if user.city_name == '上海' %}class="active"{% endif %}><a href="#job-sh" data-toggle="tab">上海</a></li>
                                          <li {% if user.city_name == '广州' %}class="active"{% endif %}><a href="#job-gz" data-toggle="tab">广州</a></li>
                                          <li {% if user.city_name == '深圳' %}class="active"{% endif %}><a href="#job-sz" data-toggle="tab">深圳</a></li>
                                          <li><a href="#job-others" data-toggle="tab">其他</a></li>
                                        </ul>
                              </div>
                              <div class="panel-body">

                                  <div class="row">



                                    <div class="col-md-12">
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                             {% for a in ["all","bj","sh","gz","sz","others"] %}
                                             <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ a }}">
                                                  <ul class="5 ">
                                                        <li >
                                                            <div class="row">
                                                                <div class="col-md-2 job-type larger">
                                                                    【猎头】
                                                                </div>
                                                                <div class="col-md-8 job-detail">
                                                                    <div class="row">
                                                                        <span class="col-md-5 job-company gray ">中华英才网广州猎头部</span>
                                                                        <a class="col-md-7" href="#"><span class="job-title  ">投资管理人(北京)</span></a>
                                                                    </div>

                                                                    <span class="gray sm">公司规模：500-999人</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <span class="gray sm">薪资：面议</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <span class="gray sm">学历：硕士及以上</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                </div>
                                                                <div class="col-md-2 job-apply">
                                                                    <button name="btn-apply-job" class="btn btn-warning btn-sm">&nbsp;&nbsp;申 请&nbsp;&nbsp;</button>
                                                                    <i class="glyphicon glyphicon-star collect-job sm">收藏职位</i>
                                                                </div>
                                                            </div>
                                                            <hr class="gray" style="border-top: dotted 1px;"/>

                                                        </li>




                                                   <li >
                                                            <div class="row">
                                                                <div class="col-md-2 job-type larger">
                                                                    【公司】
                                                                </div>
                                                                <div class="col-md-8 job-detail">
                                                                    <div class="row">
                                                                        <span class="col-md-5 job-company gray ">深圳市腾讯计算机有限公司</span>
                                                                        <a class="col-md-7" href="#"><span class="job-title  ">视觉设计师(深圳)</span></a>
                                                                    </div>

                                                                    <span class="gray sm">公司规模：5000-9999人</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <span class="gray sm">薪资：面议</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <span class="gray sm">学历：硕士及以上</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                </div>
                                                                <div class="col-md-2 job-apply">
                                                                    <button name="btn-apply-job" class="btn btn-warning btn-sm">&nbsp;&nbsp;申 请&nbsp;&nbsp;</button>
                                                                    <i class="glyphicon glyphicon-star collect-job sm">收藏职位</i>
                                                                </div>
                                                            </div>
                                                            <hr class="gray" style="border-top: dotted 1px;"/>

                                                        </li>




                                                  </ul>
                                              </div>
                                        {% endfor %}
                                        </div>
                                    </div>




                                  </div>

                              </div>
                            </div>


                    </div><!-- end jobs -->



                    <div class="infomation">
                         <div class="panel panel-default">
                          <div class="panel-heading">推荐信息</div>
                          <div class="panel-body">

                              <ul class="infolist">
                                  {% for inf in infomation %}

                                  <li>
                                      <span class="info-title">【管理哲学】</span>
                                      <span><a href="infomation/{{ inf.name }}">{{ inf.title }}</a></span>
                                      <span class="post-time">{{ inf.time.strftime('%Y-%m-%d   %H:%M')  }}</span>
                                  </li>
                                  {% else %}
                                    <li>暂无推荐信息</li>
                                  {% endfor %}

                              </ul>

                          </div>
                    </div>



                </div>



                    </div>


                    <div class="col-md-3" id="home-right-bar">

                        <div class="home-myinfo">
                            <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="myinfo-header row">

                                   <img alt="{{ user.name }}"class="navbar-avatar col-md-6" src="{{ user.avatar_prefix }}{{ user.avatar }}"
                                                width="80px" height="80px"/>
                                   <div class="col-md-6 header-right">
                                       <h2>{{ user.real_name or user.name }}</h2>
                                       <div>常住地：{{ user.city_name or '未填写'  }}</div>
                                       <div class="zyno">志友号-{{ '%08d' % user.id}}</div>
                                   </div>
                                </div>

                                    {% set auth_i = user.auth_info %}
                                    {% set auth_m = user.auth_meetup %}
                                    {% set auth_f = user.auth_friend %}
                                    <div class="basic_info">

                                        <span class="info_auth {% if not auth_i %}info_auth_disable{% endif %}"
                                              title="{% if auth_i %}已认证。{% else %}未认证。{% endif %}管理员确认后即可完成认证"></span>
                                        <span class="activity_auth {% if not auth_m %}activity_auth_disable{% endif %}"
                                              title="{% if auth_m %}已认证。{% else %}未认证。{% endif %}成功参加一次志友汇活动即可完成认证"></span>
                                        <span class="friend_auth {% if not auth_f%}friend_auth_disable{% endif %}"
                                              title="{% if auth_f %}已认证。{% else %}未认证。{% endif %}与10名校友成功交换名片即可完成认证"></span>


                                    </div>
                                <hr />




                                <div class="action-buttons">

                                <div>
                                    <a href="/infobox/messages">
                                        <button class="btn btn-info ">站 内 信
                                            {% if user.newmessages | count >0 %}
                                            <sup>{{ user.newmessages | count }}</sup>
                                            {% endif %}
                                        </button>
                                    </a>
                                    <button class="btn  btn-info">个人资料</button>
                                </div>

                                <div>
                                    <button class="btn btn-info ">我的活动</button>
                                    <button class="btn btn-info ">我的职位</button>
                                </div>


                                </div>

                                <br/>



                            </div>
                            </div>

                        </div>

                        <div class="home-trends">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4>联系人动态</h4>

                                    <div class="trends-sector">
                                        <span class="glyphicon glyphicon-star"></span>
                                        收到的邀请 <span class="more"><a href="#">更多</a></span>
                                        <div>
                                            <span><a href="/invitations/meetups">活动邀请</a></span>
                                            <span>人脉邀请</span>
                                        </div>
                                    </div>


                                    <div class="trends-sector">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                        可能认识的人 <span  class="more"><a href="#">更多</a></span>
                                        <div>
                                            <img src="/fanstatic/mba/img/avatars/default_avatar_0.png" width="18px" height="18px"/>余争<br/>
                                            <img src="/fanstatic/mba/img/avatars/default_avatar_1.png" width="18px" height="18px"/>小泽<br/>
                                            <img src="/fanstatic/mba/img/avatars/default_avatar_0.png" width="18px" height="18px"/>老羊<br/>
                                            <img src="/fanstatic/mba/img/avatars/default_avatar_1.png" width="18px" height="18px"/>戴昊<br/>
                                        </div>
                                    </div>


                                    <div class="trends-sector">
                                         <span class="glyphicon glyphicon-user"></span>
                                        我的人脉 <span  class="more"><a href="#">更多</a></span>
                                        <div>
                                            人类1<br/>
                                            人类2<br/>
                                        </div>
                                    </div>


                                    <div class="trends-sector">
                                        <button class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-plus"></span>
                                            邀请好友</button>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
            </div>

        </div>


        {% include "footer.jinja2" %}


        {% include "inc/js.jinja2" %}


        <script type="text/javascript">
            /*
            $(function(){
                $(document).pjax('.home-menu a', '#pjax-content');
            });
            */

            $(function(){
                $('.home-tabs a').click(function (e) {
                  e.preventDefault();
                  $(this).tab('show');
                });

                $('.home-tabs a[data-toggle="tab"]').on('shown.bs.tab',function(e){
                    var targetId = $(e.target).attr('href').substr(1);
                    var relatedTargetId = $(e.relatedTarget).attr('href').substr(1);

                    var anotherTarget = $( '#'+ targetId + '2');
                    var anotherRelatedTarget = $( '#'+ relatedTargetId + '2')
                    if( anotherTarget && anotherRelatedTarget){
                        anotherTarget.addClass('active');
                        anotherRelatedTarget.removeClass('active');
                    }


                });

            });

        </script>

    </body>
</html>
