
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}

        <link rel="stylesheet" type="text/css" href="/fanstatic/mba/css/mba_widgets.css">

        <style type="text/css">

{# Header Carousel: taken from http://www.mba.sjtu.edu.cn #}
{# TODO: browser compatible #}
.mba-headers{
	/*float: left;*/
	position:relative;
{#	width:100%;#}
    height:276px;
{#	margin-bottom: 155px;#}
    margin-top:-30px;
    margin-left:auto;
    margin-right:auto;
}

#picturn{width: 100%;}
 #picturn li{background:#fff;border:1px solid #a2a2a2;box-shadow: 0px 15px 30px 0px rgba(125,125,125,0.75);}
 #picturn .front{margin-top:0}
 #picturn .front img{margin:3px}
 #picturn .behind {margin-top:40px;width:600px;}
 #picturn .behind img{margin:0px}
 #picturn .back {margin-top:40px}
 #picturn img {margin:0px}
 #picturn{ /*float:left;*/ height:376px;margin:0 auto;padding:0;position:relative;z-index:1;display: inline;}
 #picturn li{margin:0;padding:0;list-style:none;position:absolute;z-index:1;display:none;border-width:0px}
 #picturn img{border:0;vertical-align:bottom;width:280px;height:400px}
 #picturn a{cursor:default;text-decoration:none}
  #picturn a span,#picturn strong,#picturn em,#picturn p{
  	display: none;
  }
/*#picturn .ccc img{background:rgba(0, 0, 0, 0.7) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明
filter:Alpha(opacity=70); background:#000; border:1px solid red;}*/
#picturn .ccc b{background:rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
filter:Alpha(opacity=50); background:#000;/*实现IE背景透明*/display:inline-block;position:absolute; left:0; top:0; width:100%; height:100%;}


        </style>

        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->



        {% include "header.jinja2" %}



        <div class="mba-margin-top">

            <div class="container mba-home">
                <div class="row">
                    <div class="col-md-12 ">

                        {% include "messages.jinja2" %}



                        <div class="mba-headers">

                            <ul id="picturn">


                                {% for banner in home_banners %}

                                    <li class="ccc">
                                        <a  href="{{ banner.link_url }}" target="_blank">
                                            <b></b><img alt="{{ banner.title }}" src="{{ banner.img_url }}" >
                                        </a>
                                        <span></span>

                                    </li>


                                {% else %}
                                    <li class="ccc">
                                        <a  href="/meetups" target="_blank">
                                            <b></b><img alt="上传首页banner后本条自动消失" src="/fanstatic/mba/img/dummy_banner.png" >
                                        </a>
                                        <span></span>
                                    </li>



                                {% endfor %}

{#                                <li class="ccc"><a  href="http://mba.sjtu.edu.cn/zt/gat/" target="_blank">#}
{#                                    <b></b><img alt="港澳台招生" src="http://www.mba.sjtu.edu.cn//mba_web/static/201411/spe_201411181538287港澳台-首页大图.jpg" ></a>#}
{#                                    <span></span>#}
{#                                </li>#}
{#                                <li class="ccc"><a  href="/recruit/references.html" target="_blank">#}
{#                                    <b></b><img alt="备战联考" src="http://www.mba.sjtu.edu.cn//mba_web/static/20145/spe_2014599531833备战联考.png" ></a>#}
{#                                    <span></span>#}
{#                                </li>#}
{#                                <li class="ccc"><a  href="/news/projectnews/9897.html" target="_blank">#}
{#                                    <b></b><img alt="毕业典礼" src="http://www.mba.sjtu.edu.cn//mba_web/static/20147/spe_20147281722572220140518-IMG_0077aa.jpg" ></a>#}
{#                                    <span></span>#}
{#                                </li>#}

                            </ul>
{#                            <div id="externalcontrols">#}
{#                                <button id='btnLeft' onClick="picturn_ext_prev()"></button>#}
{#                                <button id='btnRight' onClick="picturn_ext_next()"></button>#}
{#                            </div>#}
{#                            <div id='fucdot'>#}
{#                                <a href="javascript:void(0);"  class="se"></a>#}
{#                                <a href="javascript:void(0);"  ></a>#}
{#                                <a href="javascript:void(0);"  ></a>#}
{#                                <a href="javascript:void(0);"  ></a>#}
{#                            </div>#}




                        </div>


                    </div>

                </div>

                <div class="row">
                    <div class="col-md-9">


                        <div class="home-meetups">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                    <span class="title">活动推荐</span>
                                    <ul class="nav nav-tabs home-tabs" id="meetup-tab">
                                          <li {% if user.city_name not in ['北京','上海','广州','深圳'] %}class="active"{% endif %}><a href="#all" data-toggle="tab">全部</a></li>
                                          <li {% if user.city_name == '北京' %}class="active"{% endif %}><a href="#bj" data-toggle="tab">北京</a></li>
                                          <li {% if user.city_name == '上海' %}class="active"{% endif %}><a href="#sh" data-toggle="tab">上海</a></li>
                                          <li {% if user.city_name == '广州' %}class="active"{% endif %}><a href="#gz" data-toggle="tab">广州</a></li>
                                          <li {% if user.city_name == '深圳' %}class="active"{% endif %}><a href="#sz" data-toggle="tab">深圳</a></li>
                                          <li><a href="#others" data-toggle="tab">其他</a></li>
                                        </ul>
                              </div>
                              <div class="panel-body">

                                  <div class="row">

                                    <div class="col-md-offset-2">

                                    </div>

                                  </div>

                                  <div class="row home-sector-sub" >

                                    <div class="col-md-12">
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                        {% for a in ["all","bj","sh","gz","sz","others"] %}
                                             <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ a }}">
                                                  <ul class="meetuplist">
                                                        {% if meetups.get(a) %}
                                                            {% for meetup in meetups.all %}
                                                                <li><a href="/meetup/{{meetup.name}}">
                                                                    <span class="meetup-type">[{{meetup.meetup_type}}]</span>
                                                                    <span>{{ meetup.title }}</span>
                                                                    <span class="post-date">{{ meetup.time.strftime('%Y-%m-%d   %H:%M') }}</span>

                                                                 </a></li>


                                                            {% endfor %}

                                                        {% else %}
                                                            对不起，暂时没有活动
                                                        {% endif %}
                                                  </ul>
                                              </div>
                                        {% endfor %}

                                        </div>
                                    </div>



                                  </div>



                              </div>
                            </div>
                        </div><!-- end meetups -->




                        <div class="jobs">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <span class="title">最新招聘</span>
                                      <ul class="nav nav-tabs home-tabs" id="jobTab">
                                          <li{% if user.city_name not in ['北京','上海','广州','深圳'] %} class="active"{% endif %}><a href="#job-all" data-toggle="tab">全部</a></li>
                                          <li {% if user.city_name == '北京' %}class="active"{% endif %}><a href="#job-bj" data-toggle="tab">北京</a></li>
                                          <li {% if user.city_name == '上海' %}class="active"{% endif %}><a href="#job-sh" data-toggle="tab">上海</a></li>
                                          <li {% if user.city_name == '广州' %}class="active"{% endif %}><a href="#job-gz" data-toggle="tab">广州</a></li>
                                          <li {% if user.city_name == '深圳' %}class="active"{% endif %}><a href="#job-sz" data-toggle="tab">深圳</a></li>
                                          <li><a href="#job-others" data-toggle="tab">其他</a></li>
                                        </ul>
                              </div>
                              <div class="panel-body">

                                  <div class="row">



                                    <div class="col-md-12">
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                             {% for a in ["all","bj","sh","gz","sz","others"] %}
                                             <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ a }}">
                                                  <ul class="5 ">

{% for pos in all_pos[a] %}

                                                        <li >
                                                            <div class="row">
                                                                <div class="col-md-2 job-type larger">
                                                                    【{{pos.hunting_type|kind_name}}】
                                                                </div>
                                                                <div class="col-md-8 job-detail">
                                                                    <div class="row">
                                                                        <span class="col-md-5 job-company gray ">{{pos.company_name}}</span>
                                                                        <a class="col-md-7" href="/job-detail/{{pos.id}}"><span class="job-title  ">{{pos.title}}</span></a>
                                                                    </div>

                                                                    <span class="gray sm">公司规模：{{pos.company.scope}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <span class="gray sm">薪资：{{pos.salary}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <span class="gray sm">学历：{{pos.degree}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                </div>
                                                                <div class="col-md-2 job-apply">
                                                                    <button onclick="applyit('{{pos.id}}')" name="btn-apply-job" class="btn btn-warning btn-sm">&nbsp;&nbsp;申 请&nbsp;&nbsp;</button>
                                                                    <i class="glyphicon glyphicon-star collect-job sm">
<a href="javascript:collectit('{{pos.id}}')">收藏职位</a>
</i>
                                                                </div>
                                                            </div>
                                                            <hr class="gray" style="border-top: dotted 1px;"/>

                                                        </li>

{% endfor %}

                                                  </ul>
                                              </div>
                                        {% endfor %}
                                        </div>
                                    </div>




                                  </div>

                              </div>
                            </div>


                    </div><!-- end jobs -->



                    <div class="infomation">
                         <div class="panel panel-default">
                          <div class="panel-heading">推荐信息</div>
                          <div class="panel-body">

                              <ul class="infolist">
                                  {% for inf in infomation %}

                                  <li>
                                      <span class="info-title">【管理哲学】</span>
                                      <span><a href="infomation/{{ inf.name }}">{{ inf.title }}</a></span>
                                      <span class="post-time">{{ inf.time.strftime('%Y-%m-%d   %H:%M')  }}</span>
                                  </li>
                                  {% else %}
                                    <li>暂无推荐信息</li>
                                  {% endfor %}

                              </ul>

                          </div>
                    </div>



                </div>



                    </div>


                    <div class="col-md-3" id="home-right-bar" style="padding:0px">

                        <div class="home-myinfo">
                            <div class="panel panel-default">
                            <div class="panel-body">
                                {% include "/inc/personal_info_header.jinja2" %}

                                <hr />




                                <div class="action-buttons">

                                <div>
                                    <a href="/i/messages">
                                        <button class="btn btn-info ">站 内 信
                                            {% if user.newmessages | count >0 %}
                                            <sup>{{ user.newmessages | count }}</sup>
                                            {% endif %}
                                        </button>
                                    </a>
                                    <button class="btn  btn-info">个人资料</button>
                                </div>

                                <div>

                                    <a href="/i/meetups">
                                        <button class="btn btn-info ">我的活动</button>
                                    </a>
                                    <button class="btn btn-info ">我的职位</button>
                                </div>


                                </div>

                                <br/>



                            </div>
                            </div>

                        </div>
						
						<div  class="home-trends" style="border:1px solid #DEDEDE;padding:10px 0px 10px 5px; margin-bottom:10px; ">
						
							<span style="font-size:12px;border-bottom:0px solid #DEDEDE;">手机扫描二维码，关注微信公众号</span>
							<hr style="margin:5px 0"/>
							<div style="text-align:center;">
							   <img src="/fanstatic/mba/img/erweima01.png " />
							<!--   <img src="/fanstatic/mba/img/android.png " style="border-right:1px solid #EEE"/>
							   <img src="/fanstatic/mba/img/ipad.png " style="border-right:1px solid #EEE" />
							   <img src="/fanstatic/mba/img/iphone.png "  />  -->
							</div>
						</div>
						
						<div  class="home-trends" style="border:1px solid #DEDEDE;padding:15px 5px; margin-bottom:10px; ">
							<div>
								<span style="font-size:18px;border-bottom:0px solid #DEDEDE;margin-left:10px;font-weight:bolder">收到的邀请22  </span>
							</div>
							
							<!-- <hr style="margin:5px 0"/>  -->
							<div style="border-top:1px solid #eee;height:50px;padding:15px 0px;">
							   <a href="/i/invitations/meetup" style="padding-left:10px;margin-right:90px;">活动邀请</a> <img src="/fanstatic/mba/img/count.png"> <span style="color:#fff;position:relative;left:-20px;">3</span>
							</div>
							<div style="border-top:1px solid #eee;height:50px;padding:15px 0px; ">
							   <a href="/i/invitations/person" style="padding-left:10px;margin-right:90px;">人脉邀请</a> <img src="/fanstatic/mba/img/count.png"> <span style="color:#fff;position:relative;left:-20px;">3</span>
							</div>
						</div>

                        <div class="home-trends"  >
                            <div class="panel panel-default">
                                <div class="panel-body" style="background-color:#F7F7F7">
  <!--                                  <h4>联系人动态</h4>

                                    <div class="trends-sector">
                                        <span class="glyphicon glyphicon-star"></span>
                                        收到的邀请 <span class="more"><a href="#">更多</a></span>
                                        <div>
                                            <div><a href="/i/invitations/meetup">活动邀请</a></div>
                                            <div><a href="/i/invitations/person">人脉邀请</a></div>
                                        </div>
                                    </div>  -->


                                    <div class="trends-sector">
                                     <!--   <span class="glyphicon glyphicon-info-sign" ></span>  -->
                                         <span  style="height:40px;line-height:40px;font-size:16px;display:inline-block;background-color:#fdfdfd">您可能感兴趣的人脉</span>
										 <span  class="more" style="height:30px;margin-top:5px;color:#5680B2;line-height:30px;display:inline-block;background-color:#fdfdfd "><a id="pmk-change-group" href="#">换一批</a></span>

                                        {% for i in range( (persons_maybe_know | length - 1) // 4 + 1) %}
                                            <ul class="persons-maybe-know" data-group="{{ loop.index0 }}"
                                                {% if loop.index0 != 0 %}style="display: none"{% endif %}
                                                >
                                                {% for person in persons_maybe_know[i*4:i*4+ 4] %}

                                                <!--    <li>
                                                        <a href="/person/{{ person.id }}">
                                                            <img src="{{ person.avatar }}" width="18px" height="18px"/>
                                                            {{ person.real_name or person.name }}
                                                        </a>
                                                    </li> -->
													 <li class="friend_item  clearfix">
														<a href="/person/{{person.id}}" alt="{{person.real_name or person.name }}"><img style="float:left" src="{{ person.avatar  }}" height="40px" width="40px">
														</a>
														  <div class="friend_detail_cnt" style="">
															  <p class="friend_detail_info"><b style="color:#5680B2">&nbsp;&nbsp;{{person.real_name}}</b>&nbsp;&nbsp;{% if person.auth_honesty %}<img src="/fanstatic/mba/img/cheng.png">{% endif %}</p>
															  <p class="friend_detail_info" style="padding-left:50px;font-size:12px;">{% if person.company %}{{person.company}}\{% endif %}{{person.school }}</p>
													  <!-- <a class="friend_detail_info renshi" href="/person/{{person.id}}">&nbsp;&nbsp;认识她</a> -->
														  </div>
													  </li>

                                                {% endfor %}

                                            </ul>
                                        {% endfor %}


                                    </div>


                    <!--                <div class="trends-sector">
                                         <span class="glyphicon glyphicon-user"></span>
                                        我的人脉 <span  class="more"><a href="#">更多</a></span>
                                        <ul id="my-friends">

                                        </ul>
                                    </div>  


                                    <div class="trends-sector">
                                        <button class="btn btn-default btn-sm" id="home-invite-friend">
                                            <span class="glyphicon glyphicon-plus"></span>
                                            邀请好友</button>
                                    </div>
					-->

                                </div>
                            </div>
                        </div>

                    </div>
            </div>

            </div>
        </div>

<div id="invite-friend-reg" style="display: none">
<h3>将下列URL分享给好友:</h3>
<input class="form-control" type="text" onClick="this.select();"  readonly="readonly"
       value="
            {%- if first_available_invitation_code -%}
               {{ application_url }}/register?invite={{ first_available_invitation_code }}
            {%- else -%}
                您的邀请码已经用完
            {%- endif -%}
               "
        />
    <span id="copy-status"></span>
</div>

<!-- JiaThis Button END -->



        {% include "footer.jinja2" %}


        {% include "inc/js.jinja2" %}
        <script src="/fanstatic/mba/js/mba_widgets.js"></script>
        <script src="/fanstatic/mba/js/jquery.boutique.min.js"></script>
{#        <script src="http://friquemag.net/demos/boutique/js/jquery.boutique.min.js"></script>#}


        <script type="text/javascript">
            /*
            $(function(){
                $(document).pjax('.home-menu a', '#pjax-content');
            });
            */

            $(function(){
                $('.home-tabs a').click(function (e) {
                  e.preventDefault();
                  $(this).tab('show');
                });

                $('.home-tabs a[data-toggle="tab"]').on('shown.bs.tab',function(e){
                    var targetId = $(e.target).attr('href').substr(1);
                    var relatedTargetId = $(e.relatedTarget).attr('href').substr(1);

                    var anotherTarget = $( '#'+ targetId + '2');
                    var anotherRelatedTarget = $( '#'+ relatedTargetId + '2')
                    if( anotherTarget && anotherRelatedTarget){
                        anotherTarget.addClass('active');
                        anotherRelatedTarget.removeClass('active');
                    }


                });

                 $.get('/my_friends', function (ret) {
                     if (ret.errcode == ret.SUCCESS) {
                         var val = ret.retval;
                         var buildhtml = '';
                         if( val.length == 0){
                             buildhtml = '暂没有好友哦!';
                         }
                         $.each(val, function (i, item) {
                             buildhtml += '<li><a href="/person/'+item.id+'"';
                             buildhtml += '<img src="' + item.avatar + '" width="14px" height="14px"/>' ;
                             buildhtml +=  (item.real_name || item.name);
                             buildhtml += '</a></li>';

                         });
                         $('#my-friends').html(buildhtml);
                     }
                 });

                $("#pmk-change-group").click(function(){

                    var pmk = $(".persons-maybe-know:visible");
                    var all_pmk = $(".persons-maybe-know");
                    var groupIdx = parseInt( pmk.attr('data-group') );
                    var nextGroupIdx = groupIdx  >= all_pmk.length-1 ? 0  : groupIdx+1;

                    pmk.hide('fade');
                    $(all_pmk[nextGroupIdx]).show('fade');



                    console.log(all_pmk);

{#                    all_pmk[groupIdx*4,groupIdx*4+4]#}


                    return false;




                });




                $("#home-invite-friend").alertinfo({
                    title: "邀请好友",
                    content:  $("#invite-friend-reg"),
                    width: 300,
                    position: 'docoument_center',
                    onDialogBuilt: function(){
                        // Get ZeroClipboard
                        var self = this;
                        $.getScript("/fanstatic/mba/zeroclipboard/ZeroClipboard.min.js", function(){
                            var client = new ZeroClipboard(
                                    self.dialog.find("button[name='ok']")[0],
                                    {moviePath: "/fanstatic/mba/zeroclipboard/ZeroClipboard.swf"}
                            );
                            client.on( "load", function(client) {
                                // alert( "movie is loaded" );
                                var invite = $("#invite-friend-reg input").val().trim();

                                client.setText( invite );

                                client.on( "complete", function(client, args) {
                                    // `this` is the element that was clicked
{#                                    this.style.display = "none";#}
{#                                    client.setText( invite );#}
{#                                    alert("Copied text to clipboard: " + args.text );#}
                                    self.dialog.find("#copy-status").text("复制成功!");
                                } );
                            });

                        });
                    },
                    buttons:[
                        {   name: 'ok',
                            value: '复&nbsp&nbsp&nbsp制'
                        },
                        {
                            name: 'cancel',
                            value: '关&nbsp&nbsp&nbsp闭'
                        }
                    ]
                 });




                $('#picturn').boutique({
{#                    container_width:              860,#}
                    starter:			1,
                    speed:				800,
                    hoverspeed:			300,
                    hovergrowth:		0.01,
                    front_img_width:	500,
                    front_img_height:	200,
                    behind_opac:		1,
                    back_opac:			0.2,
                    behind_size:		1.0,
                    back_size:			0,
                    autoplay:			true,
                    autointerval:		4000,
                    freescroll:			true,
                    easing:				'easeOutQuart',
                    move_twice_easein:	'easeInQuart',
                    move_twice_easeout:	'easeOutQuart',
                    text_front_only:	true


                });



            });

	    function collectit(id) {
		  $.get("/job-collect/"+id, function(result){
			if('ok' == result) {
				alert("收藏成功");
			} else {
				alert("收藏失败");
			}
		  });
	    }

	function applyit(id) {
	  $.get("/job-postit/"+id, function(result){
		if('ok' == result) {
			 alert('申请成功');
		} else if('dup' == result) {
			alert('职位已经申请过了');
		} else {
			alert('申请失败');
		}
	  });
	}

        </script>

    </body>
</html>
