<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}


        <script src="/fanstaic/mba/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body onunload="alert('sfsdf')">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        {% include "header.jinja2" %}

        <div class="container mba-margin-top">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">

                    <h1 id="img-title">{{context.title}}</h1>
                    <p class="description">
                    {{context.description}}
                    </p>
                    <div>{{api.render_template('tags.jinja2')|safe}}</div>
                    <div class="body">
                        <img src="{{request.resource_url(context)}}image"  data-imageid="{{ image_id }}"/>
                    </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-default" id="sure">确定</button>
                    <a class="btn btn-default" href="/add_image">重新上传</a>
                </div>
            </div>

        </div>


        {% include "footer.jinja2" %}

        {%  include "inc/js.jinja2" %}


        
        <script type="text/javascript">

            $(function(){
                 $("#sure").click(function(){
                    if( opener){
                        var imageId = $(".body img").attr("data-imageid");
                        $("#poster_id", opener.window.document).html(imageId).val(imageId);
                        $("#poster_img_name", opener.window.document).html( $("#img-title").html() );
                        window.close();
                    }
                 });
            });

        </script>
        


    </body>
</html>
