
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}
        <style>
            html,
            body{
                height: 100%;
            }
        </style>


        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->


        {% include "header.jinja2" %}

        <div class="mba-margin-top mba-index container">
            <div class=" index-body">

                <div class="jumbotron-index">
                    <center>
                  <h1>MBA精英价值分享平台</h1><br/>
                  <p><a href="/register" class="btn btn-primary btn-success btn-lg reg" role="button">10秒立即注册</a></p>
                    </center>

                </div>


                <div class="row index-news">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>最新动态</h2>
                        {% for meetup in meetups %}
                            <a class="index-news-item" href="/meetup/{{ meetup.name }}">meetup.title</a>
                        {% else %}
                            暂无动态
                        {% endfor %}

                    </div>
                </div>



            </div>

            <div class="index-footer">
                <hr/>
                <div class="row index-partner">

                    <div class="col-md-8 col-md-offset-2">
                        <span><b>合作伙伴：</b></span>
                        <span class="partner-list">腾讯科技 雷锋网 站长之家 天使汇 人人都是产品经理 极客公园 雷科技 腾讯科技 雷锋网 站长之家 天使汇 人人都是产品经理 极客公园 雷科技 腾讯科技 雷锋网 站长之家 天使汇 人人都是产品经理 极客公园 雷科技</span>
                    </div>
                </div>
            </div>

        </div>




    </body>
</html>
