
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}
        <style>
            html,
            body{
                height: 100%;
            }
        </style>


        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body style="overflow-x:hidden">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->


        {% include "header.jinja2" %}

        <div class="mba-margin-top mba-index" style="background-color:white;">
            <div class=" index-body" style="padding-bottom:0px;">

                <div class="jumbotron-index">
                    <center>
                  <h1>MBA精英价值分享平台</h1><br/>
                  <p><a href="/register" class="btn btn-primary btn-success btn-lg reg" role="button">10秒立即注册</a></p>
                    </center>

                </div>


                <div class="index-news" style="margin-bottom:0px;">
 
                       
                        {% for meetup in meetups %}
							<h2>最新动态</h2>
                            <a class="index-news-item" href="/meetup/{{ meetup.name }}">{{ meetup.title }}</a>
                        {% else %}
                            
								<div class="white" id="part1">
								 <div class="col-md-4  col-md-offset-2">
									<img src="/fanstatic/mba/img/index_row1.png"  alt="上海鲜花港 - 郁金香" />
								 </div>
						<!--		 <div class="col-md-4 subwrap">
									 <div class="content">
										<p class="info_title">做有<strong>温度</strong>的活动</p>
										<p class="info_detail">我们用心打造多维度的品质生活，助力事业，丰富生活，已有6000余人次亲情相会</p>
									 </div>  
								 </div>-->
	
									 <div class="col-md-5" style="padding-top:90px">
										<p class="info_title">做有<strong>温度</strong>的活动</p>
										<p class="info_detail">我们用心打造多维度的品质生活，助力事业，丰富生活，已有6000余人次亲情相会</p>
									 </div>  
	
							</div>
							<div class="gray"  id="part2">
								 <div class="col-md-4  col-md-offset-2">
									<img src="/fanstatic/mba/img/index_row2.png"  alt="上海鲜花港 - 郁金香" />
								 </div>
						<!--		 <div class="col-md-4 subwrap">
									 <div class="content">
										<p class="info_title">做有<strong>温度</strong>的活动</p>
										<p class="info_detail">我们用心打造多维度的品质生活，助力事业，丰富生活，已有6000余人次亲情相会</p>
									 </div>  
								 </div>-->
	
									 <div class="col-md-5" style="padding-top:90px">
										<p class="info_title">与<strong>精英</strong>结伴成长</p>
										<p class="info_detail">我们实施严格的邀约审批机制，保证会员真实、优秀，相比会员数量，我们更关注和谁结伴成长</p>
									 </div>  
	
							</div>
							<div class="white" id="part3">
								 <div class="col-md-4  col-md-offset-2">
									<img src="/fanstatic/mba/img/index_row3.png"  alt="上海鲜花港 - 郁金香" />
								 </div>
						<!--		 <div class="col-md-4 subwrap">
									 <div class="content">
										<p class="info_title">与<strong>精英</strong>的活动</p>
										<p class="info_detail">我们用心打造多维度的品质生活，助力事业，丰富生活，已有6000余人次亲情相会</p>
									 </div>  
								 </div>-->
	
									 <div class="col-md-5" style="padding-top:90px">
										<p class="info_title">让社会生产<strong>价值</strong></p>
										<p class="info_detail">我们助推社交生产价值，已撮合志友间人才匹配、生意合作、互相帮忙等多个成果，这是我们致力于强化发展的平台力量</p>
									 </div>  
	
							</div>
                        {% endfor %}


                </div>



            </div>

            <div class="index-footer" style="background-color:#052754;color:#A7B2BA;height:auto">
                <hr/>
                <div class="row index-partner">

                    <div class="" style="margin:0px auto;text-align:center">
                        <span style=""font-size="14px"><b>合作伙伴：</b></span>
                        <span class="partner-list" style="color:#A7B2BA;">腾讯科技     雷锋网    站长之家    天使汇    人人都是产品经理    极客公园    雷科技    腾讯科技    雷锋网 </span>
						<p><span class="bottom_page_link">关于志友网</span><span class="bottom_page_link">志友网动态</span><span class="bottom_page_link">联系方式</span><span class="bottom_page_link">对外合作</span><span class="bottom_page_link">招贤纳士</span></p>
						<p><span class="bottom_page_link">copyright@2013-2014  深圳智友汇科技有限公司</span>
					</div>
                </div>
            </div>

        </div>




    </body>
</html>
