
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>信息 | 友汇网</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}

        <style type="text/css">
            #pjax-content {
                /*border: solid 1px #dcdcdc;*/
            }
            .newest{
                padding: 8px 16px;
                margin-bottom: 20px;
                background-color: #f1f6fb;
                color: #244f79;
                border: solid 1px #d0e5f8;
                border-radius: 3px;
                font-size: 14px;
            }

            .newest hr{
                border-style: dotted;

            }

        </style>


        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->



        {% include "header.jinja2" %}



         <div class="mba-margin-top">

            <div class="container ">


                <div class="row">
                    <div class="col-md-9 meetups" >

                        <br/>
                        <h3>推荐信息</h3>

                        <div class="newest">

                            <ul class="container-fluid">
                            {% for info in infomations %}
                                <hr/>
                                <li class="row">
                                    <span class="col-md-9">
                                         <a href="/infomation/{{ info.name }}">{{ info.title }}</a>
                                    </span>
                                    <span class="col-md-3">
                                        {{ info.creation_date }}
                                    </span>

                                </li>
                            {% else %}
                                <li>暂无推荐信息</li>

                            {% endfor %}
                            <hr/>
                            </ul>

                        </div>

                        {% include "/admin/pagination.jinja2" %}


                    </div>


                    <div class="col-md-3" ic="infomations-right-bar">

                    </div>

                </div>
         </div>
        </div>


        {% include "footer.jinja2" %}

        {% include "inc/js.jinja2" %}


        <script type="text/javascript">
            $(function(){

               $("li#li_infomations").parent().find("li").removeClass("active");
               $("li#li_infomations").addClass("active");




                /*
                $(document).pjax('.home-menu a', '#pjax-content');
                 */
            });
        </script>

    </body>
</html>
