
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}


        <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->



        {% include "header.jinja2" %}



        <div class="mba-margin-top">

            <div class="container mba-invitations">
                <div class="row">
                    <ul>

                    {% if type == 'meetup' %}
                        {% for invitation in user.invited_meetups %}
                            <li>
                            您的的好友{{ invitation.inviter.real_name }}邀请您参加活动：
                            <a href="/meetup/{{ invitation.meetup.name }}">{{ invitation.meetup.title }}</a>
                            {# 0 : unread, 1:accept, 2: reject 3: deleted#}
                            {% if invitation.status == 0 %}
                                <!-- You can modify to what you like -->
                                未读 <span ><button class="mark-invitation" id="{{ invitation.id }}">标记为已读</button></span>
                            {% else %}
                                已读
                            {% endif %}

                            </li>
                        {% endfor %}


                    {% elif type == 'person' %}

                    {% endif %}
                     </ul>

                </div>

            </div>

        </div>


        {% include "footer.jinja2" %}


        {% include "inc/js.jinja2" %}


        <script type="text/javascript">
            /*
            $(function(){
                $(document).pjax('.home-menu a', '#pjax-content');
            });
            */

            $(function(){
                $(".mark-invitation").click(function(){
                    var id = $(this).attr("id");
                    $.post("/api/invitations",{
                        method: 'mark_invitation',
                        type: 'meetup',
                        'invitation_id': id
                    }, function(ret){
                        if( ret.errcode == ret.SUCCESS){
                            // do what you what to improve the user experince
                            window.location.reload();
                        }else{
                            alert( ret.errmsg);
                        }

                    })

                });

            });

        </script>

    </body>
</html>
