<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}


        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <style type="text/css">
.mba-resume-refresh
{
  background:url("static/img/resume_refresh.jpg") no-repeat center;
}

.resume_operate{
  cursor: pointer;
}
    </style>
    <body class="job_manage">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->





        {% include "header.jinja2" %}

       <!--  <div class="container-fluid mba-margin-top mba-banner" >
            <center><img src="static/img/banner.jpg"></center>
        </div> -->
        <div class="container mt50  pt25">
            <div class="col-md-10 job-detail-grid-cnt">
                <div class="job-detail-grid">
                   <!--  <img src="static/img/my_resume_title.jpg"> -->
                    <h2 class="company_name">深圳市芭田生态工程股份有限公司</h2>
                </div>


                    <div class="company_detail_cnt">
                      <div class="container">

			      <p><label>公司性质：</label><span>{{company.type_info}}</span></p>
			      <p><label>公司规模：</label><span>{{company.scope}}</span></p>
			      <p><label>公司行业：</label><span>{{company.industry}}</span></p>
                         
                      </div>
                      <h3 class="company_part_title">公司介绍</h3>
                      <p class="company_detail_info">
				{{company.description|safe}}
                      </p>
                        <p>
			公司地址：{{company.location}}
                        </p>
                        <h3 class="company_part_title">招聘职位</h3>
                         <ul class="nav nav-tabs review-tabs" >
                           <!--  <li class="active"><a href="#review-all" data-toggle="tab">全部</a></li> -->
                            <li class="active"><a href="#review-sz" data-toggle="tab">深圳</a></li>
                            <li><a href="#review-sh" data-toggle="tab">上海</a></li>
                            <li><a href="#review-gz" data-toggle="tab">广州</a></li>
                            <li><a href="#review-bj" data-toggle="tab">北京</a></li>
                            <li><a href="#review-others" data-toggle="tab">其他</a></li>
                          </ul>

                           <div class="tab-content">
                            <div class="tab-pane active" id="review-sz">
                              <p class="job_item_region"><span>2014-7-13</span><span>中级研究员</span></p>
                              <p class="job_item_region"><span>2014-7-13</span><span>中级研究员</span></p>
                              <p class="job_item_region"><span>2014-7-13</span><span>中级研究员</span></p>
                              <p class="job_item_region"><span>2014-7-13</span><span>中级研究员</span></p>
                            </div>
                          
                            <div class="tab-pane" id="review-sh">
                             <p class="job_item_region"><span>2014-7-14</span><span>中级研究员2</span></p>
                              <p class="job_item_region"><span>2014-7-13</span><span>中级研究员</span></p>
                               <p class="job_item_region"><span>2014-7-13</span><span>中级研究员</span></p>
                                <p class="job_item_region"><span>2014-7-13</span><span>中级研究员</span></p>
                              </div>
                            
                          </div>
                      <hr/>
                      
                    </div>

            </div>

        </div>
        
        <div class="container">
                 <div class="search_cnt_normal" >
                        <form class="form-inline" action="job_search.jinja2" role="form">
                          <div class="form-group">
                            <select id="search_region" name="search_region" class="form-control selectpicker">  
                              <option value=0>不限</option>  
                              <option value=1>北京</option>  
                              <option value=2>上海</option>  
                              <option value=3>深圳</option>  
                            </select>  
                          </div>
                          <div class="form-group">
                           <select id="search_hangye" name="search_hangye" class="form-control selectpicker">  
                              <option value=0>不限</option>  
                              <option value=1>IT</option>  
                              <option value=2>通信/移动网络</option>  
                              <option value=3>传媒</option>  
                            </select>  
                          </div>
                           <div class="form-group">
                           <select id="search_fabufang" name="search_fabufang" class="form-control selectpicker">  
                              <option value=0>不限</option>  
                              <option value=0>猎头</option> 
                              <option value=0>公司</option> 
                            </select>
                          </div>
                           <div class="form-group">
                           <label class="sr-only" for="gangwei">请输入关键字</label>
                            <input type="text" class="form-control" width="200px" id="gangwei" placeholder="请输入关键字">
                          </div>
                          <button type="submit"  class="btn btn-search-normal"></button>
                        </form>

                    </div>
        </div>

        {% include "footer.jinja2" %}








        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        <!-- Bootstrap -->
        <script src="static/bootstrap/js/bootstrap.min.js"></script>

        <script src="static/js/plugins.js"></script>

        <script src="static/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');

            $(".resume_operate").click(function(){
              var url = $(this).attr("url");
              console.log(url);
              if(url)
              {
                location.href="./"+url;
              } 
            })

            $(document).ready(function() {
               $("li#li_job").parent().find("li").removeClass("active");
               $("li#li_job").find(a).addClass("active")
            })
        </script>
    </body>
</html>
