<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}


        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <style type="text/css">
.mba-resume-refresh
{
  background:url("static/img/resume_refresh.jpg") no-repeat center;
}

.resume_operate{
  cursor: pointer;
}
    </style>
    <body class="job_manage">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->





        {% include "header.jinja2" %}

       <!--  <div class="container-fluid mba-margin-top mba-banner" >
            <center><img src="static/img/banner.jpg"></center>
        </div> -->
        <div class="container mt50">
            <div class="col-md-9 mba-my-resume-cnt">
                <div class="mba-resume-total-grid">
                   <!--  <img src="static/img/my_resume_title.jpg"> -->
                    <div class="search_cnt_normal">
                        <form class="form-inline" action="" role="form">
                          <div class="form-group">
                            <select id="search_region" name="search_region" class="form-control selectpicker">  
                              <option value=0>不限</option>  
                              <option value=1>北京</option>  
                              <option value=2>上海</option>  
                              <option value=3>深圳</option>  
                            </select>  
                          </div>
                          <div class="form-group">
                           <select id="search_hangye" name="search_hangye" class="form-control selectpicker">  
                              <option value=0>不限</option>  
                              <option value=1>IT</option>  
                              <option value=2>通信/移动网络</option>  
                              <option value=3>传媒</option>  
                            </select>  
                          </div>
                           <div class="form-group">
                           <select id="search_fabufang" name="search_fabufang" class="form-control selectpicker">  
                              <option value=2>不限</option>  
                              <option value=1>猎头</option> 
                              <option value=0>公司</option> 
                            </select>
                          </div>
                           <div class="form-group">
                           <label class="sr-only small" for="gangwei">请输入关键字</label>
                            <input type="text" class="form-control" id="gangwei" placeholder="请输入关键字">
                          </div>
                          <button type="button" class="btn btn-search-normal" onclick="do_search()"></button>
			  <script>
function do_search() {
	var city = "";
	if($("#search_region").val() != 0) {
		city = $("#search_region option:selected").text();
	}
	var hungye = "";
	if($("#search_hangye").val() != 0) {
		hungye = $("#search_hangye option:selected").text();
	}
	window.location.href="job-search?city="+city+"&ind="+hungye+"&hun="+$("#search_fabufang").val()+"&key="+$("#gangwei").val();
}
			  </script>
                        </form>

                    </div>

                    <div>
                      <table id="gaoxin_job" class="table table-hover">
                               <thead>  
                                  <tr>  
                                    <th>高薪职位</th>  
                                  </tr>  
                                </thead>    
				{% for pos in pos_normals %}
                              <tr> 
				      <td class="job_link"><a href="/job-detail/{{pos.id}}">{{pos.title}}</a></td>  
				      <td>{{pos.city}}</td>
				      <td>{{pos.end_date}}</td>
				      <td>{{pos.salary}}</td>
				      <td><button  class="btn btn-primary view_job" onclick="document.location.href='/job-detail/{{pos.id}}'">查看</button></td>
                              </tr>
			      {% endfor %}
                        </table>
                      </div>
                    </div>


                    <div>
                      <table id="lastest_job" class="table table-hover">
                               <thead>  
                                  <tr>  
                                    <th>最新招聘</th>  
                                  </tr>  
                                </thead>
				{% for pos in pos_huntings %}
                              <tr> 
				      <td class="job_link"><a href="job-detail/{{pos.id}}">【{{pos.hunting_type|kind_name}}】</a></td>  
                                <td>
					<p>{{pos.company.name}}</p>
					<p><span class="inline-block company-scale">公司规模:{{pos.company.scope}}</span>
					<span>薪资:{{pos.salary}}</span></p>
                                </td>
                                <td>
					<p class="job_link">{{pos.title}}（{{pos.city_name}}）</p>
				  <p><span>学历:{{pos.degree}}</span></p>
                                </td>
                                <td>
					<p><button  class="btn btn-warning view_job" onclick="applyit('{{pos.id}}')">申请</button></p>
                                  <p><a class="shoucang_job job_link" href="javascript:collectit('{{pos.id}}')">收藏职位</a></p></td>
                              </tr>
			      {% endfor %}
                        </table>

                    </div>


                     <div>
                      <table id="lastest_job" class="table table-hover">
                               <thead>  
                                  <tr>  
                                    <th>您可能感兴趣的职位</th>  
                                  </tr>  
                                </thead>    
				      {% for pos in pos_like %}
                              <tr> 
				      <td class="job_link">【{{pos.hunting_type|kind_name}}】</td>  
                                <td>
					<p>{{pos.company_name}}</p>
					<p><span class="inline-block company-scale">公司规模:{{pos.industry}}人</span><span>薪资:{{pos.salary}}</span></p>
                                </td>
                                <td>
					<p class="job_link">{{pos.title}}</p>
					<p><span>学历:{{pos.experience}}</span></p>
                                </td>
                                <td>
                                  <p><button  class="btn btn-warning view_job" onclick="applyit('{{pos.id}}')">申请</button></p>
                                  <p><a class="shoucang_job job_link" href="javascript:collectit('{{pos.id}}')">收藏职位</a></p></td>
                              </tr>
			      {% endfor %}
                        </table>
                      </div>

            </div>

                

                  
            <div class="col-md-3 no_padding">
              <div id="person_info">
                <img src="{{ user.avatar }}" width="80px" height="80px">
                <div class="person_info_absolute">
			<p><span>{{user.real_name or user.name}}</span><br/></p>
			<p><span>{{user.city_name }}</span><br/></p>
                  <p><span>(志友号-{{ '%08d' % user.id}})</span></p>
                </div>
                
                    <!-- <p style="text-align:center">(志友号-000008)</p> -->
                
                  <p class="first">
                    <span class="info_auth"></span><span class="activity_auth" title="成功参加一次志友汇活动即可完成认证"></span><span class="friend_auth" title="与10名校友成功交换名片即可完成认证"></span>
                  </p>
              </div>
              <div id="job_manange">
		      <a href="/resume_edit2/{{resume_id}}">简历管理</a>
              </div>

	    <div id="manager_info">
		    {{manager_info|safe}}
          </div>

        </div>
        


        {% include "footer.jinja2" %}



        <!-- Bootstrap -->
        <script src="static/bootstrap/js/bootstrap.min.js"></script>

        <script src="static/js/plugins.js"></script>

        <script src="static/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');

            $(".resume_operate").click(function(){
              var url = $(this).attr("url");
              console.log(url);
              if(url)
              {
                location.href="./"+url;
              } 
            });

            $(document).ready(function() {
               $("li#li_job").parent().find("li").removeClass("active");
               //$("li#li_job").find("a").addClass("active");
			   $("li#li_job").addClass("active");
            });

	    function refresh_manager() {
		$.get("/job-manager-info", function(result) {
			$("#manager_info").html(result);
		});
	    }

	    function applyit(id) {
		  $.get("/job-postit/"+id, function(result){
			if('ok' == result) {
				alert("申请成功");
				refresh_manager();
			} else if('dup' == result) {
				alert('已经申请');
			} else {
				alert("申请失败");
			}
		  });
	    }

	    function collectit(id) {
		  $.get("/job-collect/"+id, function(result){
			if('ok' == result) {
				alert("收藏成功");
				refresh_manager();
			} else {
				alert("收藏失败");
			}
		  });
	    }

        </script>
    </body>
</html>
