<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]--> <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- Bootstrap -->
        <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">



        <link rel="stylesheet" href="static/css/normalize.css">
        <link rel="stylesheet" href="static/css/main.css">
        <link rel="stylesheet" href="static/style.css">

        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <style type="text/css">
.mba-resume-refresh
{
  background:url("static/img/resume_refresh.jpg") no-repeat center;
}

.resume_operate{
  cursor: pointer;
}
    </style>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->





        {% include "header.jinja2" %}

        <div class="container-fluid mba-margin-top mba-banner" >
            <center><img src="static/img/banner.jpg"></center>
        </div>
        <div class="container">
            <div class="col-md-10 col-md-offset-1 mba-my-resume-cnt">
                <div class="mba-resume-total-grid">
                    <img src="static/img/my_resume_title.jpg">
                    <p>
                        <form class="form-inline" role="form">
                          <div class="form-group">
                            <label class="sr-only" for="job_or_company">职位名称或者公司名称</label>
                            <input type="text" class="form-control" id="job_or_company" placeholder="职位名称或者公司名称">
                          </div>
                          <div class="form-group">
                            <label class="sr-only" for="gangwei">选择岗位</label>
                            <input type="text" class="form-control" id="gangwei" placeholder="选择岗位">
                          </div>
                           <div class="form-group">
                            <label class="sr-only" for="region">选择地区</label>
                            <input type="text" class="form-control" id="region" placeholder="选择地区">
                          </div>
                          <button type="submit" class="btn btn-default">搜索</button>
                        </form>

                    </p>

                    <hr/>

                   <!--  <div class="row"> -->
                        <div class="col-md-3 mba-right-nav">
                            <div class="mba-right-nav-cnt">
                                <center>
                                    <ul class="nav nav-stacked nav-pills">
                                        <li class="active"><a  data-toggle="tab" data-target="" href="#resume_manage">简历管理</a></li>
                                        <li ><a data-toggle="tab" href="#my_resume">求职信息</a></li>
                                    </ul>
                                </center>
                            </div>
                        </div>
                        <div id="myTabContent" class="tab-content">
                            <div class="col-md-9  tab-pane fade  in active" id="resume_manage">
                                <p>
                                <form name="resume_create" method="POST" action="job">
                            <label class="sr-only" for="job_or_company">简历名称</label>
                            <input type="text" name='resume_title' class="form-control" placeholder="简历名称">
                            <button type="submit" name="add_resume" class="btn btn-default navbar-btn">创建简历</button>
								</form>
                                </p>
                                <table class="table table-hover table-striped table-bordered mba-resume-tbl">  
                                    <thead>  
                                        <tr>  
                                          <th>简历名称</th>  
                                          <th>更新日期</th> 
                                          <th>简历修改</th> 
                                          <th>简历刷新</th> 
                                          <th>简历预览</th>
                                          <th>简历删除</th>  
                                        </tr>  
                                      </thead>  
                                      <tbody>  
                                        {% for item in resumes %}
                                        <tr> 
                                          <td>{{item.title}}</td>
                                          <td>{{item.modify_date}}</td>
										  <td><a href='/resume_edit2/{{item.id}}' alt='修改简历'>
												  <span class="mba-resume-edit resume_operate" url="resume_edit"><img src="static/img/resume_edit.jpg"></span>
											  </a>
											  </td>
                                          <td><span class="mba-resume-refresh resume_operate"  url="resume_refresh"><img src="static/img/resume_refresh.jpg"></span></td>
                                          <td><span class="mba-resume-preview resume_operate"  url="resume_preview"><img src="static/img/resume_preview.jpg"></span></td>
                                          <td><span class="mba-resume-delete resume_operate"   ><img src="static/img/resume_delete.jpg"></span></td>
                                          
                                        </tr>  
                                        {% endfor %} 
                                        </tbody>
                                </table>
                                
                            </div>

                            <div class="col-md-9 tab-pane fade" id="my_resume">
                               <div>

                                        <ul class="nav nav-pills">
                                            <li class="active"><a  data-toggle="tab" data-target="" href="#my_shenqing">我的申请</a></li>
                                            <li ><a data-toggle="tab" href="#my_shoucang">我的收藏</a></li>
                                            <li ><a data-toggle="tab" href="#my_hr_invited">hr邀请</a></li>
                                        </ul>

                                </div>
                                <div id="myInfoContent" class="tab-content">
                                    <div  id="my_shenqing" class="tab-pane  in active">
                                        <table class="table table-hover table-striped table-bordered mba-resume-tbl ">  
                                            <thead>  
                                                <tr>  
                                                  <th>简历名称</th>  
                                                  <th>更新日期</th> 
                                                  <th>简历修改</th> 
                                                  <th>简历刷新</th> 
                                                  <th>简历预览</th>
                                                  <th>简历删除</th>  
                                                </tr>  
                                              </thead>  
                                              <tbody>  
                                                <tr>  
                                                  <td>ui设计师</td>  
                                                  <td>2013-1-2</td>
                                                  <td><span class="mba-resume-edit2" ><img src="static/img/resume_edit.jpg"></span></td>
                                                  <td><span class="mba-resume-refresh"><img src="static/img/resume_refresh.jpg"></span></td>
                                                  <td><span class="mba-resume-preview" onClick="location.href='./resume_edit'"><img src="static/img/resume_preview.jpg"></span></td>
                                                  <td><span class="mba-resume-delete"><img src="static/img/resume_delete.jpg"></span></td>
                                                  
                                                </tr>
                                            </tbody>  
                                        </table>
                                    </div>
                                    <div  id="my_shoucang" class="tab-pane fade">
                                        <table class="table table-hover table-striped table-bordered mba-resume-tbl">  
                                            <thead>  
                                                <tr>  
                                                  <th>职位</th>  
                                                  <th>公司名称</th> 
                                                  <th>学历</th> 
                                                  <th>经验</th> 
                                                  <th>薪资</th>
                                                  <th>收藏日期</th>  
                                                </tr>  
                                              </thead>  
                                              <tbody>
											  {% for item1,item2 in pcs %}
                                                <tr>  
													<td>{{item2.job_name}}</td>  
													<td>{{item2.company_name}}</td>
													<td>{{item2.degree}}</td>
													<td>{{item2.experience}}</td>
													<td>{{item2.salary}}</td>
													<td>{{item1.create_date}}</td>
                                                </tr>  
											 {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div  id="my_hr_invited" class="tab-pane fade">
                                        <table class="table table-hover table-striped table-bordered mba-resume-tbl">  
                                            <thead>  
                                                <tr>  
                                                  <th>简历名称</th>  
                                                  <th>更新日期</th> 
                                                  <th>简历修改</th> 
                                                  <th>简历刷新</th> 
                                                  <th>简历预览</th>
                                                  <th>简历删除</th>  
                                                </tr>  
                                              </thead>  
                                              <tbody>  
                                                <tr>  
                                                  <td>ui设计师3</td>  
                                                  <td>2013-1-2</td>
                                                  <td><span class="mba-resume-edit2"><img src="static/img/resume_edit.jpg"></span></td>
                                                  <td><span class="mba-resume-refresh"><img src="static/img/resume_refresh.jpg"></span></td>
                                                  <td><span class="mba-resume-preview"><img src="static/img/resume_preview.jpg"></span></td>
                                                  <td><span class="mba-resume-delete"><img src="static/img/resume_delete.jpg"></span></td>
                                                  
                                                </tr>
                                                 </tbody>
                                             </tbody> 
                                        </table>
                                    </div>

                                </div>
                        </div>
                    <!-- </div> -->
                </div>
                </div>
                
            </div>
        </div>

        {% include "footer.jinja2" %}

        <!-- Bootstrap -->
        <script src="static/bootstrap/js/bootstrap.min.js"></script>

        <script src="static/js/plugins.js"></script>

        <script src="static/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');

            $(".resume_operate").click(function(){
              var url = $(this).attr("url");
              console.log(url);
              if(url)
              {
                location.href="./"+url;
              } 
            })
        </script>
    </body>
</html>
