<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}


        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <style type="text/css">
.mba-resume-refresh
{
  background:url("static/img/resume_refresh.jpg") no-repeat center;
}

.resume_operate{
  cursor: pointer;
}
    </style>
    <body class="job_manage">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->





        {% include "header.jinja2" %}

       <!--  <div class="container-fluid mba-margin-top mba-banner" >
            <center><img src="static/img/banner.jpg"></center>
        </div> -->
        <div class="container mt50">
            <div class="col-md-9 mba-my-resume-cnt">
                <div class="mba-resume-total-grid">
                   <!--  <img src="static/img/my_resume_title.jpg"> -->
                    <div class="search_cnt2">
                        <form class="form-inline" action="job_search.jinja2" role="form">
                          <div class="form-group">
                            <select id="search_region" name="search_region" class="form-control selectpicker">  
                              <option value=0>不限</option>  
                              <option value=1>北京</option>  
                              <option value=2>上海</option>  
                              <option value=3>深圳</option>  
                            </select>  
                          </div>
                          <div class="form-group">
                           <select id="search_hangye" name="search_hangye" class="form-control selectpicker">  
                              <option value=0>不限</option>  
                              <option value=1>IT</option>  
                              <option value=2>通信/移动网络</option>  
                              <option value=3>传媒</option>  
                            </select>  
                          </div>
                           <div class="form-group">
                           <select id="search_fabufang" name="search_fabufang" class="form-control selectpicker">  
                              <option value=0>不限</option>  
                              <option value=0>猎头</option> 
                              <option value=0>公司</option> 
                            </select>
                          </div>
                           <div class="form-group">
                           <label class="sr-only" for="gangwei">请输入关键字</label>
                            <input type="text" class="form-control" id="gangwei" placeholder="请输入关键字">
                          </div>
                          <button type="submit" id="btn-search" class="btn btn-search"></button>
                        </form>

                    </div>

                    <div>
                      <table id="gaoxin_job" class="table table-hover">
                               <thead>  
                                  <tr>  
                                    <th>高薪职位</th>  
                                  </tr>  
                                </thead>    
				{% for pos in pos_normals %}
                              <tr> 
				      <td class="job_link">{{pos.title}}</td>  
				      <td>{{pos.city}}</td>
				      <td>{{pos.end_date}}</td>
				      <td>{{pos.salary}}</td>
				      <td><button  class="btn btn-primary view_job" onclick="document.location.href='/job-detail/{{pos.id}}'">查看</button></td>
                              </tr>
			      {% endfor %}
                        </table>
                      </div>
                    </div>


                    <div>
                      <table id="lastest_job" class="table table-hover">
                               <thead>  
                                  <tr>  
                                    <th>最新招聘</th>  
                                  </tr>  
                                </thead>
				{% for pos in pos_huntings %}
                              <tr> 
				      <td class="job_link">【{{pos.hunting_type|kind_name}}】</td>  
                                <td>
					<p>{{pos.company_name}}</p>
					<p><span class="inline-block">公司规模:{{pos.company.scope}}</span>
					<span>薪资:{{pos.salary}}</span></p>
                                </td>
                                <td>
					<p class="job_link">{{pos.title}}（{{pos.city_name}}）</p>
				  <p><span>学历:{{pos.degree}}</span></p>
                                </td>
                                <td>
					<p><button  class="btn btn-warning view_job" onclick="applyit('{{pos.id}}')">申请</button></p>
                                  <p><a class="shoucang_job job_link" href="javascript:collectit('{{pos.id}}')">收藏职位</a></p></td>
                              </tr>
			      {% endfor %}
                        </table>

                    </div>


                     <div>
                      <table id="lastest_job" class="table table-hover">
                               <thead>  
                                  <tr>  
                                    <th>您可能感兴趣的职位</th>  
                                  </tr>  
                                </thead>    
				      {% for pos in pos_like %}
                              <tr> 
                                <td class="job_link">【猎头】</td>  
                                <td>
					<p>{{pos.title}}</p>
					<p><span class="inline-block">公司规模:{{pos.industry}}人</span><span>薪资:{{pos.salary}}</span></p>
                                </td>
                                <td>
					<p class="job_link">{{pos.title}}</p>
					<p><span>学历:{{pos.experience}}</span></p>
                                </td>
                                <td>
                                  <p><button  class="btn btn-warning view_job" onclick="applyit('{{pos.id}}')">申请</button></p>
                                  <p><a class="shoucang_job job_link" href="javascript:collectit('{{pos.id}}')">收藏职位</a></p></td>
                              </tr>
			      {% endfor %}
                        </table>
                      </div>

            </div>

                

                  
            <div class="col-md-3 no_padding">
              <div id="person_info">
                <img src="/fanstatic/mba/img/touxiang.png">
                <div class="person_info_absolute">
			<p><span>{{user.name}}</span></br></p>   
			<p><span>{{user.location if user.location != None}}</span></br></p>  
                  <p><span>(志友号-000008)</span></p>
                </div>
                
                    <!-- <p style="text-align:center">(志友号-000008)</p> -->
                
                  <p class="first">
                    <span class="info_auth"></span><span class="activity_auth" title="成功参加一次志友汇活动即可完成认证"></span><span class="friend_auth" title="与10名校友成功交换名片即可完成认证"></span>
                  </p>
              </div>
              <div id="job_manange">
                简历管理
              </div>
              <div class="jianli_manage" class="right_head little_pad"><span>投递记录</span>
              </div>
                <ul  class="right_list_cnt">
			{% for pos in pos_apply %}
                   <li class="right_list_item  clearfix">
                        <div class="renmai_detail_cnt">
				<p class="friend_detail_info  job_link">{{pos.title}}（{{pos.city_name}}）</p>
				<p class="friend_detail_info">{{pos.company_name}}</p>
                        </div>
                    </li>
		    {% endfor %}
                </ul>

                <div  class="jianli_manage"  class="right_head little_pad"><span>收藏的职位
                </span></div>
                  <ul class="right_list_cnt">
			  {% for pos in collects %}
                     <li class="right_list_item  clearfix">
                          <div class="renmai_detail_cnt">
				  <p class="friend_detail_info job_link">{{pos.title}}（{{pos.city_name}}）</p>
				  <p class="friend_detail_info">{{pos.company_name}}</p>
                          </div>
                      </li>
		      {% endfor %}
                  </ul>
            </div>
        </div>
        


        {% include "footer.jinja2" %}



        <!-- Bootstrap -->
        <script src="static/bootstrap/js/bootstrap.min.js"></script>

        <script src="static/js/plugins.js"></script>

        <script src="static/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');

            $(".resume_operate").click(function(){
              var url = $(this).attr("url");
              console.log(url);
              if(url)
              {
                location.href="./"+url;
              } 
            });

            $(document).ready(function() {
               //$("li#li_job").parent().find("li").removeClass("active");
               //$("li#li_job").find(a).addClass("active");
            });

	    function applyit(id) {
		  $.get("/job-postit/"+id, function(result){
			if('ok' == result || 'dup' == result) {
				alert("申请成功");
			} else {
				alert("申请失败");
			}
		  });
	    }

	    function collectit(id) {
		  $.get("/job-collect/"+id, function(result){
			if('ok' == result) {
				alert("收藏成功");
			} else {
				alert("收藏失败");
			}
		  });
	    }

        </script>
    </body>
</html>
