<div class="panel panel-info">
  <div class="panel-heading">
     <span style="float: right">已结束</span>
    <h1 class="">人格解析与信任建立</h1>
  </div>
  <div class="panel-body">

    <div>时间：<span>ABC</span></div>
    <div>地点：<span>ABC</span></div>
    <div>活动种类：演讲</div>
    <div>活动简介：魂牵梦萦城厢鞢 </div>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
     <span style="float: right">已结束</span>
    <h1 class="">MBA志友会户外登山</h1>
  </div>
  <div class="panel-body">

    <div>时间：<span>ABC</span></div>
    <div>地点：<span>ABC</span></div>
    <div>活动种类：户外</div>
    <div>活动简介：魂牵梦萦城厢鞢 </div>
  </div>
</div>





<ul class="pager">
  <li class="previous"><a href="#">&larr; Older</a></li>
  <li class="next"><a href="#">Newer &rarr;</a></li>
</ul>

