
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}

        <style type="text/css">
            #pjax-content {
                /*border: solid 1px #dcdcdc;*/
            }
        </style>


        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->



        {% include "header.jinja2" %}



         <div class="mba-margin-top">

            <div class="container ">
                <div class="row">


                    <div class="col-md-12">
                    <div class="meetups-header" id="meetup-recommend">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                            <div class="carousel-inner">
                                {% for context in headlines %}
                                <div class="item {% if context == headlines[0] %}active{% endif %}">
                                    <div class="row">
                                        <div class="col-md-3 col-md-offset-1">
                                            <img src="{{  context.poster_img }}" width="190px" height="240px" />

                                        </div>
                                        <div class="col-md-6">
                                            <h1>{{ context.title }}</h1><br/>
                                            <div>
                                                分享嘉宾：
                                                {% for teacher in context.teachers %}
                                                    {{ teacher }} &nbsp;
                                                {% endfor %}
                                            </div>
                                            <div>地点：{{ context.location }}</div>
                                            <div>活动时间：{{ context.meetup_start_time }} - {{ context.meetup_finish_time }}</div>

                                            <div>费用：{{ context.pay_count }}元/人</div>
                                            <div>人数限制：{{ context.limit_num }}人</div>
                                            <br/>


                                            <a  href="/meetup/{{ context.name }}" class="btn btn-primary" >去报名</a>




                                    </div>

                                    </div>
                                </div>

                                {% else %}
                                    <center><br/><h1>无头条推荐</h1><br/></center>
                                {% endfor %}
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                      </div>
                    </div>

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-9 meetups" >


                        <div class="newest">
                            <div class="panel panel-default">
                              <div class="panel-heading">最新活动</div>
                              <div class="panel-body">

                                  <div class="row">

                                    <div class="col-md-offset-1">
                                        <ul class="nav nav-tabs newest-tabs" >
                                          <li class="active"><a href="#all" data-toggle="tab">全部</a></li>
                                          <li><a href="#bj" data-toggle="tab">北京</a></li>
                                          <li><a href="#sh" data-toggle="tab">上海</a></li>
                                          <li><a href="#gz" data-toggle="tab">广州</a></li>
                                          <li><a href="#sz" data-toggle="tab">深圳</a></li>
                                          <li><a href="#others" data-toggle="tab">其他</a></li>
                                        </ul>
                                    </div>

                                  </div>

                                  <div class="row home-sector-sub" >

                                    <div class="col-md-10">
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                          <div class="tab-pane active" id="all">
                                              <ul class="meetuplist">
                                                    {% if meetups.all %}
                                                        {% for meetup in meetups.all %}
                                                            <li><a href="/meetup/{{meetup.name}}">[{{meetup.meetup_type}}] {{ meetup.title }}</a></li>
                                                        {% endfor %}
                                                        
                                                    {% else %}
                                                        对不起，暂时没有活动
                                                    {% endif %}                                                    
                                              </ul>
                                          </div>
                                          <div class="tab-pane" id="bj">
                                                <ul class="meetuplist">
                                                    {% if meetups.bj %}
                                                        {% for meetup in meetups.all %}
                                                            <li><a href="/meetup/{{meetup.name}}">[{{meetup.meetup_type}}] {{ meetup.title }}</a></li>
                                                        {% endfor %}
                                                        
                                                    {% else %}
                                                        对不起，该城市暂时没有活动
                                                    {% endif %}        
                                                </ul>
                                          </div>
                                          <div class="tab-pane" id="sh">
                                                <ul class="meetuplist">
                                                    {% if meetups.sh %}
                                                        {% for meetup in meetups.all %}
                                                            <li><a href="/meetup/{{meetup.name}}">[{{meetup.meetup_type}}] {{ meetup.title }}</a></li>
                                                        {% endfor %}
                                                        
                                                    {% else %}
                                                        对不起，该城市暂时没有活动
                                                    {% endif %} 
                                                </ul>
                                          </div>
                                          <div class="tab-pane" id="gz">
                                                <ul class="meetuplist">
                                                    {% if meetups.gz %}
                                                        {% for meetup in meetups.all %}
                                                            <li><a href="/meetup/{{meetup.name}}">[{{meetup.meetup_type}}] {{ meetup.title }}</a></li>
                                                        {% endfor %}
                                                        
                                                    {% else %}
                                                        对不起，该城市暂时没有活动
                                                    {% endif %} 
                                                </ul>
                                          </div>
                                          <div class="tab-pane" id="sz">
                                                <ul class="meetuplist">
                                                    {% if meetups.sz %}
                                                        {% for meetup in meetups.all %}
                                                            <li><a href="/meetup/{{meetup.name}}">[{{meetup.meetup_type}}] {{ meetup.title }}</a></li>
                                                        {% endfor %}
                                                        
                                                    {% else %}
                                                        对不起，该城市暂时没有活动
                                                    {% endif %}  
                                                </ul>
                                          </div>
                                          <div class="tab-pane" id="others">
                                                <ul class="meetuplist">
                                                    {% if meetups.others %}
                                                        {% for meetup in meetups.all %}
                                                            <li><a href="/meetup/{{meetup.name}}">[{{meetup.meetup_type}}] {{ meetup.title }}</a></li>
                                                        {% endfor %}
                                                        
                                                    {% else %}
                                                        对不起，该城市暂时没有活动
                                                    {% endif %} 
                                                </ul>
                                          </div>
                                        </div>
                                    </div>


                                  </div>



                                </div>

                            </div>

                        </div>

                        <div class="reviews">
                            <div class="panel panel-default">
                              <div class="panel-heading">往期回顾</div>
                              <div class="panel-body">

                                  <div class="row">

                                    <div class="col-md-offset-1">
                                        <ul class="nav nav-tabs review-tabs" ">
                                          <li class="active"><a href="#review-all" data-toggle="tab">全部</a></li>
                                          <li><a href="#review-bj" data-toggle="tab">北京</a></li>
                                          <li><a href="#review-sh" data-toggle="tab">上海</a></li>
                                          <li><a href="#review-gz" data-toggle="tab">广州</a></li>
                                          <li><a href="#review-sz" data-toggle="tab">深圳</a></li>
                                          <li><a href="#review-others" data-toggle="tab">其他</a></li>
                                        </ul>
                                    </div>

                                  </div>

                                  <div class="row home-sector-sub" >

                                    <div class="col-md-10">
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            
                                            <div class="tab-pane active" id="all">
                                              <ul class="meetuplist">
                                                    {% if reviews.all %}
                                                        {% for review in reviews.all %}
                                                            <li><a href="/review/{{review.name}}">{{ review.title }}</a></li>
                                                        {% endfor %}
                                                        
                                                    {% else %}
                                                        对不起，暂时没有活动
                                                    {% endif %}                                                    
                                              </ul>
                                          </div>
                                        </div>
                                    </div>


                                  </div>



                                </div>

                            </div>

                        </div>


                    </div>


                    <div class="col-md-3" ic="meetups-right-bar">

                        {%  if user %}
                        <div class="home-myinfo">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="myinfo-header">
                                       <img alt="{{ user.name }}"class="navbar-avatar" src="{{ user.avatar_prefix }}{{ user.avatar }}"
                                                    width="30px" height="30px"/>
                                            {{ user.name }}
                                        <hr/>
                                    </div>


                                    <div class="panel-group" id="accordion">
                                      <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                              已参加的活动
                                            </a>
                                          </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                          <div class="panel-body">
                                            <ul>
                                                <li>志友健身行：清远之旅</li>
                                                <li>高端讲堂：中国房价走向</li>
                                                <li>志友健身行：清远之旅</li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                              被邀请的活动
                                            </a>
                                          </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                          <div class="panel-body">
                                            sfdsafdasf
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        {% endif %}




                        <div class="home-myinfo">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="myinfo-header">
                                    <h2>品牌活动</h2>
                                    <hr/>
                                </div>

                                <div class="panel-group" id="accordion2">
                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
                                          聚友沙龙
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse in">
                                      <div class="panel-body">
                                        聚友沙龙是MBA志友汇为会员提供一项线下聚会活动
                                      </div>
                                    </div>
                                  </div>
                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
                                          志友下午茶
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        一起喝茶、聊天，畅谈理想和未来
                                      </div>
                                    </div>
                                  </div>

                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
                                          私人董事会
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        高端人脉交友
                                      </div>
                                    </div>
                                  </div>


                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
                                          志友健康行
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="collapse4" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        身体健康才是真正的成功
                                      </div>
                                    </div>
                                  </div>

                                </div>
                            </div>
                        </div>
                        </div>



                    </div>

                </div>
         </div>
        </div>


        {% include "footer.jinja2" %}

        {% include "inc/js.jinja2" %}


        <script type="text/javascript">
            $(function(){

               $("li#li_meetups").parent().find("li").removeClass("active");
               $("li#li_meetups").addClass("active");

                /*
                $(document).pjax('.home-menu a', '#pjax-content');
                 */
            });
        </script>

    </body>
</html>
