
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}

        <style type="text/css">
            #pjax-content {
                /*border: solid 1px #dcdcdc;*/
            }
        </style>


        <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->



        {% include "header.jinja2" %}



         <div class="mba-margin-top">

            <div class="container ">
                <div class="row">


                    <br/>


                    <div class="col-md-9 meetup-main">
                         <div class="panel panel-default meetup-subject">

                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="{{  context.poster_img }}" width="190px" height="240px" />

                                    </div>
                                    <div class="col-md-8">
                                        <h2>{{ context.title }}</h2>
                                        <br/>
                                        <div>
                                            分享嘉宾：
                                            {% for teacher in context.teachers %}
                                                {{ teacher }} &nbsp;
                                            {% endfor %}
                                        </div>
                                        <div>地点：{{ context.location }}</div>
                                        <div>活动时间：{{ context.meetup_start_time }} - {{ context.meetup_finish_time }}</div>
                                        
                                        <div>费用：{{ context.pay_count }}元/人</div>
                                        <div>人数限制：{{ context.limit_num }}人 ({{ total_enrolled_count }}人已报名)</div>
                                        <br/>
                                        <div>报名时间：{{ context.enroll_start_time }} - {{ context.enroll_finish_time }}</div>
                                        
                                        {% if time_now < context.enroll_start_time %}
                                            <button class="btn btn-primary disabled">报名暂未开始</button>
                                        {% elif time_now > context.enroll_start_time and time_now < context.enroll_finish_time %}
                                            
                                            {% if not self_enrolled %}
                                            <form name="enroll" id="formEnroll" method="POST" >
                                                <button type="submit" name="enroll" class="btn btn-primary">报名参加</button>
                                            </form>
                                            {% else %}
                                                <button name="enroll" class="btn btn-primary disabled">已报名</button>
                                            {% endif %}
                                            
                                        {% elif time_now > context.enroll_finish_time %}
                                            <button class="btn btn-primary disabled">报名已经结束</button>
                                        {% endif %}                                        
                                        
                                        
                                    </div>

                                </div>

                                <hr/>

                                <div>
                                    <h3>活动详情</h3>
                                    <p class="meetup-details">
                                        {{ contextbody }}
                                    </p>

                                    <div class="bdsharebuttonbox" data-tag="share_2" ><a class="bds_qzone" data-cmd="qzone" href="#"></a><a class="bds_tsina" data-cmd="tsina"></a><a class="bds_weixin" data-cmd="weixin"></a><a class="bds_more" data-cmd="more"></a><a class="bds_count" data-cmd="count"></a></div>
                                    <script>window._bd_share_config = {common : {bdText : "MBA活动{{ context.title }}，好像挺不错的，小伙伴们一起来吧！",bdDesc : '',bdUrl : window.location.href,bdPic : window.location.protocol + "//" + window.location.host + "{{  context.poster_img }}"},share: {tag: 'share_2',bdSize: 16},viewList: ["tsina","weixin","qzone"],viewText: "分享到",viewSize: '24'};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];</script>

                                </div>

                            </div>
                         </div>


                        <div class="panel panel-default meetup-comments">
                            <div class="panel-body">
                            
                                
                                
                                <form name="comment-form" method="post">
                                    {% if user %}
                                        <div class="row">
                                            <div class="col-md-3 col-md-offset-9">
                                                <div class="meetup-comment-prompt">
                                                    还可以输入<span id="left-comments-num">140</span>字
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1">
                                                <img src="{{ user.avatar_prefix}}{{user.avatar}}" width="40px" height="40px"/>
                                            </div>
                                            <div class="col-md-11">
                                                <textarea name='meetup-comment-input'
                                                    id='meetup-comment-input' class="form-control" rows="3" placeholder="顺便说点什么吧.."></textarea>
                                            </div>
                                        </div>
                                        
                                    {% endif %}
                                    
                                        <div class="row">
                                            <div class="col-md-offset-10 col-md-2">
                                                <br/>
                                                <button type='submit' name='submit' 
                                                    class="btn btn-primary" id="do-comment" 
                                                    {% if user %}disabled="disabled{% endif %}">发表评论</button>
                                            </div>
                                        </div>
                                    
                                </form>
  

                                <br/>
                                {{ comments_count }}条评论
                                



                                {% for comment in context._comments %}
                                <hr/>            
                                        
                                <div class="row">
                                    <div class="col-md-1">
                                        <img src="{{ comment.user.avatar_prefix}}{{comment.user.avatar}}" width="40px" height="40px"/>
                                    </div>
                                    <div class="col-md-11">
                                        <span>{{ comment.user.name }}:</span>
                                        <span class="meetup-comment-timeline">
                                            {{comment.post_date}}
                                        </span>
                                        <div>{{ comment.content }}</div>
                                        
                                    </div>
                                </div>
                                
                                {% endfor %}


                            </div>
                        </div>

                    </div>


                    <div class="col-md-3 meetup-rightbar">
                        <div id="meetup-map" width="100%">
                        </div>

                       <br/>

                        <div class="applicants panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    已报名
                                </div>
                            </div>
                            <div class="panel-body">
                                    <div class="applicants">
                                        {% for part in context.parts %}
                                            <img alt="{{ part.name }}"class="navbar-avatar" src="{{ part.avatar_prefix }}{{ part.avatar }}"
                                            width="30px" height="30px"/>
                                        {% else %}
                                            暂无报名
                                        {% endfor %}

                                    </div>

                            </div>

                        </div>


                        <div class="applicants panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    你可能感兴趣的活动
                                </div>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li>
                                        跨界*合作-盛夏互联网BD交流会
                                    </li>
                                    <li>
                                        跨界*合作-盛夏互联网BD交流会
                                    </li>
                                    <li>
                                        跨界*合作-盛夏互联网BD交流会
                                    </li>

                                </ul>
                            </div>

                        </div>



                    </div>

                </div>
            </div>
        </div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="myModalLabel">报名成功！</h2>
      </div>
      <div class="modal-body">
         <p>
             您已经成功报名参加 “{{ context.title }}”, 活动详情将发送到您的手机/邮箱，赶快和小伙伴们一起分享吧!
         </p>
         分享到:
         <div class="bdsharebuttonbox" data-tag="share_1" >
            <a class="bds_qzone" data-cmd="qzone" href="#"></a>
            <a class="bds_tsina" data-cmd="tsina"></a>
            <a class="bds_weixin" data-cmd="weixin"></a>
            <a class="bds_more" data-cmd="more"></a>
            <a class="bds_count" data-cmd="count"></a>
         </div>
      </div>
      <div class="modal-footer">


        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <a href="javascript:alert('功能暂未实现！')" class="btn btn-primary bds_more" data-cmd="more">邀请好友</a>


        <script>
            window._bd_share_config = {
                common : {
                    bdText : "我参加了活动{{ context.title }}，好像挺不错的，小伙伴们一起来吧！",
                    bdDesc : '',
                    bdUrl : window.location.href,
                    bdPic : window.location.protocol + "//" + window.location.host + "{{  context.poster_img }}"
                },
                share: {
                    tag: 'share_1',
                    bdSize: 16
                },
                viewList: ["tsina","weixin","qzone"],
                viewText: "分享到",
                viewSize: '24'
            };
            with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
        </script>




      </div>
    </div>
  </div>
</div>






        {% include "footer.jinja2" %}



        {% include "inc/js.jinja2" %}


        <script type="text/javascript">
            $(function(){

               $("li#li_meetups").parent().find("li").removeClass("active");
               $("li#li_meetups").addClass("active");


               $('#meetup-comment-input').keyup(function(){

                   var len = $(this).val().trim().length;
                   if(len>0 ){
                       $('#do-comment').removeAttr('disabled');
                   }else{
                       $('#do-comment').attr('disabled','disabled');
                   }
                   $('#left-comments-num').html(140-len);
               });

                /*
                $(document).pjax('.home-menu a', '#pjax-content');
                 */
            });
        </script>

        <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>
        <script>
            $(function(){


                map = new qq.maps.Map(
                    $("#meetup-map")[0],
                        {
                        center: new qq.maps.LatLng({{ context.latitude }}, {{ context.longitude }}),
                        zoom:{{ context.zoomlevel }}
                        }
                );

                var scaleControl = new qq.maps.ScaleControl({
                    align: qq.maps.ALIGN.BOTTOM_LEFT,
                    margin: qq.maps.Size(20, 10),

                    map: map
                });

                {%  if enroll_success %}
                    $('#myModal').modal('show');
                {% endif %}


                /*
                $('.iframe bdshare_popup_bg').show();

                div bdshare_popup_box
                */

            });

        </script>




    </body>
</html>
