
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>活动 | 友汇网</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}

        <style type="text/css">
            #pjax-content {
                /*border: solid 1px #dcdcdc;*/
            }


{# Header Carousel  taken from http://www.mba.sjtu.edu.cn #}
{# TODO: browser compatible #}
.meetups-header{
	/*float: left;*/
	position:relative;
{#	width:100%;#}
    height:276px;
{#	margin-bottom: 155px;#}
    margin-top:-30px;
    margin-left:auto;
    margin-right:auto;
}

#picturn{width: 100%;}
 #picturn li{background:#fff;border:1px solid #a2a2a2;box-shadow: 0px 15px 30px 0px rgba(125,125,125,0.75);}
 #picturn .front{margin-top:0}
 #picturn .front img{margin:3px}
 #picturn .behind {margin-top:40px;width:600px;}
 #picturn .behind img{margin:0px}
 #picturn .back {margin-top:40px}
 #picturn img {margin:0px}
 #picturn{ /*float:left;*/ height:376px;margin:0 auto;padding:0;position:relative;z-index:1;display: inline;}
 #picturn li{margin:0;padding:0;list-style:none;position:absolute;z-index:1;display:none;border-width:0px}
 #picturn img{border:0;vertical-align:bottom;width:280px;height:400px}
 #picturn a{cursor:default;text-decoration:none}
  #picturn a span,#picturn strong,#picturn em,#picturn p{
  	display: none;
  }
/*#picturn .ccc img{background:rgba(0, 0, 0, 0.7) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明
filter:Alpha(opacity=70); background:#000; border:1px solid red;}*/
#picturn .ccc b{background:rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
filter:Alpha(opacity=50); background:#000;/*实现IE背景透明*/display:inline-block;position:absolute; left:0; top:0; width:100%; height:100%;}


        </style>


        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->



        {% include "header.jinja2" %}



         <div class="mba-margin-top">

            <div class="container ">
                <div class="row">


                    <div class="col-md-12">
                    <div class="meetups-header" id="meetup-recommend">

                             <ul id="picturn">

                                {% for banner in meetup_banners %}


                                    <li class="ccc">
                                        <a  href="{{ banner.link_url }}" target="_blank">
                                            <b></b><img alt="{{ banner.title }}" src="{{ banner.img_url }}" >
                                        </a>
                                        <span></span>

                                    </li>


                                {% else %}
                                    <li class="ccc">
                                        <a  href="/meetups" target="_blank">
                                            <b></b><img alt="上传首页banner后本条自动消失" src="/fanstatic/mba/img/dummy_banner.png" >
                                        </a>
                                        <span></span>
                                    </li>

                                {% endfor %}

{#                             TODO: Add headlines to this carousel#}

{#                             #}
{#                                {% for context in headlines %}#}
{#                                    <li class="ccc">#}
{#                                        <a  href="/meetup/{{ context.name }}" target="_blank">#}
{#                                            <b></b>#}
{#                                            <div class="img-replacer" style="width: 600px;height: 200px;background-color: green">#}
{#                                                #}
{#                                            </div>#}
{#                                            <div class="container-fluid" style="width: 600px;height: 200px;" >#}
{#                                                <div class="row">#}
{#                                                    <div class="col-md-4" style="background-image: url('{{  context.poster_img }}') ;width:100%; height:100%;">#}
{#                                                        <img src="{{  context.poster_img }}" style="width:100%;height:100%"/>#}
{#                                                        <div></div>#}
{#                                                    </div>#}
{#                                                    <div class="col-md-8">#}
{#                                                        <h1>{{ context.title }}</h1><br/>#}
{#                                                        <div>#}
{#                                                            分享嘉宾：#}
{#                                                            {% for teacher in context.teachers %}#}
{#                                                                {{ teacher }} &nbsp;#}
{#                                                            {% endfor %}#}
{#                                                        </div>#}
{#                                                        <div>地点：{{ context.location }}</div>#}
{#                                                        <div>活动时间：{{ context.meetup_start_time }} - {{ context.meetup_finish_time }}</div>#}
{##}
{#                                                        <br/>#}
{#                                                    </div>#}
{##}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </a>#}
{#                                        <span></span>#}
{##}
{##}
{#                                    </li>#}
{#                                {% else %}#}
{#                                    <li class="ccc">#}
{#                                        <a  href="/meetups" target="_blank">#}
{#                                            <b></b><img alt="设置活动首页显示后本条自动消失" src="/fanstatic/mba/img/dummy_banner.png" >#}
{#                                        </a>#}
{#                                        <span></span>#}
{#                                    </li>#}
{##}
{#                                {% endfor %}#}

                            </ul>

                      </div>
                    </div>

                </div>



                <div class="row">
                    <div class="col-md-9 meetups" >


                        <div class="newest">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                    <span class="title">活动推荐</span>
                                    <ul class="nav nav-tabs home-tabs" id="meetup-tab">
                                          <li {% if user.city_name not in ['北京','上海','广州','深圳'] %}class="active"{% endif %}><a href="#all" data-toggle="tab">全部</a></li>
                                          <li {% if user.city_name == '北京' %}class="active"{% endif %}><a href="#bj" data-toggle="tab">北京</a></li>
                                          <li {% if user.city_name == '上海' %}class="active"{% endif %}><a href="#sh" data-toggle="tab">上海</a></li>
                                          <li {% if user.city_name == '广州' %}class="active"{% endif %}><a href="#gz" data-toggle="tab">广州</a></li>
                                          <li {% if user.city_name == '深圳' %}class="active"{% endif %}><a href="#sz" data-toggle="tab">深圳</a></li>
                                          <li><a href="#others" data-toggle="tab">其他</a></li>
                                        </ul>
                              </div>
                              <div class="panel-body">


                                  <div class="row home-sector-sub" >

                                    <div class="col-md-10">
                                        <!-- Tab panes -->
                                        <div class="tab-content">

                                           {% for a in ["all","bj","sh","gz","sz","others"] %}
                                                 <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ a }}">
                                                      <ul class="meetuplist">
                                                            {% if meetups.get(a) %}
                                                                {% for meetup in meetups.all %}
                                                                    <li><a href="/meetup/{{meetup.name}}">
                                                                        <span class="meetup-type">[{{meetup.meetup_type}}]</span>
                                                                        <span>{{ meetup.title }}</span>
                                                                        <span class="post-date">{{ meetup.time.strftime('%Y-%m-%d   %H:%M') }}</span>

                                                                     </a></li>


                                                                {% endfor %}

                                                            {% else %}
                                                                对不起，暂时没有活动
                                                            {% endif %}
                                                      </ul>
                                                  </div>
                                            {% endfor %}
                                        </div>
                                    </div>


                                  </div>



                                </div>

                            </div>

                        </div>

                        <div class="reviews">
                            <div class="panel panel-default">
                              <div class="panel-heading">

                                  <span class="title">往期回顾</span>
                                   <ul class="nav nav-tabs review-tabs home-tabs">
                                      <li {% if user.city_name not in ['北京','上海','广州','深圳'] %}class="active"{% endif %}><a href="#review-all" data-toggle="tab">全部</a></li>
                                      <li {% if user.city_name == '北京' %}class="active"{% endif %}><a href="#review-bj" data-toggle="tab">北京</a></li>
                                      <li {% if user.city_name == '上海' %}class="active"{% endif %}><a href="#review-sh" data-toggle="tab">上海</a></li>
                                      <li {% if user.city_name == '广州' %}class="active"{% endif %}><a href="#review-gz" data-toggle="tab">广州</a></li>
                                      <li {% if user.city_name == '深圳' %}class="active"{% endif %}><a href="#review-sz" data-toggle="tab">深圳</a></li>
                                      <li><a href="#review-others" data-toggle="tab">其他</a></li>
                                    </ul>
                              </div>
                              <div class="panel-body">


                                  <div class="row home-sector-sub" >

                                    <div class="col-md-10">
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            
                                            <div class="tab-pane active" id="all">
                                              <ul class="meetuplist">
                                                    {% if reviews.all %}
                                                        {% for review in reviews.all %}
                                                            <li><a href="/review/{{review.name}}">{{ review.title }}</a></li>
                                                        {% endfor %}
                                                        
                                                    {% else %}
                                                        对不起，暂时没有活动
                                                    {% endif %}                                                    
                                              </ul>
                                          </div>
                                        </div>
                                    </div>


                                  </div>



                                </div>

                            </div>

                        </div>


                    </div>


                    <div class="col-md-3" ic="meetups-right-bar">

                        {%  if user %}
                        <div class="home-myinfo">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {% include "/inc/personal_info_header.jinja2" %}

                                    <hr />
{#                                    <div class="myinfo-header">#}
{#                                       <img alt="{{ user.name }}"class="navbar-avatar" src="{{ user.avatar_prefix }}{{ user.avatar }}"#}
{#                                                    width="30px" height="30px"/>#}
{#                                            {{ user.name }}#}
{#                                        <hr/>#}
{#                                    </div>#}


                                    <div class="panel-group" id="accordion">
                                      <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                              已参加的活动
                                            </a>
                                          </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                          <div class="panel-body">
                                              {% if user %}
                                                <ul>
                                                    {% for m in my_meetups %}
                                                        <li>
                                                            <a href="/meetup/{{ m.meetup.name }}">
                                                                {{ m.meetup.title }}  &nbsp;
                                                                {{ m.meetup.creation_date.strftime('%m%d %H:%M') }}
                                                            </a>
                                                        </li>
                                                        <a href="/i/meetups">更多</a>
                                                    {% else %}
                                                        您没有参加过任何活动喔..
                                                    {% endfor %}
                                                </ul>
                                              {% else %}
                                                  请先登陆
                                              {% endif %}


                                          </div>
                                        </div>
                                      </div>
                                      <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                              被邀请的活动
                                            </a>
                                          </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                          <div class="panel-body">
                                            功能暂未实现
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        {% endif %}





                    </div>

                </div>
         </div>
        </div>


        {% include "footer.jinja2" %}

        {% include "inc/js.jinja2" %}
       <script src="/fanstatic/mba/js/jquery.boutique.min.js"></script>

        <script type="text/javascript">
            $(function(){

               $("li#li_meetups").parent().find("li").removeClass("active");
               $("li#li_meetups").addClass("active");


                $('#picturn').boutique({
{#                    container_width:              860,#}
                    starter:			1,
                    speed:				800,
                    hoverspeed:			300,
                    hovergrowth:		0.01,
                    front_img_width:	500,
                    front_img_height:	200,
                    behind_opac:		1,
                    back_opac:			0.2,
                    behind_size:		1.0,
                    back_size:			0,
                    autoplay:			true,
                    autointerval:		4000,
                    freescroll:			true,
                    easing:				'easeOutQuart',
                    move_twice_easein:	'easeInQuart',
                    move_twice_easeout:	'easeOutQuart',
                    text_front_only:	true


                });

                /*
                $(document).pjax('.home-menu a', '#pjax-content');
                 */
            });
        </script>

    </body>
</html>
