            <form id="person_info" name="person_info" method="POST" action="">
	<input type="hidden" name="hd_id" value="{{person_info.id}}"/>
          <div class="info_view">

              <table>
              <tr  id="part1">
                <td class="avstar">
                    <img width="200px" height="200px" alt="{{ person_info.title }}"
                         src="{{ person_info.avatar }}">
                    <p style="text-align:center">(志友号-{{ '%08d' % person_info.id}})</p>
                </td>
               
                <td class="basic_info">
                  <p class="first">
		                <div class="name">
                            <span class="info_show">{{person_info.real_name or  person_info.name }}</span>
                            <input type="text" value="{{person_info.real_name or person_info.name }}" class="info_edit hidden" name="real_name"/>
                        </div>

                        {% set auth_i = person_info.auth_info %}
                        {% set auth_m = person_info.auth_meetup %}
                        {% set auth_f = person_info.auth_friend %}


                        <span class="info_auth {% if not auth_i %}info_auth_disable{% endif %}"
                              title="{% if auth_i %}已认证。{% else %}未认证。{% endif %}管理员确认后即可完成认证"></span>
                        <span class="activity_auth {% if not auth_m %}activity_auth_disable{% endif %}"
                              title="{% if auth_m %}已认证。{% else %}未认证。{% endif %}成功参加一次志友汇活动即可完成认证"></span>
                        <span class="friend_auth {% if not auth_f%}friend_auth_disable{% endif %}"
                              title="{% if auth_f %}已认证。{% else %}未认证。{% endif %}与10名校友成功交换名片即可完成认证"></span>
                  </p>
          <p class="basic">
              <label class="lbl_info">公司：</label>
              <span class="info_show  auth_hidden fixed_width">{{person_info.company or "暂未填写"}}</span>
              <input type="text"  class="info_edit hidden"  value="{{person_info.company}}" name="company"/>
              <a class="jiaohuan_see fixed_width hidden">成功交换名片可看</a><img src="/fanstatic/mba/img/auth_img.png" class="auth_set hidden" />
          </p>

        <p class="basic"><label class="lbl_info">职务：</label><span class="info_show auth_hidden fixed_width">{{person_info.title or "暂未填写"}}</span><input type="text" class="info_edit hidden" name="title" value="{{person_info.title}}" /><a class="jiaohuan_see  fixed_width hidden">成功交换名片可看</a><img src="/fanstatic/mba/img/auth_img.png" class="auth_set hidden" /></p>
		  <p class="basic"><label class="lbl_info">手机：</label><span class="info_show auth_hidden fixed_width">{{person_info.phone or "暂未填写"}}</span><input type="text" class="info_edit hidden" name="phone" value="{{person_info.phone}}" /><a class="jiaohuan_see  fixed_width hidden">成功交换名片可看</a><img src="/fanstatic/mba/img/auth_img.png" class="auth_set hidden" /></p>

		  <p class="basic"><label class="lbl_info">邮箱：</label><span class="info_show  auth_hidden fixed_width">{{person_info.email}}</span><input type="text" readonly="readonly" class="info_edit hidden"  value="{{person_info.email}}" name="email"/><a class="jiaohuan_see fixed_width hidden">成功交换名片可看</a><img src="/fanstatic/mba/img/auth_img.png" class="auth_set hidden" /></p>
                 

                  
		  <p class="basic">
              <label class="lbl_info">行业：</label>
              <span class="info_show" id="info_industry">{{person_info.industry or "暂未填写"}}</span>
              <input type="text" id="info_industry_input" value="{{person_info.industry}}" class="info_edit hidden" name="industry"/>
          </p>
                 
		  <p class="basic">
              <label class="lbl_info">居住地：</label>
              <span class="info_show" id="info_location">{{person_info.city.name or "暂未填写"}}</span>
              <input type="text"  id="info_location_input" class="info_edit hidden" value="{{person_info.city.name}}" name="city_name"/>
          </p>
                
		  <p class="basic"><label class="lbl_info">毕业学校：</label><span class="info_show">{{person_info.school or "暂未填写"}}</span><input type="text"  value="{{person_info.school}}" class="info_edit hidden" name="school"/></p>
                </td>
              </tr>
             
              </table>
              <button type="submit" class="hidden"></button>

          </div>

          <hr>
          <div  id="part2">
		  <p  class="hobby">
              <label class="lbl_hobby">专长：</label>
              <span  class="info_show">{{person_info.special_skills | join(", ") or "没神马专长"}}</span>
              <input type="text" id="info_skills_input" value="{{person_info.special_skills | join(", ")}}" class="info_edit hidden" name="special_skills"/></p>
		  <p  class="hobby">
              <label  class="lbl_hobby">兴趣：</label>
              <span  class="info_show">{{person_info.interests | join(", ")  or "没神马兴趣"}}</span>
              <input type="text" id="info_interest_input"  value="{{person_info.interests | join(", ")}}" class="info_edit hidden" name="interests"/>
          </p>
		  <p  class="hobby">
              <label class="lbl_hobby">往来：</label>
              <span  class="info_show">{{person_info.between | join(", ") or "很宅，从不出去"}}</span>
              <input type="text" id="info_between_input" value="{{person_info.between | join(", ")}}" class="info_edit hidden" name="between"/>
          </p>
          </div>
           <hr>
          <div  id="part3">
              <p><strong>个人简介</strong></p>
	            <p   class="info_show">{{person_info.introduction or "这家伙很懒，什么都没有写" }}</p>
              <textarea id="person-intro" name="introduction" class="info_edit hidden" width="100%" cols="64" placeholder="70个字以内">
                  {{- person_info.introduction -}}
              </textarea>
              <div class="info_edit hidden">还可以输入<span id="left-intro-num">70</span>字.</div>
          </div>

            </form>
    <script>
         $('#person-intro').keyup(function(){

                var val = $(this).val().trim();

                if(val.length>70 ) {
                    $(this).val( val.slice(0,70) );
                }

                $('#left-intro-num').html(70-val.length);
            });
    </script>