<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}


        <script src="/fanstatic/mba/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <style type="text/css">

    </style>
    <body id="minpian_body">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->





        {% include "header.jinja2" %}


 <div class="container mba-margin-top">
   <div class="col-md-12 col-md-offset-0">
        <br/>
        {% include "messages.jinja2" %}
        <div id="info_cnt" class="inline-block">
        
		{{person_info_form|safe}}	

        </div>  <!--end of info_cnt-->

        <div class="info_right">
{#            friendship:{% print(user.friendship) %}<br/>#}
{#                all friends:{% print(user.all_friends) %}<br/>#}
{#                my requests:{% print(user.my_requests) %}<br/>#}
{#                others requests:{% print(user.others_requests) %}<br/>#}
{#                {{  person_info.visitors }}#}
            <div class="div_set">



            {% if person_info.id == user.id %}
                <button class="btn btn-default btn-sm" id="info_edit_set">资料编辑</button>
                <button class="btn btn-default btn-sm" id="info_auth_set">隐私设置</button>
            {% else %}
                {# 我已经发送了加为好友的请求 #}
                <span id="rsqted-msg" class=" {% if not person_info in user.my_requests %} hidden {% endif %}">已经申请加为好友，等待对方同意</span>

                {% if person_info in user.others_requests %}
                    对方申请向你加为好友
                    <button class="btn btn-sm btn-default op-friend" id="agree_friend"  value="{{ person_info.id }}">同意</button>
                    <!--<button class="btn btn-sm btn-default op-friend" id="agree_friend" >同意</button>,-->
                {% elif person_info in user.all_friends %}
                    <button class="btn btn-default btn-sm op-friend" id="cancel_friend" value="{{ person_info.id }}">取消好友</button>
                {% else %}
                    <button class="btn btn-default btn-sm op-friend"  id="add_friend" value="{{ person_info.id }}">加为好友</button>
                {% endif %}


                <button class="btn btn-default btn-sm" id="invite-friend">推荐给好友</button>

            {% endif %}

            </div>
            <div id="renmai" class="right_head little_pad">我的人脉<span class="visited_count">({{ person_info.all_friends | length }})</span>
              <button class="switch add"></button></div>
            <div class="hidden"  id="renmai_info">
              <ul>
		        {% for friend in user.all_friends %}
                 <li class="renmai_item  clearfix">
		                <a href="/person/{{friend.id}}" alt="{{friend.real_name}}">
                            <img style="float:left" src="{{ friend.avatar }}"  height="40px" width="40px">
                        </a>

                      <div class="renmai_detail_cnt">
                          <p class="friend_detail_info"><b>&nbsp;&nbsp;{{friend.real_name}}</b>&nbsp;&nbsp;{{friend.company}}-{{friend.school }}</p>
                      </div>
                  </li>
		        {% endfor %}
              </ul>
              <div class="nav_down">
                <a class="nav_down" href=""><img src="/fanstatic/mba/img/nav_down.gif"></a>
              </div>
              
              <!-- <span class="nav_down">&nbsp;&nbsp;</span> -->
            </div>

	    <div id="visitors" class="right_head little_pad">来访纪录:<span class="visited_count">{{visit_count}}</span><button class="switch add"></button>

        </div>
            <div class="hidden"  id="visitors_info">
              <ul>
		        {% for friend in person_info.visitors %}
                 <li class="renmai_item  clearfix">
		                <a href="/person/{{friend.id}}" alt="{{friend.real_name}}">
                            <img style="float:left" src="{{ friend.avatar }}"  height="40px" width="40px">
                        </a>

                      <div class="renmai_detail_cnt">
                          <p class="friend_detail_info"><b>&nbsp;&nbsp;{{friend.real_name}}</b>&nbsp;&nbsp;{{friend.company}}-{{friend.school }}</p>
                      </div>
                  </li>
		        {% endfor %}
              </ul>
              <div class="nav_down">
                <a class="nav_down" href=""><img src="/fanstatic/mba/img/nav_down.gif"></a>
              </div>
           </div>

        <div id="friend" class="right_head">可能认识的人<button class="switch sub"></button></div>
            <div id="friend_info" class="friend_list">
                <ul>
			{% for friend in toknown_list %}
                  <li class="friend_item  clearfix">
                    <a href="/person/{{friend.id}}" alt="{{friend.real_name}}"><img style="float:left" src="{{ friend.avatar  }}" height="40px" width="40px">
		            </a>
                      <div class="friend_detail_cnt">
			      <p class="friend_detail_info"><b>&nbsp;&nbsp;{{friend.real_name}}</b>&nbsp;&nbsp;{{friend.company}}-{{friend.school }}</p>
			      <a class="friend_detail_info renshi" href="/person/{{friend.id}}">&nbsp;&nbsp;认识她</a>
                      </div>
                  </li>
		  {% endfor %}
                </ul>
               
            </div>
            <div  class="right_head yaoqing">
              邀请站外好友
            </div>
            <div>
                <input type="text" id="name" placeholder="姓名" width="35px"/><input type="text" id="email" placeholder="邮箱"  width="35px"/>
                <p><a class="add_yaoqing" src="">新增一位邀请者</a></p>
                <button>邀请</button>
            </div>
          
        </div> <!--end of info_right-->
        
         <div class="info_right   hidden">
          <div class="div_set">
             <a class="info_set" id="exchange_mingpian">交换名片</a>
             <a class="info_set" id="sixin">站内私信</a>
          </div>
          <div id="renmai" class="right_head little_pad">最近来访<a class="all" href="">全部</a></div>
            <div id="renmai_info">

		    {% for v in visitors %}                
                    <img class="visited" src="/fanstatic/mba/img/renmai.png" height="60px" width="60px">
        		{% endfor %} 
             
              
              <!-- <span class="nav_down">&nbsp;&nbsp;</span> -->
            </div>
        
            
          </div>
       
      </div>

      <div id="send_sixin" style="clear:both">
          <h4 class="sixin_title">发私信<img src="/fanstatic/mba/img/sixin_colse.png"  class="sixin_close" style="float:right"></h4>
          <div style="padding-left:10px;padding-top:10px">
            <label>内&nbsp;&nbsp;容</label>
            <textarea maxlength="250" cols="36" style="border:1px solid RGB(255,159,10)">
              
            </textarea>
            <p id="sixin_tool_cnt">
              <img class="sixin_image" src="/fanstatic/mba/img/sixin_biaoqing.png">
              <img class="sixin_image" src="/fanstatic/mba/img/sixin_image.png">
              <img class="sixin_image" src="/fanstatic/mba/img/sixin_facebook.png">
              <button class="btn btn-default btn-sm btn_sixin_send">发送</button> 
            </p>
            
          </div>
          
      </div>


 </div>


<!--- invite friend --->

<div class="panel panel-default  friend-invite-friend-box" aria-hidden="true">
  <div class="panel-heading">
    <h3 class="panel-title">选择要邀请的好友</h3>
  </div>
  <div class="panel-body">
        <div class="friend-invite-friend-body">

        </div>
        <div class="">
            <textarea  class="extra-msg form-control" rows="2" placeholder="附加消息"/></textarea>
        </div>
  </div>

  <div class="panel-footer">
      <button class="btn btn-xs btn-primary " id="do-invite-friend" >确定</button>
      <button class="btn btn-xs btn-default" id="cancel-invite-friend" >取消</button>
  </div>
</div>



        {% include "footer.jinja2" %}








        
        {% include "inc/js.jinja2" %}
        <script src="../static/js/bootstrap-tooltip.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>

	 var options = {
	   iframe: true,
	   success:function (rText, statusText, xhr, $form) {
	   	if(rText != 'ERROR') {
			$('#info_cnt').html(rText);
		}
		else {
			alert('更新出错');
		}
	   }
	 };



     $(function() {
         $('#invite-friend').click(function (e) {
             // show invite-box  nearby the button
             var pos = $(this).offset(),
                     width = $(this).width();

             var box = $('.friend-invite-friend-box');
             if (box.is(":visible")) {
                 box.hide();
             } else {
                 box.show().offset({
                     top: pos.top,
                     left: pos.left + width + 30
                 });


                 $.get('/my_friends', function (ret) {
                     if (ret.errcode == ret.SUCCESS) {
                         var val = ret.retval;
                         var buildhtml = '';
                         $.each(val, function (i, item) {
                             buildhtml += '<input type="checkbox" value="' + item.id + '"/>';
                             buildhtml += '<img src="' + item.avatar + '" width="14px" height="14px"/>' + (item.real_name || item.name);
                             buildhtml += '<br/>';

                         });
                         $('.friend-invite-friend-body').html(buildhtml);
                     }
                 })


             }


         });


         $('#do-invite-friend').click(function () {
             var invite_list = $('.friend-invite-friend-body input:checked');
             if(invite_list.length == 0){alert("至少选择一名好友"); return;}

             var invite_id_list = [];
             invite_list.each(function (i, item) {
                 invite_id_list.push($(item).val());
             });
             var extramsg = $()
             $.post('/api/infobox', {
                 method: 'prompt_friend',
                 invitee_list: invite_id_list,
                 prompted_userid: {{ person_info.id }},
                 extramsg: $('.extra-msg').val()

             }, function (ret) {

                 if (ret.errcode == ret.SUCCESS) {
                     alert(ret.retval);

                 } else {
                     alert(ret.errmsg);
                 }
                 $('.friend-invite-friend-box').hide();

             });

         });

         $("#cancel-invite-friend").click(function(){
             $('.friend-invite-friend-box').hide();
         })

     });

         $(document).ready(function() {



               $("li#li_card").parent().find("li").removeClass("active");
               $("li#li_card").addClass("active");
               // $('.activity_auth').tooltip("show");
                $('.info_auth').tooltip({"placement":"bottom"});
                $('.activity_auth').tooltip({"placement":"bottom"});
                $('.friend_auth').tooltip({"placement":"bottom"});
               // $(".switch").addClass("sub");
                $(".sixin_close").bind("click",function(){
                  $("#minpian_body").removeClass("mask");
                  $("#send_sixin").hide();
               })


                function do_job(method, opts, callback){
                    $.extend(opts, {method:method});
                    $.post("/friends", opts, function(ret){
                        if(ret.errcode == ret.SUCCESS){
                            callback(ret);
                            window.location.reload();
                        }else{
                            alert('错误：'+ret.errmsg);
                        }
                    })
                }


                $(".op-friend").click(function(){
                    var method = $(this).attr("id");
                    var to_add = $(this).val();
                    var self = this;
                    do_job(method, {'target-person':to_add},function(ret){

{#                        if(method=='add_friend'){#}
                            // $(".rsqted-msg").show();
                           // $(self).before(ret.retval);
{#                        }#}
                    })


                });
		
	       {% if user_status == 1 %}
               $("#info_edit_set").bind("click",function(){
                  el = $(this);
                  if('保存' == el.html()) {
                        $('#person_info').ajaxSubmit(options);
                    el.html('资料编辑');
                  }
                  else {
                      $(".info_show").addClass("hidden");
                      $(".jiaohuan_see").addClass("hidden");
                      $(".auth_set").addClass("hidden");
                      $(".info_edit").removeClass("hidden");
                      el.html('保存');
                  }
               });
	       {% else %} 
               $("#info_friend_set").bind("click", function(){
                  el = $(this);

                    var on_result = function(result) {
                        if( result != 0) {
                            alert("设置错误！");
                            return;
                        }
                        if(el.html() == "加为好友"){
                            el.html("取消好友");
                        }
                        else {
                            el.html("加为好友");
                        }
                    };

                  if(el.html() == "加为好友") {
                    $.get("/friend_set/{{curr_id}}/{{person_info.id}}/1", on_result);
                  }
                  else {
                    $.get("/friend_set/{{curr_id}}/{{person_info.id}}/0", on_result);
                   }
                });

	       {% endif %}

                $("#info_auth_set").bind("click",function(){
                  $(".info_show").removeClass("hidden");
                  $(".auth_set").removeClass("hidden");
                  $(".info_edit").addClass("hidden");
                  $(".jiaohuan_see").addClass("hidden");
               });

              $(".auth_set").bind("click",function(){
                  $(".auth_hidden").addClass("hidden");
                  $(".info_edit").addClass("hidden");
                 
                  $(this).parents().find("a.jiaohuan_see").removeClass("hidden");
              });

                


               $("#sixin").bind("click",function(){
                // console.log(22);
                  $("#minpian_body").addClass("mask");
                  // console.log($(window).height());
                  // console.log($("#send_sixin").height());
                  $("#send_sixin").show();
                  var height = ($(window).height()-$("#send_sixin").height())/2;
                  // console.log(height);
                  var width = ($(window).width()-$("#send_sixin").width())/2;
                  $("#send_sixin").css({"top":height,"left":width});
               });

               $(".switch").bind("click",function(){
                  var id = "#" + $(this).parent().attr("id") + "_info";
                  if($(this).hasClass("add"))
                  {
                    $(id).removeClass("hidden");
                    $(this).removeClass("add").addClass("sub");
                  }
                  else
                  {
                    $(id).addClass("hidden");
                    $(this).removeClass("sub").addClass("add");
                  }
               });
            });
        </script>
    </body>
</html>
