<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}


<script src="js/jquery-1.10.2.min.js"></script>
     <script src="js/modernizr-2.6.2.min.js"></script>
     <script type="text/javascript">
       $(function(){
		   $(".personal_menu li").click(function(){
			   $(this).addClass("menu_click").siblings().removeClass("menu_click");
			   });
			   
			   $(".ico_shou").click(function(){
				   $(this).parents(".panel_head").next().slideToggle();
				   
				   });
		   }); 
    
     </script>
    </head>
    <style type="text/css">
	body{ font-size:13px; font-family:'微软雅黑'; background-color:#eaf3ee;}
	a{color:#777;}
	ul{list-style-type:none;padding:0; margin:0;}
    .tou_xiang { text-align:center;}	
	.search1{margin-top:10px; margin-left:95px;}
	
	  .personal_note{border:1px solid #e6e7e9; margin:60px 0; overflow:hidden; padding:10px 0;}
      .personal_note ul li{float:left; line-height:22px;}
	  .personal_note ul li a{color:#428bca;}
	 .bfont{color:#428bca;}
	  
      .personal_menu{padding:10px 0;}
	  .personal_menu li{ line-height:25px; background:url(/fanstatic/mba/img/menu_point.jpg) 68px 9px no-repeat;}
	  .personal_menu li a{color:#428bca;}
      .panel_head{ background-color:#e1eaf1; padding:5px; text-align:left; padding-left:10px; border-radius:5px 5px 0 0;color:#428bca; text-align:right;}
	  .panel_head a{ color:#428bca;}
	  .panel_head h3{float:left;}
      .panel_content{clear:both; border:1px solid #ebebed;color:#3f5181; margin-bottom:25px;}
	  .panel_content li{text-align:center;}
	  .menu_click{ background:url(/fanstatic/mba/img/menu_click.jpg) 0 0 no-repeat;}
	  
	  .jianjie p{ line-height:30px;}
	  .jianjie .jj_content{padding:0 0 20px 20px;}
	  .jianjie .bfont{padding-bottom:5px;}
	  .jianjie dt{  border-bottom:1px solid #e1e2e4;padding-bottom:5px;}
	  .jianjie dt h1{text-align:left; background:url(/fanstatic/mba/img/ico_gou.jpg) 70px 5px no-repeat;}
	  .jianjie .ico_update{ background:url(/fanstatic/mba/img/ico-job.jpg) 0 0 no-repeat; width:33px; height:12px;}
	  
	  .new_zp{overflow:hidden;font-size:12px; padding:30px 0;}
	  .new_zp a{color:#707070;}
	  .new_zp li{text-align:left; padding:0; padding-left:10px; line-height:25px;}
	 
	 
	  .new_zp span{color:#8cbb6b;}
	  .ml30{margin-left:30px;}
	  
	  
	   .friends_quan li{line-height:35px; text-align:left; padding-left:10px; font-size:12px;}
	   .friends_quan .star{ background:url(/fanstatic/mba/img/friends.jpg) -5px -189px no-repeat; width:10px; height:10px; display:inline-block; }
	   .friends_quan .panel_head a{color:#777; font-size:12px;}
	  .f1{ background:url(/fanstatic/mba/img/friends.jpg)  0 0 no-repeat; width:22px; height:22px; padding-left:25px;}
      .f2{ background:url(/fanstatic/mba/img/friends.jpg)  0 -35px no-repeat; width:22px; height:22px; padding-left:25px;}
	  .f3{ background:url(/fanstatic/mba/img/friends.jpg)  0 -68px no-repeat; width:22px; height:22px; padding-left:25px;}
	  .f4{ background:url(/fanstatic/mba/img/friends.jpg)  0 -101px no-repeat; width:22px; height:22px; padding-left:25px;}
	  .f5{ background:url(/fanstatic/mba/img/friends.jpg)  0 -133px no-repeat; width:22px; height:22px; padding-left:25px;}
	  .f6{ background:url(/fanstatic/mba/img/friends.jpg)  0 -167px no-repeat; width:22px; height:22px; padding-left:25px;}
	  .panel_head a{padding-right:10px;}
	 .panel_head .ico_shou{background:url(/fanstatic/mba/img/ico-job.jpg) 0 -13px no-repeat; display:inline-block; width:34px; height:13px; padding-right:40px;}
     h3.panel_title{color:#428BCA; font-size:14px;}
	  .job_news{ padding:10px 0;}
	 .job_news a{color:#777;}
	 .job_news li{text-align:left; padding-left:18px; line-height:25px; font-size:12px;}
	 .ta{text-align:left;}
	 .job_apply ul{ padding-left:10px; padding-top:8px; overflow:hidden; margin-bottom:20px;}
	 .job_apply ul li{float:left;}
	 .job_apply .active{ background-color:#47a914; color:#fff; padding:3px 0;}
	 .job_apply table{ clear:both; margin-bottom:10px;}
	 .job_apply table th{color:#bababa;}
	 .job_apply table td{ color:#777; text-align:left;}
	 .job_apply .ico_date{ background:url(/fanstatic/mba/img/ico-job.jpg) 0 -26px no-repeat; width:35px; height:13px; padding-left:30px;}
	 
	 .mba-footer{ padding-top:43px; padding-bottom:68px; background-color:#eee; border-top:2px solid #fafafa;}
	 
    </style>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->





        
        <header class="navbar navbar-inverse navbar-fixed-top mba-nav" role="banner">
            <div class="container">
                <div class="col-md-10 col-md-offset-1">

                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#"><img src="/fanstatic/mba/img/logo.png" alt="MBA志友会"/></a>
                    </div>
                    <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="/">首页</a></li>
                        <li><a href="/activity">我的活动</a></li>
                        <li><a href="/find">找找看</a></li>
                          <li><a href="/job">求职</a></li>
                      </ul>
                       <div class="search_box search1">
                        <input type="text" class="search_input" placeholder="搜索你感兴趣的活动"/>
                        <button class="search_btn" ></button>
                     </div>
                     
                    </div><!--/.nav-collapse -->
                   

                </div>
            </div>
        </header>

        <div class="container" >
            <div class="col-md-10 col-md-offset-1 mba-my-resume-cnt">
                <div class="mba-resume-total-grid" style="border:none;">
                    <img src="/fanstatic/mba/img/my_resume_title.jpg">
                    

                    <hr/>

                   <div class="row" style="background-color:#fefefe; padding-top:38px; margin-top:50px;margin-bottom:50px;">
                        <div class="col-md-3">
                           <dl class="tou_xiang">
                             <dt style="margin-left:0px;"><img src="/fanstatic/mba/img/tou_xiang.jpg" style="border:1px solid #ccc;"></dt>
                             <dd>(ID:362551665)</dd>
                           </dl>
                           <div class="personal_note">
                             <ul>
                               <li class="col-md-6"><a href="#">我的头像</a></li>  
                               <li class="col-md-6"><a href="#">我的资料</a></li>  
                               <li class="col-md-6"><a href="#">主页风格</a></li>  
                               <li class="col-md-6"><a href="#">我的积分</a></li>  
                               <li class="col-md-6"><a href="#">邮件提醒</a></li>  
                               <li class="col-md-6"><a href="#">隐私筛选</a></li>  
                             </ul>
                           </div>
                           <div style="clear:both;"></div>
                           <h3 class="panel_head ta">个人菜单</h3>
                           <ul class="personal_menu panel_content">
                             <li><a href="#">个人资料</a></li>
                             <li><a href="#">我的简历</a></li>
                             <li><a href="#">好友管理</a></li>
                             <li><a href="#">职场资讯</a></li>
                             <li><a href="#">增值服务</a></li>
                             <li><a href="#">职位资讯</a></li>
                             <li><a href="#">在线沙龙</a></li>
                       
                           </ul>
                         
                        </div>
 
                            <div class="col-md-7 mba-resume-part tab-pane fade  in active" id="resume_info">
                                <div class="jianjie">
                                   <dl>
					   <dt><h1>{{person_info.real_name}}</h1></dt>
                                     <dd style=" overflow:hidden;">
                                     <div class="jj_content" style="float:left;" >
					     <p class="bfont">{{person_info.work_info}}工作经验<span class="ml30">{{person_info.sex_info}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;{{person_info.birth_old}}岁&nbsp;({{person_info.birth_date}})</p>
				       <p>居住: {{person_info.location}}</p>
				       <p>电&nbsp;&nbsp;话： {{person_info.phone}}(手机)</p>
				       <p>Email： {{person_info.email}}</p>
                                       </div>
                                       <p class="ico_update" style="margin-left:475px; margin-top:5px;"></p>
                                     </dd>
                                   </dl>
                                </div>
                                
                            
                                  <div class="panel_head"><h3>最新招聘</h3><a href="#" class="ico_shou">&nbsp; </a></div>
                                  <ul class="panel_content new_zp">
				     {% for pos in new_positions %}
				     <li class="col-md-6"><a href="/position/{{pos.name}}">{{pos.description}}</a></li>
				     {% endfor %}
                                 </ul>
                             
                                
                                  <div class="panel_head"><h3 class="panel_title">工作申请记录&amp;收藏</h3><a href="#">人事经理来信</a></div>
                                  <div class="panel_content job_apply">
                                   
                                     <ul>
                                       <li class="col-md-2 active">社会招聘申请</li>
                                       <li class="col-md-3">校园招聘申请</li>
                                       <li class="col-md-2">职位收藏</li>
                                     </ul>
                                
                                     <table>
                                        <tr>
                                          <th class="col-md-3">职位名称</th>
                                          <th class="col-md-6">公司名称</th>
                                          <th class="col-md-3">申请日期</th>
                                        </tr>
                                        <tr>
                                           <td class="col-md-3">平面设计</td>
                                           <td class="col-md-6">刻度地产集团有限公司</td>
                                           <td class="col-md-3 ico_date"><span style="padding-left:20px;">2014-04-11</span></td>
                                        </tr>
                                     </table>
                                   
                                 </div>
                               
                                  <div class="panel_head"><h3 class="panel_title">职场资讯</h3><a href="#">更多>></a></div>
                                  <ul class="panel_content job_news">
                                     <li><a href="#">[薪酬]小心,大牌企业也会有“短命”高薪!</a></li>
                                     <li><a href="#">[薪酬]小心,大牌企业也会有“短命”高薪!</a></li>
                                     <li><a href="#">[薪酬]小心,大牌企业也会有“短命”高薪!</a></li>
                                     <li><a href="#">[薪酬]小心,大牌企业也会有“短命”高薪!</a></li>
                                     <li><a href="#">[薪酬]小心,大牌企业也会有“短命”高薪!</a></li>
                                     <li><a href="#">[薪酬]小心,大牌企业也会有“短命”高薪!</a></li>
                                   
                                 </ul>
                             
                            </div>
                       
                        
                       <div class="col-md-2">
                         <div class="friends_quan">
                           <div class="panel_head"><h3 class=" panel_title">好友圈</h3> <a href="#">管理</a></div>
                           <ul class="panel_content">
                           <li><a class="f1" href="#">独立寒秋朱朱</a></li>
                           <li><a href="#" class="f2">J-in-K</a><span class="star"> </span></li>
                           <li><a href="#"  class="f3">超赚奇</a></li>
                           <li><a href="#" class="f4">半夜醒着</a></li>
                           <li><a href="#" class="f5">小小孩书生</a></li>
                           <li><a href="#" class="f6">BinGo-HuA</a><span class="star"> </span></li>
                           <li><a href="#"  class="f1">独立寒秋朱朱</a></li>
                           <li><a href="#" class="f2">J-in-K</a><span class="star"> </span></li>
                           <li><a href="#" class="f3">超赚奇</a></li>
                           <li><a href="#" class="f4">半夜醒着</a></li>
                           <li><a href="#" class="f5">小小孩书生</a></li>
                           <li><a href="#" class="f6">BinGo-HuA</a><span class="star"> </span></li>
                           </ul>
                           <a href="#" style=" text-align:right; display:block;">更多>></a>
                         </div>
                       
                       
                       </div>
                      </div>  
                        
                        
                 
                </div>
                </div>
                
            </div>



        
<footer class="mba-footer">
            <div class="container">
                <div class="row">

                    <div class="col-md-7 col-md-offset-1">
                        <a href="#">关于我们</a> &nbsp;|&nbsp;
                        <a href="#">联系我们</a> &nbsp;|&nbsp;
                        <a href="#">法律条款</a> &nbsp;|&nbsp;
                        <a href="#">帮助中心</a> &nbsp;|&nbsp;
                        <a href="#">内容招募</a> &nbsp;|&nbsp;
                        <a href="#">意见反馈</a> &nbsp;|&nbsp;
                        <a href="#">关注我们</a> &nbsp;|&nbsp;               
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                      <img src="/fanstatic/mba/img/logo.png" width="140" height="41"/>
                    
                    </div>

                </div>

            </div>


        </footer>




        <!-- Bootstrap -->
        <script src="static/bootstrap/js/bootstrap.min.js"></script>

        <script src="static/js/plugins.js"></script>

        <script src="static/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');


           $(document).ready(function(){
              $("#resume_summary_cnt").delegate("li", "click", function() {
                console.log(11);
                $(this).parent().children().each(function() {
                  $(this).removeClass("active");
                });
                $(this).addClasss("active");
              });

           });
        </script>
    </body>
</html>
