<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}


        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <style type="text/css">

    </style>
    <body id="minpian_body">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->





        {% include "header.jinja2" %}

       <div class="container-fluid mba-margin-top mba-banner" >
      <center><img src="/fanstatic/mba/img/banner.jpg"></center>
</div>
 <div class="container ">
   <div class="col-md-12 col-md-offset-0">
        <div id="info_cnt" class="inline-block">
        
		{{person_info_form|safe}}	

        </div>  <!--end of info_cnt-->

        <div class="info_right">
            <div class="div_set">
		    {% if user_status == 1 %}
             <button class="btn btn-default btn-sm" id="info_edit_set">资料编辑</button>
             <button class="btn btn-default btn-sm" id="info_auth_set">隐私设置</button>
	     {% elif user_status == 0 %}
             <button class="btn btn-default btn-sm" id="info_friend_set">加为好友</button>
	     {% else %}
             <button class="btn btn-default btn-sm" id="info_friend_set">取消好友</button>
	     {% endif %}
            </div>
            <div id="renmai" class="right_head little_pad">我的人脉
              <button class="switch add"></button></div>
            <div class="hidden"  id="renmai_info">
              <ul>
		      {% for friend in person_info.all_friends %}
                 <li class="renmai_item  clearfix">
		  <a href="/person/{{friend.id}}" alt="{{friend.real_name}}"><img style="float:left" src="/fanstatic/mba/img/kown.jpg" height="100px" width="100px">
                      <div class="renmai_detail_cnt">
			      <p class="friend_detail_info">&nbsp;&nbsp;{{friend.real_name}}</p>
			      <p class="friend_detail_info">&nbsp;&nbsp;{{friend.industry}}/{{friend.school}}</p>
                      </div>
                  </li>
		  {% endfor %}
              </ul>
              <div class="nav_down">
                <a class="nav_down" href=""><img src="/fa泪nstatic/mba/img/nav_down.gif"></a>
              </div>
              
              <!-- <span class="nav_down">&nbsp;&nbsp;</span> -->
            </div>
            <div class="right_head little_pad">来访纪录:<span class="visited_count">251</span><button class="switch add"></button></div>
            <div id="friend" class="right_head">可能认识的人<button class="switch sub"></button></div>
            <div id="friend_info" class="friend_list">
                <ul>
			{% for friend in toknown_list %}
                  <li class="friend_item  clearfix">
		  <a href="/person/{{friend.id}}" alt="{{friend.real_name}}"><img style="float:left" src="/fanstatic/mba/img/kown.jpg" height="100px" width="100px">
		      </a>
                      <div class="friend_detail_cnt">
			      <p class="friend_detail_info">&nbsp;&nbsp;{{friend.real_name}}</p>
			      <p class="friend_detail_info">&nbsp;&nbsp;{{friend.industry}}/{{friend.school}}</p>
			      <a class="friend_detail_info renshi" href="/person/{{friend.id}}">&nbsp;&nbsp;认识她</a>
                      </div>
                  </li>
		  {% endfor %}
                </ul>
               
            </div>
            <div  class="right_head yaoqing">
              邀请站外好友
                泪
            </div>
            <div>
                <input type="text" id="name" placeholder="姓名" width="35px"/><input type="text" id="email" placeholder="邮箱"  width="35px"/>
                <p><a class="add_yaoqing" src="">新增一位邀请者</a></p>
                <button>邀请</button>
            </div>
          
        </div> <!--end of info_right-->
        
         <div class="info_right   hidden">
          <div class="div_set">
             <a class="info_set" id="exchange_mingpian">交换名片</a>
             <a class="info_set" id="sixin">站内私信</a>
          </div>
          <div id="renmai" class="right_head little_pad">最近来访<a class="all" href="">全部</a></div>
            <div id="renmai_info">

                
                    <img class="visited" src="/fanstatic/mba/img/renmai.png" height="60px" width="60px">
                      
                    <img class="visited" src="/fanstatic/mba/img/renmai.png" height="60px" width="60px">
                     
                    <img class="visited" src="/fanstatic/mba/img/renmai.png" height="60px" width="60px">

                    <img class="visited" src="/fanstatic/mba/img/renmai.png" height="60px" width="60px">
                      
                    <img class="visited" src="/fanstatic/mba/img/renmai.png" height="60px" width="60px">
                     
                    <img class="visited" src="/fanstatic/mba/img/renmai.png" height="60px" width="60px">
                      
             
              
              <!-- <span class="nav_down">&nbsp;&nbsp;</span> -->
            </div>
        
            
          </div>
       
      </div>

      <div id="send_sixin" style="clear:both">
          <h4 class="sixin_title">发私信<img src="/fanstatic/mba/img/sixin_colse.png"  class="sixin_close" style="float:right"></h4>
          <div style="padding-left:10px;padding-top:10px">
            <label>内&nbsp;&nbsp;容</label>
            <textarea maxlength="250" cols="36" style="border:1px solid RGB(255,159,10)">
              
            </textarea>
            <p id="sixin_tool_cnt">
              <img class="sixin_image" src="/fanstatic/mba/img/sixin_biaoqing.png">
              <img class="sixin_image" src="/fanstatic/mba/im泪g/sixin_image.png">
              <img class="sixin_image" src="/fanstatic/mba/img/sixin_facebook.png">
              <button class="btn btn-default btn-sm btn_sixin_send">发送</button> 
            </p>
            
          </div>
          
      </div>


 </div>


        {% include "footer.jinja2" %}








        
        <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        <!-- Bootstrap -->
        <script src="static/bootstrap/js/bootstrap.min.js"></script>

        <script src="static/js/plugins.js"></script>

        <script src="static/js/main.js"></script>
        <script src="../static/js/bootstrap-tooltip.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>

	 var options = {
	   iframe: true,
	   success:function (rText, statusText, xhr, $form) {
	   	if(rText != 'ERROR') {
			$('#info_cnt').html(rText);
		}
		else {
			alert('更新出错');
		}
	   }
	 };

            $(document).ready(function() {

               // $("li#li_job").parent().find("li").removeClass("active");
               // $("li#li_job").find(a).addClass("active");
               // $('.activity_auth').tooltip("show");
                $('.activity_auth').tooltip({"placement":"top"});
                $('.friend_auth').tooltip({"placement":"bottom"});
               // $(".switch").addClass("sub");
                $(".sixin_close").bind("click",function(){
                  $("#minpian_body").removeClass("mask");
                  $("#send_sixin").hide();
               });
		
	       {% if user_status == 1 %}
               $("#info_edit_set").bind("click",function(){
		  el = $(this);
		  if('保存' == el.html()) {
        		$('#person_info').ajaxSubmit(options);
			el.html('资料编辑');
		  }
		  else {
			  $(".info_show").addClass("hidden");
			  $(".jiaohuan_see").addClass("hidden");
			  $(".auth_set").addClass("hidden");
			  $(".info_edit").removeClass("hidden");
			  el.html('保存');
		  }
               });
	       {% else %} 
               $("#info_friend_set").bind("click", function(){
		  el = $(this);

		var on_result = function(result) {
			if( result != 0) {
				alert("设置错误！");
				return;
			}
			if(el.html() == "加为好友"){
				el.html("取消好友");
			}
			else {
				el.html("加为好友");
			}
		};

		  if(el.html() == "加为好友") {
			$.get("/friend_set/{{curr_id}}/{{person_info.id}}/1", on_result);
		  }
		  else {
			$.get("/friend_set/{{curr_id}}/{{person_info.id}}/0", on_result);
		   }
		});

	       {% endif %}

                $("#info_auth_set").bind("click",function(){
                  $(".info_show").removeClass("hidden");
                  $(".auth_set").removeClass("hidden");
                  $(".info_edit").addClass("hidden");
                  $(".jiaohuan_see").addClass("hidden");
               });

              $(".auth_set").bind("click",function(){
                  $(".auth_hidden").addClass("hidden");
                  $(".info_edit").addClass("hidden");
                 
                  $(this).parents().find("a.jiaohuan_see").removeClass("hidden");
              });

                


               $("#sixin").bind("click",function(){
                // console.log(22);
                  $("#minpian_body").addClass("mask");
                  // console.log($(window).height());
                  // console.log($("#send_sixin").height());
                  $("#send_sixin").show();
                  var height = ($(window).height()-$("#send_sixin").height())/2;
                  // console.log(height);
                  var width = ($(window).width()-$("#send_sixin").width())/2;
                  $("#send_sixin").css({"top":height,"left":width});
               });

               $(".switch").bind("click",function(){
                  var id = "#" + $(this).parent().attr("id") + "_info";
                  if($(this).hasClass("add"))
                  {
                    $(id).removeClass("hidden");
                    $(this).removeClass("add").addClass("sub");
                  }
                  else
                  {
                    $(id).addClass("hidden");
                    $(this).removeClass("sub").addClass("add");
                  }
               });
            });
        </script>
    </body>
</html>
