
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="css/style.css" type="text/css" rel="stylesheet">

</head>

<body>
 <div id="login_header">
   <div id="headbox"> 
      <ul>
        <li class="active"><a href="/">首页</a></li>
        <li><a href="/activity">我的活动</a></li>
        <li><a href="/contact">找找看</a></li>
        <li class="no_margin"><a href="/job">求职</a></li>
     </ul>
  </div>
</div>
  <div id="login_content">
    <div class="con_nav clearfix">
      <dl>
        <dt><img src="images/huoz.gif"></dt>
        <dd class="clearfix"><div class="line"></div><h2>商务合作</h2><div class="line"></div></dd>
      </dl>
        <dl>
        <dt><img src="images/map.gif"></dt>
        <dd class="clearfix"><div class="line"></div><h2>网站地图</h2><div class="line"></div></dd>
      </dl>
        <dl class="no_margin">
        <dt><img src="images/contact.gif"></dt>
        <dd class="clearfix"><div class="line"></div><h2>联系我们</h2><div class="line"></div></dd>
      </dl>
      <ul>
        <li><a href="#">谷歌2013热门搜索排行Phone5S</a></li>
        <li><a href="#">第三复旦大学冥想减压课引来白领特地请假上课</a></li>
      </ul>
      <ul>
        <li><a href="#">谷歌2013热门搜索排行Phone5S</a></li>
        <li><a href="#">第三复旦大学冥想减压课引来白领特地请假上课</a></li>
      </ul>
      <ul class="no_margin">
        <li><a href="#">谷歌2013热门搜索排行Phone5S</a></li>
        <li><a href="#">第三复旦大学冥想减压课引来白领特地请假上课</a></li>
      </ul>
    </div>
    <div class="news">
      <div class="news_con fl"> 
         <h2>最新动态</h2>
          <ul>
            <li><a href="#">谷歌2013热门搜索排行Phone5S第三</a></li>
            <li><a href="#">复旦大学冥想减压课引来白领特地请假上课</a></li>
            <li><a href="#">奚国华：中国移动明年将销售1亿部4G终端</a></li>
            <li><a href="#">麦格理：昆仑能源策略不变 仍是明年首选这一</a></li>
          </ul>
          <a href="#"><img src="images/more.gif"></a>
      </div>
     <img src="images/news_pic.gif">
    
    </div>
    <div class="partner">
      <h2>合作伙伴</h2>
      <p>
         Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet
      </p> 
      <a href="#"><img src="images/more.gif"></a>
    </div>
  
  </div>
  <div id="login_footer">
     Copyright ZHIYOUHUI. All Rights Reserved.<span>View Online | Unsubscribe</span>
  
  </div>
</body>
</html>
