<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="/fanstatic/mba/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/fanstatic/mba/css/main.css">
        <link rel="stylesheet" type="text/css" href="/fanstatic/mba/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/fanstatic/mba/css/all.css">

        <style type="text/css">
            .setup-wrapper {
                padding-top: 60px;
                padding-bottom: 60px;
            }
            .setup-wrapper .lead {
                margin-bottom: 30px;
                font-size: 20px;
                font-weight: 300;
                color: #555;
            }
            .setup-header {
                text-align: left;
                margin-bottom: 30px;
            }
            .setup-header h1{
                text-align: left;
            }
            .steps {
                display: table;
                margin: 30px auto 0;
                padding: 0;
                overflow: hidden;
                list-style: none;
                border: 1px solid #ddd;
                border-radius: 3px;
                box-shadow: 0 1px 3px rgba(0,0,0,0.05);
                width: 750px;
            }

            .steps li:first-child {
                border-left: 0;
            }

            .steps li.current {
                background-color: #fff;
                color: #333;
            }

            .steps li {
                display: table-cell;
                width: 33.3%;
                padding: 10px 15px;
                color: #ccc;
                cursor: default;
                border-left: 1px solid #ddd;
                background-color: #fafafa;
            }
            .steps li .step {
                display: block;
            }
            <!--
            .steps li .glyphicon {
                float: left;
                margin-right: 15px;
                padding-bottom: 5px;

                font: normal normal 32px glyphicon;
                line-height: 1;
                display: inline-block;
                text-decoration: none;
                -webkit-font-smoothing: antialiased;
            }

            -->

            .setup-main {
                float: left;
                width: 450px;
            }

            .setup-main li.section.first{
                display: none;
            }

            .setup-main .setup-form-container .clearfix{
                margin-bottom: 10px;
            }



        </style>

        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->





        {% include "header.jinja2" %}




        <div class="container mba-margin-top">
            <div class="row">

                <div class="setup-wrapper col-md-offset-2 col-md-8">
                    <div class="setup-header">
                        <h1>加入MBA志友会</h1>
                        <p class="lead">汇聚您的高端人脉.</p>


                      <!-- Show steps if user is creating an organiation -->
                        <ol class="steps">
                              <li class="current">
                                <!--<span class="glyphicon glyphicon-user"></span>-->
                                <strong class="step">Step 1:</strong>
                                注册帐号
                              </li>
                              <li>
                                <span class="mega-octicon octicon-versions"></span>
                                <strong class="step">Step 2:</strong>
                                完善信息(选填)
                              </li>
                              <li>
                                <span class="mega-octicon octicon-dashboard"></span>
                                <strong class="step">Step 3:</strong>
                                完成注册
                              </li>
                        </ol>

                    </div>

                    <div class="setup-main">
                        <div class="setup-form-container">
                            <noscript>
                                <p class="error">请打开JavaScript支持 </p>
                            </noscript>

                            {{ form }}

                        </div>

                    </div>



                </div>



                <div class="col-md-4 col-md-offset-4">



                </div>
            </div>

        </div>


        {% include "footer.jinja2" %}








        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        <!-- Bootstrap -->
        <script src="static/bootstrap/js/bootstrap.min.js"></script>

        <script src="static/js/plugins.js"></script>

        <script src="static/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
