<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


    </head>
    <body>

        <div class="container">
            <br/>
            <div class="well well-lg">


            <h1>感谢您的真诚申请</h1>
            <p>您的资料已经进入最后审核流程，我们将在一个工作日后通知您注册结果。敬请留意</p>

                </div>

        </div>
{#        注册成功，正在跳转<span id="dot">.</span>#}
{#        <script type="text/javascript">#}
{#            var dot = document.getElementById('dot');#}
{#            setTimeout(function(){#}
{#                dot.innerHTML += ".";#}
{#                setTimeout(function(){#}
{#                    dot.innerHTML += ".";#}
{#                    location.href = '/home';#}
{#                }, 1000);#}
{#            },500);#}
{#        </script>#}
    </body>
</html>
