<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>完善注册资料 | 友汇网</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}

        <style type="text/css">
{#            .setup-wrapper {#}
{#                padding-top: 60px;#}
{#                padding-bottom: 60px;#}
{#            }#}
{#            .setup-wrapper .lead {#}
{#                margin-bottom: 30px;#}
{#                font-size: 20px;#}
{#                font-weight: 300;#}
{#                color: #555;#}
{#            }#}
{#            .setup-header {#}
{#                text-align: left;#}
{#                margin-bottom: 30px;#}
{#            }#}
{#            .setup-header h1{#}
{#                text-align: left;#}
{#            }#}
{#            .steps {#}
{#                display: table;#}
{#                margin: 30px auto 0;#}
{#                padding: 0;#}
{#                overflow: hidden;#}
{#                list-style: none;#}
{#                border: 1px solid #ddd;#}
{#                border-radius: 3px;#}
{#                box-shadow: 0 1px 3px rgba(0,0,0,0.05);#}
{#                width: 750px;#}
{#            }#}
{##}
{#            .steps li:first-child {#}
{#                border-left: 0;#}
{#            }#}
{##}
{#            .steps li.current {#}
{#                background-color: #fff;#}
{#                color: #333;#}
{#            }#}
{##}
{#            .steps li {#}
{#                display: table-cell;#}
{#                width: 33.3%;#}
{#                padding: 10px 15px;#}
{#                color: #ccc;#}
{#                cursor: default;#}
{#                border-left: 1px solid #ddd;#}
{#                background-color: #fafafa;#}
{#            }#}
{#            .steps li .step {#}
{#                display: block;#}
{#            }#}
{#            <!--#}
{#            .steps li .glyphicon {#}
{#                float: left;#}
{#                margin-right: 15px;#}
{#                padding-bottom: 5px;#}
{##}
{#                font: normal normal 32px glyphicon;#}
{#                line-height: 1;#}
{#                display: inline-block;#}
{#                text-decoration: none;#}
{#                -webkit-font-smoothing: antialiased;#}
{#            }#}
{##}
{#            -->#}
{##}
{#            .setup-main {#}
{#                float: left;#}
{#                width: 450px;#}
{#            }#}
{##}
{#            .setup-main li.section.first{#}
{#                display: none;#}
{#            }#}
{##}
{#            .setup-main .setup-form-container .clearfix{#}
{#                margin-bottom: 10px;#}
{#            }#}



        </style>

        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->





        {% include "header.jinja2" %}





         <div class="mba-margin-top">

            <div class="container ">
                <div class="row">



                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" id="{{ formwrapper }}">


                        {% include "messages.jinja2" %}
                        {{ form | safe }}



                    </div>
                </div>
            </div>
        </div>


        {% include "footer.jinja2" %}
        {% include "inc/js.jinja2" %}
        <script type="text/javascript">
{#            $(function(){#}
{#                if( isMobile() ){#}
{##}
{#                    // TODO: Fix the third-party keybroad does not send keyup event bug in ios#}
{#                    var $textBox = $("input[name='school']");#}
{#                    setInterval(function(){#}
{#                        $textBox.trigger('keyup');#}
{#                    }, 500);#}
{##}
{#                }#}
{#            });#}

        </script>


    </body>
</html>
