<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- Bootstrap -->
        <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">



        <link rel="stylesheet" href="static/css/normalize.css">
        <link rel="stylesheet" href="static/css/main.css">
        <link rel="stylesheet" href="static/style.css">

        <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <style type="text/css">
/*.table-bordered > tbody > tr > th
{
  width:120px;
  background-color:green;
  padding-left:5px;
}*/
.table > tbody > tr{
  height:36px;
}

.table > tbody > tr > th{
  background:#e5eff5;
  padding-left:10px;
  width:120px;
  vertical-align: middle;
  border-bottom: 2px solid RGB(195,208,217);
}

.table > tbody > tr > th.required
{
  background:#e5eff5 url(static/img/required.jpg) no-repeat left;
}

.input-two-width{
  width:40px;
}

.input-three-width{
  width:60px;
}

.input-four-width{
  width:80px;
}

.input-middle-width{
  width:80px;
}

.slt-year{
  width:75px;
}

.slt-month, slt-day{
  width:60px;
}

.slt-xs{
  width:50px;
}

.inline{
  display: inline;
}

.mba-resume-edit-tbl
{
  font-size: 12px;
}

select.form-control
{
  font-size: 12px;
  
  height: 30px;
}

select.less-pad{
  padding: 6px 6px 6px 0px;
}

.mba-resume-edit-title{
    border-top: 2px solid RGB(0, 124, 201);
    margin-bottom: 2px;
    font-size: 14px;
    vertical-align: middle;;
    height: 28px;
    color: RGB(88,135,165);
    background-color: rgb(223,233,243);
}

.mba-btn-position{
  float: right;
  margin-right: 10px;
}

.mba-resume-part{
  margin-bottom: 10px;
  float: right;
}

table.mba-resume-edit-tbl{
  margin-bottom: 5px;
}

table.mba-resume-edit-tbl > tbody > tr > td{
  padding:3px;
}

.btn{
  line-height: 1;
}

    </style>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->





        {% include "header.jinja2" %}

        <div class="container-fluid mba-margin-top mba-banner" >
            <center><img src="static/img/banner.jpg"></center>
        </div>
        <div class="container">
            <div class="col-md-10 col-md-offset-1 mba-my-resume-cnt">
                <div class="mba-resume-total-grid">
                    <img src="static/img/my_resume_title.jpg">
                    

                    <hr/>

                   <!--  <div class="row"> -->
                        <div class="col-md-3 mba-right-nav">
                            <div class="mba-right-nav-cnt">
                                <center>
                                    <ul class="nav nav-stacked nav-pills" id="resume_summary_cnt">
                                        <li class="active"><a  data-toggle="tab" data-target="" href="#resume_info">个人信息</a></li>
                                        <li ><a href="#eudcation">教育经历</a></li>
                                        <li ><a href="#experience">工作经验</a></li>
                                        <li ><a href="#yixiang">求职意向</a></li>
                                        <li ><a href="#language">语言能力</a></li>
                                    </ul>
                                </center>
                            </div>
                        </div>
                        <div id="myTabContent">

                            <div class="col-md-9  mba-resume-part tab-pane fade  in active" id="resume_info">
                                <div class="mba-resume-edit-title">
                                    <span>个人信息</span>
                                </div>
                                <form name="person_info" method="POST" action="resume_edit3">
                                    <table class="table mba-resume-edit-tbl table-bordered">  
                                          <tbody>  
                                          <tr>
                                              <th class="mba-resume-lbl required col-md-2">姓  名 :</th>
                                              <td class="cols-left col-md-3" >
												  <input type="text" class="form-control  input-sm" value="{{person_info.real_name}}" name="name" size="20">
                                              </td>
                                              <th  class="mba-resume-lbl  required col-md-2">性   别 :</th>
                                              <td class="col-md-5">

                                                  <input id="sex_0" type="radio" value="0" name="sex">男
                                                <label class="radio-inline" for="sex_0">
                                                </label>
                                                  <input id="sex_1" type="radio" value="1" name="sex">女
                                                <label class="radio-inline" for="sex_1">
                                                </label>
<script type="text/javascript">
    mbaForm.addCallback(
            'sex',
            function (oid, arg) {
	    	value = arg || {{person_info.sex}};
		rid = oid + '_' + value;
                $('#'+rid).attr('checked', 'checked');
            }
    );
</script>
                                              </td>
                                            </tr>

                                             <tr>
                                              <th class="mba-resume-lbl required">出生日期 :</th>
                                              <td class="cols-left">
													<input type='text' name='birth_date' value='{{person_info.birth_date}}' id="birth_date"/>
<script type="text/javascript">
    mbaForm.addCallback(
            'birth_date',
            function (oid) {
                $('#' + oid).datepicker({dateFormat:'yy-mm-dd'});
            }
    );
</script>
                                              </td>
                                              <th  class="mba-resume-lbl  required">工作年限 :</th>
                                              <td>
                                                <select id="work_years" name="work_years" class="form-control selectpicker">  
                                                  <option value=0>小于一年</option>  
                                                  <option value=1>一到三年</option>  
                                                  <option value=2>三到五年</option>  
                                                  <option value=3>五年以上</option>  
                                                </select>  
<script type="text/javascript">
    mbaForm.addCallback(
            'work_years',
            function (oid) {
	    $('#' + oid).val("{{person_info.work_years}}");
            }
    );
</script>
                                              </td>
                                            </tr>

                                            <tr>
                                              <th class="mba-resume-lbl required">证件类型 :</th>
                                              <td class="cols-left">
                                                <select id="identify_type" name="identify_type"  class="form-control selectpicker">  
                                                  <option value=0>身份证</option>  
                                                  <option value=1>军官证</option>  
                                                </select>
<script type="text/javascript">
    mbaForm.addCallback(
            'identify_type',
            function (oid) {
	    $('#' + oid).val("{{person_info.identify_type}}");
            }
    );
</script>
                
                                              </td>
                                              <th  class="mba-resume-lbl">证件号 :</th>
                                              <td>
						      <input type="text" class="form-control  input-sm" value="{{person_info.identify}}" id="identify" name="identify" size="20">
                                              </td>
                                            </tr>

                                            <tr>
                                              <th class="mba-resume-lbl required">居住地 :</th>
                                              <td class="cols-left">
						      <input type="text" class="form-control  input-sm" value="{{person_info.location}}" name="location" id="location" size="20">
                                              </td>
                                              <th  class="mba-resume-lbl">Email :</th>
                                              <td>
<input type="email" class="form-control  input-sm" value="{{person_info.email}}" name="name" size="20">
                                              </td>
                                            </tr>

                                             <tr>
                                              <th class="mba-resume-lbl">目前年薪 :</th>
                                              <td class="cols-left">
<input type="number" class="form-control inline input-sm input-middle-width"  value="{{person_info.salary}}" placehold="请选择" name="salary" size="20"><label>/年</label>
                                              </td>
                                              <th  class="mba-resume-lbl">币种 :</th>
                                              <td>
                                                  人民币
                                              </td>
                                            </tr>


                                             <tr>
                                              <th class="mba-resume-lbl">手机号码 :</th>
                                              <td class="cols-left">
					<input type="phone" class="form-control inline input-sm input-middle-width" 
						      value="{{person_info.phone}}" name="telephoe" size="22">
                                              </td>
                                              <th  class="mba-resume-lbl">公司电话 :</th>
                                              <td>
                <input type="number" class="form-control inline input-sm input-four-width"   placeholder="总机"
		 name="company_phone" size="20">
                                              </td>
                                            </tr>


                                            </tbody>
                                    </table>
                                    <button name="person_save" class="btn btn-primary mba-btn-position">保存</button>
                                </form>
<script type="text/javascript">
  mbaForm.addCallback(
     'person_info',
     function(oid) {
         var options = {
           target: '#' + oid,
           replaceTarget: true,
           success:function () {
             mbaForm.processCallbacks();
             mbaForm.focusFirstInput();
           }
         };
         var extra_options = {success:
        function (rText, sText, xhr, form) {
            var loc = xhr.getResponseHeader('X-Relocate');
            if (loc) {
                document.location = loc;
            }
        }
    } || {};
         $('#' + oid).ajaxForm($.extend(options, extra_options)).submit(function(){
		alert('hear');
		return false;
		});
   });
</script>
                                
                            </div>


                            <div  class="col-md-9  tab-pane  mba-resume-part" id="eudcation">
                                <div class="mba-resume-edit-title">
                                    <span>教育经历</span>
                                </div>
                                <form name="resume_info" method="POST" action="resume_edit">
                                    <table class="table mba-resume-edit-tbl table-bordered">  
                                          <tbody>  
                                          <tr  colspan="2">
                                              <th class="mba-resume-lbl required col-md-2">时间 :</th>
                                              <td class="cols-left col-md-3" >
                                                <!-- <input type="text" class="form-control  input-sm" value="羊初发" name="name" size="20"> -->
                                                <!-- <a href="javascript:void(0);" class="link-delete">删除</a> -->
                                              </td>
                                             
                                            </tr>

                                             <tr>
                                              <th class="mba-resume-lbl required">学校 :</th>
                                              <td class="cols-left">
                                                <input type="text" class="form-control  input-sm" value="电子科技大学" name="name" size="20">
                                              </td>
                                              <th  class="mba-resume-lbl  required">专业 :</th>
                                              <td>
                                                   <input type="text" class="form-control  input-sm" value="通信工程" name="name" size="20">
                                              </td>
                                            </tr>

                                            <tr>
                                              <th class="mba-resume-lbl required">学历 :</th>
                                              <td class="cols-left">
                                                <select  class="form-control selectpicker">  
                                                  <option value="docotor">博士</option>  
                                                  <option value="docotor">硕士</option>
                                                  <option value="docotor">学士</option> 
                                                  <option value="docotor">专科</option>  
                                                </select>  
                
                                              </td>
                                              <th  class="mba-resume-lbl">证件号 :</th>
                                              <td>
                                                <input type="text" class="form-control  input-sm" value="430521198404076586" name="name" size="20">
                                              </td>
                                            </tr>
                                            </tbody>
                                    </table>
                                    <button class="btn btn-primary mba-btn-position">继续添加</button><button class="btn btn-primary mba-btn-position">删除</button><button class="btn btn-primary mba-btn-position">保存</button>
                                </form>
                            </div>



                            <div  class="col-md-9  tab-pane  mba-resume-part" id="experience">
                                <div class="mba-resume-edit-title">
                                    <span>工作经历</span>
                                </div>
                                <form name="resume_info" method="POST" action="resume_edit">
                                    <table class="table mba-resume-edit-tbl table-bordered">  
                                          <tbody>  
                                          <tr>
                                              <th class="mba-resume-lbl required col-md-2">时间 :</th>
                                              <td class="cols-left col-md-3" >
                                               <!--  <input type="text" class="form-control  input-sm" value="羊初发" name="name" size="20"> -->
                                              </td>
                                             <!--  <th  class="mba-resume-lbl  required col-md-2">性   别 :</th>
                                              <td class="col-md-5">
                                                <label class="radio radio-inline" >
                                                  <input type="radio" checked="checked" value="男" name="sex">男
                                                </label>
                                                <label class="radio radio-inline">
                                                  <input type="radio" value="女" name="sex">女
                                                </label>
                                              </td> -->
                                            </tr>

                                             <tr>
                                              <th class="mba-resume-lbl required">公司名称 :</th>
                                              <td class="cols-left">
                                        
                                                <input type="text" class="form-control  input-sm" value="普联技术有限公司" name="company_name" size="20">
                                              </td>
                                              <th  class="mba-resume-lbl">公司性质 :</th>
                                              <td>
                                                <select  class="form-control selectpicker">  
                                                  <option value=0>外商独资/外企办事处</option>  
                                                  <option value=1>中外合资</option>  
                                                  <option value=2>私营/民营</option>  
                                                  <option value=3>国有企业</option>  
                                                  <option value=3>国内上市公司</option>
                                                </select>  
                                              </td>
                                            </tr>

                                            <tr>
                                              <th class="mba-resume-lbl">公司规模 :</th>
                                              <td class="cols-left">
                                                <select  class="form-control selectpicker">  
                                                  <option>1-100人</option>  
                                                  <option>100-500人</option> 
                                                  <option>500-1000人</option>
                                                  <option>1000-2000人</option> 
                                                  <option>2000-5000人</option> 
                                                  <option>5000-10000人</option> 
                                                  <option>10000人以上</option>  
                                                </select>  
                
                                              </td>
                                              <th  class="mba-resume-lbl  required">职位 :</th>
                                              <td>
                                                <input type="text" class="form-control  input-sm" value="软件工程师" name="name" size="20">
                                              </td>
                                            </tr>



                                            </tbody>
                                    </table>
                                    <button class="btn btn-primary mba-btn-position">保存</button>
                                </form>
                            </div>

                            

                            <div  class="col-md-9  tab-pane  mba-resume-part" id="yixiang">
                                <div class="mba-resume-edit-title">
                                    <span>求职意向</span>
                                </div>
                                <form name="resume_info" method="POST" action="resume_edit">
                                    <table class="table mba-resume-edit-tbl table-bordered">  
                                          <tbody>  
                                          <tr>
                                              <th class="mba-resume-lbl required col-md-2">地点 :</th>
                                              <td class="cols-left col-md-3" >
                                                <input type="text" class="form-control  input-sm" value="深圳" name="name" size="20">
                                              </td>
                                              <th  class="mba-resume-lbl  required col-md-2">岗位 :</th>
                                              <td class="col-md-5">
                                               <input type="text" class="form-control  input-sm" value="软件工程师" name="name" size="20">
                                              </td>
                                            </tr>

                                             <tr>
                                              <th class="mba-resume-lbl required">期望薪资 :</th>
                                              <td class="cols-left">
                                                <select  class="form-control selectpicker inline slt-year select-sm">  
                                                  <option>2k-5k</option>  
                                                  <option>5k-10k</option>  
                                                  <option>10-15k</option>  
                                                  <option>15-25k</option>  
                                                  <option>25-50k</option>  
                                                  <option>50k以上</option> 
                                                </select>  
                                    
                                              </td>
                                             <!--  <th  class="mba-resume-lbl  required">工作年限 :</th>
                                              <td>
                                                <select  class="form-control selectpicker">  
                                                  <option value=0>小于一年</option>  
                                                  <option value=1>一到三年</option>  
                                                  <option value=2>三到五年</option>  
                                                  <option value=3>五年以上</option>  
                                                </select>  
                                              </td> -->
                                            </tr>


                                            </tbody>
                                    </table>
                                    <button class="btn btn-primary mba-btn-position">保存</button>
                                </form>
                            </div>


                             <div  class="col-md-9  tab-pane  mba-resume-part" id="language">
                                <div class="mba-resume-edit-title">
                                    <span>语言能力</span>
                                </div>
                                <form name="resume_info" method="POST" action="resume_edit">
                                    <table class="table mba-resume-edit-tbl table-bordered">  
                                          <tbody>  
                                          <tr>
                                              <th class="mba-resume-lbl required col-md-2">语言能力 :</th>
                                              <td class="cols-left col-md-10" >
                                             <!--  <div class="controls">
                                                <label class="checkbox inline">
                                                  <input type="checkbox" value="option1" id="inlineCheckbox1"> 1
                                                </label>
                                                <label class="checkbox inline">
                                                  <input type="checkbox" value="option2" id="inlineCheckbox2"> 2
                                                </label>
                                                <label class="checkbox inline">
                                                  <input type="checkbox" value="option3" id="inlineCheckbox3"> 3
                                                </label>
                                              </div> -->



                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox1" checked value="option1"> 英语
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox2" value="option2"> 粤语
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox3" value="option3"> 日语
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox3" value="option3"> 其他
                                              </label>
                


                                                <!-- <label class="checkbox checkbox-inline"><input type="checkbox">英语</label>
                                                <label class="checkbox checkbox-inline"><input type="checkbox">粤语</label>
                                                <label class="checkbox checkbox-inline"><input type="checkbox">日语</label>
                                                <label class="checkbox checkbox-inline"><input type="checkbox">其他</label> -->
                                              </td>

                                            </tr>
                                            </tbody>
                                    </table>
                                    <button class="btn btn-primary mba-btn-position">保存</button>
                                </form>
                            </div>






                        </div>
                    <!-- </div> -->
                </div>
                </div>
                
            </div>
        </div>


        {% include "footer.jinja2" %}


        <!-- Bootstrap -->
        <script src="static/bootstrap/js/bootstrap.min.js"></script>

        <script src="static/js/plugins.js"></script>

        <script src="static/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');


           $(document).ready(function(){
              $("#resume_summary_cnt").delegate("li", "click", function() {
                console.log(11);
                $(this).parent().children().each(function() {
                  $(this).removeClass("active");
                });
                $(this).addClasss("active");
              });

           });
        </script>
    </body>
</html>
