<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->


    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}
       

        <script src="/fanstatic/mba/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
     <style type="text/css">
     
     .search_result{
        background-color: #EAEAE9;
        height:40px;
        line-height: 40px;
        padding-left: 10px;
     }
      .search_number{
        color: #1B66A2;
      }

      .search_list{
        background-color: #FAFAF9;
        height: 300px;
        border:1px solid #DADCDF;
        margin-top: 20px;
      }

      input[type="radio"], input[type="checkbox"].search-option {
          line-height: normal;
          margin: 10px 5px 5px;
      }

      .option-number{
        color: #A09C96;
        font-size: 10px;
        margin-left:5px;
      }
    </style>
    <body class="job_manage">  

        {% include "header.jinja2" %}

     
        <div class="container mt50  pt25">
            <div class="row search_result" style="">
		    <span>搜索结果（有<span class="search_number">{{count}}</span>条信息符合搜索结果）</span>

            </div>

            <div class="row search_list" style="">
               <div class="col-md-3  pt25" style="height:100%;border-right:1px solid #D9DEE0;padding-left:20px">
                  <ul>
                    <li>
		    <input type="checkbox" class="search-option" name="option" data-val="1" />信息<span class="option-number">({{count1}})</span>
                    </li>
                     <li>
		     <input type="checkbox" class="search-option" name="option" data-val="2" />活动<span class="option-number">({{count2}})</span>
                    </li>
                     <li>
		     <input type="checkbox" class="search-option" name="option" data-val="3" />职位<span class="option-number">({{count3}})</span>
                    </li>
                  </ul>
               </div>
               <div class="col-md-9 pt25">
                  <table class="table table-hover">  
                          <tbody>
			  {% for info in infos %}
                            <tr> 
			      <td>{{info.title}}</td>  
			      <td>{{info.creation_date.strftime('%Y-%m-%d')}}</td>
                            </tr>
			    {% endfor %}
                            </tbody>
                    </table>
                    <nav style="float:right">
                        {% include "/admin/pagination.jinja2" %}
                    </nav>
               </div>

            </div>

                

                  
            
        </div>

        {% include "footer.jinja2" %}


     
        <script>window.jQuery || document.write('<script src="/fanstatic/mba/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        <!-- Bootstrap -->
        <script src="/fanstatic/mba/bootstrap/js/bootstrap.min.js"></script>

        <script src="/fanstatic/mba/js/plugins.js"></script>

        <script src="/fanstatic/mba/js/main.js"></script>
       
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}

$(document).ready(function (){
            $(".search-option").click(function select_option() {
		 var param = getUrlVars();
		 var vs = "";
		 $(".search-option").each(function () {
		    if($(this).prop('checked')) {
			     var v = $(this).attr("data-val");
			     vs += v + ","
	             }
	         });
		 window.location.href = "search-info?q="+param["q"]+"&v="+vs;
             });

	    var pa = getUrlVars();
	    var v = [0,0,0]
	    if("v" in pa) {
	        var vs = pa["v"].split(",")
		for(var j = 0; j < vs.length; j++) {
		        if(vs[j] != "") {
			v[j] = vs[j]
			}
		}
	    }

	 $(".search-option").each(function () {
	     var d = $(this).attr("data-val")
	     if(jQuery.inArray(d, v) != -1) {
	    	$(this).prop('checked', true);
	     }
	 });
});


              /* $("li#li_job").parent().find("li").removeClass("active");
               //$("li#li_job").find('a').addClass("active");
               $("li#li_job").addClass("active")*/
        </script>
    </body>
</html>
