<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->


    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% include "inc/css.jinja2" %}
       

        <script src="/fanstatic/mba/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
     <style type="text/css">
     
     .search_result{
        background-color: #EAEAE9;
        height:40px;
        line-height: 40px;
        padding-left: 10px;
     }
      .search_number{
        color: #1B66A2;
      }

      .search_list{
        background-color: #FAFAF9;
        height: 300px;
        border:1px solid #DADCDF;
        margin-top: 20px;
      }
    </style>
 
    <body class="job_manage">  

        {% include "header.jinja2" %}

     
        <div class="container mt50  pt25">
            <div class="row search_result" style="">
               <span>搜索结果（有<span class="search_number">231</span>条信息符合搜索结果）</span>

            </div>

            <div class="row search_list" style="">
               <div class="col-md-3">
                  <ul>
                    <li>
                      
                    </li>
                  </ul>
               </div>
               <div class="col-md-9 pt25">
                  <table class="table table-hover">  
                          <tbody>  
                            <tr> 
                              <td>第55期活动：传统行业如何与互联网结合</td>  
                              <td>2014-12-13</td>
                            </tr>
                            <tr> 
                               <td>互联网项目需要风投</td>  
                              <td>2014-12-13</td>
                            </tr>
                             <tr> 
                               <td>中国互联网大会分享</td>  
                              <td>2014-12-13</td>
                            </tr>       
                            </tbody>
                    </table>
                    <nav>
                      <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                      </ul>
                    </nav>
               </div>

            </div>

                

                  
            
        </div>

        {% include "footer.jinja2" %}


     
        <script>window.jQuery || document.write('<script src="/fanstatic/mba/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        <!-- Bootstrap -->
        <script src="/fanstatic/mba/bootstrap/js/bootstrap.min.js"></script>

        <script src="/fanstatic/mba/js/plugins.js"></script>

        <script src="/fanstatic/mba/js/main.js"></script>
       
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
           

              /* $("li#li_job").parent().find("li").removeClass("active");
               //$("li#li_job").find('a').addClass("active");
               $("li#li_job").addClass("active")*/
            })
        </script>
    </body>
</html>
