ul li {
  list-style-type: none;
}
body {
  font-family: "微软雅黑", "宋体", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
body h1,
body h2,
body h3 {
  font-family: "微软雅黑", "黑体", "宋体", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
.mba-nav {
  background-color: #2e70ba;
  border: 0;
}
.mba-nav .navbar-header .navbar-brand {
  margin: 0 ;
  padding: 0 ;
}
.mba-nav .navbar-collapse {
  margin-top: 12px;
}
.mba-nav .navbar-collapse .navbar-nav {
  padding-left: 5px;
}
.mba-nav .navbar-collapse .navbar-nav > li > a {
  background-color: #2e70ba;
  color: white;
}
.mba-nav .navbar-collapse .navbar-nav > li > a:hover,
.mba-nav .navbar-collapse .navbar-nav > a:focus {
  background-color: #6c94be;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.mba-carousel {
  margin-top: 76px;
}
.mba-carousel .carousel-inner .item {
  background-color: #2e70ba;
}
.mba-carousel .carousel-inner .item img {
  margin: auto;
}
.mba-carousel .carousel-control {
  display: none ;
}
.mba-login {
  background-color: #193e6b;
  padding: 20px;
}
.mba-index-main {
  border-bottom: solid 1px #cccccc;
}
.mba-index-main ul li {
  line-height: 30px;
}
.mba-footer {
  background-color: #cccccc;
  border-top: solid 1px #ffffff;
  padding-bottom: 10px;
}
.mba-footer .mba-weixin {
  margin-top: 20px;
}
