{#author: sunset#}
{#date: 20141231#}
{#desc: This is for meetup signup from mobile browser, desktop browser will use another portal #}



<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <style type="text/css">
            .form-control{
                width: 65%;
            }
        </style>


    </head>
    <body>

        {{ form | safe }}

        <script type="text/javascript">
            $(function(){

            });
        </script>

    </body>
</html>
